[2016-09-13 17:25] lk-geimfari opened #1 "Required docs [Sphinx]"
Very required the documentation, because at this moment we have only small [guidebook](https://github.com/lk-geimfari/church/blob/master/docs/README.md).

[2016-09-13 17:53] lk-geimfari opened #2 "Test required"

[2016-09-13 17:53] #2 closed

[2016-09-13 20:05] lk-geimfari opened #3 "Need support of other locales."
We need to add:

- 🇷🇴 Roumanian
- 🇱🇹 Lithuanian
- 🇱🇻 Latvian

Feel free to send us request for another language which not in list.

**You should use**: [locale_template](https://github.com/lk-geimfari/mimesis/tree/master/mimesis/data/locale_template)

[2016-09-13 23:01] lk-geimfari opened #4 "Add to awesome-python"
It's done! Thanks everyone!

[2016-09-15 09:44] Offirmo opened #6 "Offensive name"
sorry. I get the joke, but it's a bit offensive. :cry:

[2016-09-15 09:48] Offirmo commented on #6
I don't want to complain without offering suggestions:
- pinocchio (or pynocchio ;)
- (looking for more)

[2016-09-15 10:57] lk-geimfari commented on #6
@Offirmo Jesus Christ! Are you serious?

[2016-09-15 11:33] Offirmo commented on #6
I understand you want to make a joke, but "Church as a generator of fake data" is derogatory. You may want to check http://contributor-covenant.org/ (emphasis mine)

Words and how we use them is more serious that you may think. I suggest you see this incident as a learning experience.

You may also want to check http://geekfeminism.wikia.com/wiki/Geek_Feminism_Wiki for an example of struggle for e

[2016-09-15 11:34] Offirmo commented on #6
In case you wonder, it's very easy to rename a git repo. Just go to the "settings" tab.

[2016-09-15 11:57] lk-geimfari commented on #6
@Offirmo [Some interesting things](https://en.wikipedia.org/wiki/Freedom_of_speech). If you are offended by the name of this library, just do not use it, okay? I like this library, i will use this library and i will use this name. You can use another library and ignore 'church'. It's so simple.

[2016-09-15 17:19] Offirmo commented on #6
That's interesting https://www.ashedryden.com/blog/codes-of-conduct-101-faq#cocfaqcensorship

[2016-09-15 17:19] Offirmo commented on #6
I'll even quote it for you

ISN'T THIS CENSORSHIP? WHAT ABOUT FREE SPEECH?
Free speech laws do not apply to harassment and assault and furthermore don't apply to individuals that are not representing the government. The point at which a person is actively harming another individual is not only not free speech, but it is against the law.

You can read more about the first amendment on Wikipedia.

D

[2016-09-18 10:41] lk-geimfari commented on #4
The required number of votes is already available. The issue is closed. Thanks everyone!

[2016-09-28 09:31] lk-geimfari opened #10 "Test waffle"

[2016-09-28 09:31] lk-geimfari opened #11 "Test waffle"

[2016-09-28 11:03] lk-geimfari opened #12 "Faker vs Church?"
[A small comparison](https://github.com/lk-geimfari/church/blob/master/examples/faker_vs_church.py)

P.S If you think that I'm not objective, then you can double-check result. I'll be glad to know the weaknesses of `church`.

[2016-09-28 17:39] lk-geimfari commented on #6
If someone wants to take part in the holy war, then it's time.

[2016-09-28 20:32] lk-geimfari commented on #4
Now it's complelty done!

[2016-09-28 20:32] #4 closed

[2016-09-28 23:32] sobolevn opened #13 ""Big list of naughty strings" support"
I really like the ["Big naughty strings"](https://github.com/minimaxir/big-list-of-naughty-strings) collection. Is it possible to support them?

To generate bad input from user.

[2016-09-29 09:14] lk-geimfari commented on #13
Yes, it's possible. I think it would be great!

[2016-09-29 21:02] lk-geimfari commented on #13
Done!

[2016-09-29 21:02] #13 closed

[2016-09-29 21:11] csik commented on #6
See cf "Prayer Gauge Debate" p. 784 http://users.uoa.gr/~mpatin/Modern%20Science/Gieryn.pdf

[2016-09-30 11:52] waynew commented on #6
I'm religious and I don't find this name offensive at all.

[2016-10-02 12:48] ruipacheco opened #16 "Isn't this the same as FactoryBoy?"
The functionality seems to be pretty common to [FactoryBoy](https://factoryboy.readthedocs.io/en/latest/). Why a new library?

[2016-10-02 13:02] lk-geimfari commented on #16
I never used FactoryBoy, but church supported more languages than Faker and work faster then Faker.

[2016-10-02 13:04] ruipacheco commented on #16
FactoryBoy is a random data generator for tests. Church seems to serve the same purpose. And by languages do you mean natural languages or programming languages?

[2016-10-02 13:06] lk-geimfari commented on #16
@ruipacheco Sorry. Not languages. `church` supported more specific data.

[2016-10-02 13:08] lk-geimfari commented on #16
@ruipacheco At this moment church support only 4 languages: `en_us`, `de_de`, `fr_fr`, `ru_ru`. In the near future will be add support for Spanish.

[2016-10-02 13:09] ruipacheco commented on #16
How does it generate data in those languages?

[2016-10-02 13:10] lk-geimfari commented on #16
@ruipacheco [A small guidebook]( https://github.com/lk-geimfari/church/tree/master/docs)

[2016-10-02 13:11] lk-geimfari commented on #16
@ruipacheco There are no recent changes, but nevertheless.

[2016-10-02 13:13] ruipacheco commented on #16
Not what I meant. How does Church know that a given string is a valid Russian surname?

[2016-10-02 13:18] lk-geimfari commented on #16
Oh. We have special folder for all languages. For Russia is 'ru_ru' and all data in ru_ru folder in russian languages.

[code]

[2016-10-03 09:01] #16 closed

[2016-10-03 19:17] lokhi commented on #3
I can help you with french if you want

[2016-10-03 19:33] lk-geimfari commented on #3
@lokhi If something is missing, then add, please. If something in data is a wrong then fix this, please. Thank you very much!

[2016-10-03 19:34] lokhi commented on #3
Thanks I will check that ;)

[2016-10-04 23:17] vltr commented on #12
py2 + faker is still a major plus, at least for me :wink:

[2016-10-05 08:56] lk-geimfari commented on #12
@vltr We refused from Python 2, because we use `lru_cache`.

[2016-10-05 10:37] vltr commented on #12
Np. Don't take this seriously, I was mostly kidding because it would be (in
math terms) impossible to measure this bench in py2 ;)

Nevertheless, I was curious about why not having a py2 version, and you
answer it :)

Cheers!
Richard.

Em 5 de out de 2016 5:56 AM, "Lk Geimfari" <notifications@github.com>
escreveu:

[2016-10-05 10:45] lk-geimfari commented on #12
@vltr Oh, okay. Thank you for your interest!

[2016-10-05 19:41] lk-geimfari opened #18 "Add a generator of numbers."
- Floats
- Integers

[2016-10-05 21:58] #18 closed

[2016-10-06 10:25] #6 closed

[2016-10-06 19:00] lk-geimfari opened #19 "Create an extension for Flask."
[Flask-Church](https://github.com/lk-geimfari/flask_church) - An extension for `Flask` that help you generate fake data. [Flask-Church](https://github.com/lk-geimfari/flask_church) is a small wrapper for `Church` library. (Version: `0.0.1`, Status: `Pre-alpha`)

TODO:
- Format code
- Add supporting for ORM (SQLAlchemy)
- Add more features (i have no idea which features, but...)

Any suggestions?

[2016-10-17 20:51] Battleroid commented on #1
If it's alright with you, I'll give it a shot.

[2016-10-17 20:55] lk-geimfari commented on #1
@Battleroid Thank you! Let me know about your final decision.

[2016-10-17 23:16] auyer commented on #3
I can help with Brazilian Portuguese !

[2016-10-17 23:37] lk-geimfari commented on #3
@auyer It would be awesome! I [added](https://github.com/lk-geimfari/church/tree/master/church/data/pt-br) folder for pt-br locale. Please, check out what data we need. Thank you for your contribute!

[2016-10-18 12:31] Hellowlol commented on #3
much of the data from countries  can be found on Wikipedia. Like list of cites, names etc. would be nice to use a script to fix this

[2016-10-18 12:39] lk-geimfari commented on #3
@Hellowlol Yeah, i use `BeautifulSoup` for grabbing some data from another sites. For grabbing from Wikipedia i use Chrome [extension](https://chrome.google.com/webstore/detail/copytables/ekdpkppgmlalfkphpibadldikjimijon) that helped copping a column from a table.

[2016-10-18 13:16] jackmcmorrow commented on #3
Hey @auyer ! I want to help with ptbr too! Hit me up and we can work on it together!

[2016-10-18 13:19] jackmcmorrow commented on #3
Here is a list of brazilian cities with more than 100.000 inhabitans. That's 300+ names in a table.

[2016-10-18 13:19] jackmcmorrow commented on #3
Oops, forgot the link https://pt.m.wikipedia.org/wiki/Lista_de_municípios_do_Brasil_acima_de_cem_mil_habitantes

[2016-10-18 13:44] auyer commented on #3
@jackmcmorrow Sure ! Thanks ! I'll push my changes to my fork. You can make PRs there ! https://github.com/auyer/church

[2016-10-18 15:40] arpit1997 commented on #1
I would like to do these work. Let me know that if there is any need of updating the docStrings or not. One more question about the example, do you want examples included in the docs or not? :rocket:

[2016-10-18 15:53] lk-geimfari commented on #1
@arpit1997 I think that docstrings is actual and recently updated. Yes, it would be good to include examples in the documentation. Everything should be in the 'docs' folder (root of repository). Thanks!

[2016-10-18 18:40] Battleroid commented on #1
I'm going through and trying to put together the Sphinx documentation now. Some of the docstrings have very minor formatting issues so I'll fix those as well if that's ok.

[2016-10-18 19:08] lk-geimfari commented on #1
@Battleroid Sorry for issues in docstrings. Thank you for your contribution!

[2016-10-19 13:59] M4urice opened #25 "Typo in german locale"
https://github.com/lk-geimfari/church/blob/master/church/data/de/company#L7

should be "Deutsche Telekom" see https://en.wikipedia.org/wiki/Deutsche_Telekom

Are these entries added manually or is there maybe a bug in your retrieval system?

[2016-10-19 14:06] lk-geimfari commented on #25
@M4urice I think that I accidentally erased one letter. Thanks for PR!

[2016-10-19 19:52] #25 closed

[2016-10-19 21:41] lk-geimfari opened #26 "Need checking the correctness of the data."
It would be nice to check the correctness of the data for all locales. So, if you are a carrier of a language from list, then please help us.

List of locales whose data need to check:
- :es: - Español ([es](https://github.com/lk-geimfari/church/tree/master/church/data/es))
- :de: - Deutsch ([de](https://github.com/lk-geimfari/church/tree/master/church/data/de))
- :fr: - Français ([fr](https://git

[2016-10-19 21:46] #19 closed

[2016-10-20 07:38] polaroi8d commented on #26
Hey @lk-geimfari can i add the Hungarian version of this? :)

[2016-10-20 09:37] yebrahim commented on #3
Are you looking for RTL languages too?

[2016-10-20 11:21] lk-geimfari commented on #26
@polaroi8d Yes, of course! It's gread idea! If you want i can upload skeleton for `hu` locale. Thanks!

[2016-10-20 11:24] lk-geimfari commented on #3
@yebrahim Yes, but I do not know how to work with these data. So, if you know how to add data for RTL locale correctly then i support your decision.

[2016-10-20 11:38] lk-geimfari commented on #26
@polaroi8d I just now [added](https://github.com/lk-geimfari/church/tree/master/church/data/hu) a skeleton for `hu` locale.

[2016-10-20 12:49] lk-geimfari opened #28 "Add the ability to test all locales at once."
We need test all locales at one moment without manual changes file `tests.py`. Because by default `tests.py` will test only `en` locale. If we want to check other locales then we need manually change value of [LANG](https://github.com/lk-geimfari/church/blob/master/tests.py#L20) in file[ tests.py ](https://github.com/lk-geimfari/church/blob/master/tests.py)and it's not good. One of the best soluti

[2016-10-20 18:36] Battleroid commented on #1
Submitted pull request #29

[2016-10-21 01:40] Battleroid commented on #28
I'm looking at this right now. I think it can be done with `unittest` alone using the list of locales and a custom `TestSuite`.

[2016-10-21 02:09] lk-geimfari commented on #28
@Battleroid Oh, great!. I'll wait for your PR, if you can do it.

[2016-10-21 02:35] Battleroid commented on #28
I'll certainly give it a try!

[2016-10-21 12:44] lk-geimfari commented on #28
@Battleroid Deal!

[2016-10-22 20:30] memilanuk opened #32 "Address.street_address() not working"
Trying to use `church`, ran into a snag with the following:

    Traceback (most recent call last):
      File "<input>", line 1, in <module>
    AttributeError: 'Address' object has no attribute 'street_address'

...which seems pretty much identical to what is shown here (http://church.readthedocs.io/en/latest/guide.html#address):

    address = Address('en')
    ...
    # Get a random address.

[2016-10-22 20:46] lk-geimfari commented on #32
@memilanuk The problem is that the documentation is a bit outdated. I will update documentation soon. So, if you want to get address use follow format:

[code]

[2016-10-22 20:55] memilanuk commented on #32
Ah.  Gotcha, thanks!

[2016-10-22 20:58] lk-geimfari commented on #32
@memilanuk I am glad to help!

[2016-10-22 21:11] memilanuk opened #33 "Add range to Datetime"
Please add a feature to Datetime so as to be able to generate dates within a given range e.g. for birthdates, where dates that are too old or too young aren't terribly useful.

Possibly merge some ideas from `radar` (https://github.com/barseghyanartur/radar) ...which then with some help from str() can generate dates suitable for using in a test DB such as sqlite:

[code]

[2016-10-22 21:47] lk-geimfari commented on #33
@memilanuk Will be done! Thanks for idea.

[2016-10-22 21:47] #32 closed

[2016-10-23 08:11] memilanuk opened #34 "Add Title/Prefix, Suffix options to Personal"
As an example, have something like `person.title()` that would randomly pull from values such as 'Dr.', 'Sir', 'Honorable' (or ' '), or `person.prefix(gender=)` that returns 'Mr.', 'Mrs.', 'Ms.' as appropriate.

Also, similar for suffix to the surname... either `person.surname(suffix=True)` or `person.suffix()` to return values such as 'Sr', 'Jr', 'III', 'PhD', etc.

[2016-10-23 11:38] lk-geimfari commented on #34
If you want to get degree, then use personal.qualification() that return 'Bachelor', 'Master' or 'PhD' (for `en`).

The problem is that the prefixes of the names is not available in all languages. For example in Russian we have not name prefix.

We will try to add this capability. Thank you for idea!

[2016-10-23 12:20] lk-geimfari commented on #34
We also can add prefix for `person.profession()`

Example:
[code]

[2016-10-23 12:50] lk-geimfari opened #35 "Update docs/guide.rst"
With version 0.1.9, there have been many changes therefore we need to update guide.

[2016-10-23 13:51] lk-geimfari opened #36 "Refusal of unstructured data storage."
I think that text files as a storage is not a better solution. We can use JSON for structured data storage.

Example:

[code]
We need to jsonify all data for all locales. @sobolevn what do you think about this idea?

[2016-10-23 21:01] sammyshj commented on #35
I would like to work on this. Can you please point me to the changes in version 0.1.9 so that I can update docs/guide.rst?

[2016-10-23 21:19] lk-geimfari commented on #35
@sammyshj I will publish the full list of changes. As soon as I can.

[2016-10-24 00:22] #1 closed

[2016-10-24 07:41] sobolevn commented on #36
What are your arguments?

It seems to me that using one file will make it unreadable for a human.

[2016-10-24 11:05] memilanuk opened #38 "Add abbreviation to State field"
Add option for abbreviation of state name i.e. something like:

`address.state(abbrev=True)`

to return 'WA' for state, vs. 'Washington'.

Probably want to do something similar for states/provinces in other countries?

[2016-10-24 12:43] lk-geimfari commented on #38
I think that it's possible. We will add this functionality soon. Thanks!

[2016-10-24 21:11] sammyshj commented on #36
@lk-geimfari I want to work on this. Where should I look at for storing the structured data?

[2016-10-25 11:55] lk-geimfari commented on #36
@sammyshj Today, I will upload dev-brunch.

[2016-10-25 20:09] lk-geimfari commented on #38
@memilanuk [It's](https://github.com/lk-geimfari/church/commit/854c6be106897ff9ba0aaa7dacfa8e8749a5eeaf) done!

[2016-10-25 20:24] lk-geimfari commented on #36
It's done!

[2016-10-25 20:24] #36 closed

[2016-10-25 20:33] #38 closed

[2016-10-25 22:17] Battleroid commented on #28
I submitted my attempt at PR #43.

[2016-10-25 22:27] lk-geimfari commented on #28
@Battleroid Great work! Thank you!

[2016-10-26 15:16] mirelsol opened #45 "Wrong display of a french address"
[code]

The output should be:
'371 Rue du Bezout'

[2016-10-26 15:34] theomessin commented on #3
Want to help with Greek!

[2016-10-26 15:37] lk-geimfari commented on #45
@mirelsol Thank you for feedback. I will fix it.

[2016-10-26 15:41] lk-geimfari commented on #3
@theomessin Perfect! Let me know when you can do it, please. I can add needed folder and json files

[2016-10-26 15:47] theomessin commented on #3
@lk-geimfari If you could just add the folder and json files that'd be great! I'll start as soon as possible 😄

[2016-10-26 15:57] mirelsol commented on #45
@lk-geimfari in fact I already fixed it. I cloned the project, created a branch then committed my changes. But when I want to push it I get 'permission denied'. What am I missing? Sorry for this dummy question...

[2016-10-26 15:57] lk-geimfari commented on #3
@theomessin Oh, okay. I add all needed tonight. Σας ευχαριστούμε!

[2016-10-26 16:04] lk-geimfari commented on #45
@mirelsol I don't see the `church` in your repositories. Maybe you don't forked the 'church'.

[2016-10-26 19:35] lk-geimfari commented on #3
@theomessin I [added](https://github.com/lk-geimfari/church/tree/master/church/data/el) folder and files for Greek.

[2016-10-27 07:04] mirelsol commented on #45
Ok thanks, sorry I didn't see that you already fixed it.

[2016-10-28 00:06] modkaffes commented on #3
@theomessin @lk-geimfari I'd like to help with greek too! I've started work [here](https://github.com/modkaffes/church/pull/1). @theomessin, want to split files?

[2016-10-28 00:12] lk-geimfari commented on #3
@modkaffes It's great! Thank you!

[2016-10-28 00:56] lk-geimfari opened #47 "Structure of the files of locale [Deprecated]."
So, if you want to add new locale then below you can see the structures of the files of locale:

`personal.json`:

[code]

`business.json`:

[code]

`datetime.json`:

[code]

`food.json`:

[code]

`science.json`:

[code]

`text.json`:

[code]

[2016-10-28 01:01] #28 closed

[2016-10-28 01:03] lk-geimfari commented on #3
When you add a new language, take into account #47

[2016-10-28 02:01] lk-geimfari commented on #33
@memilanuk It's [done!](https://github.com/lk-geimfari/church/commit/651c246347c65ad63fc586a31558e088dfac2a05)!

Example:
[code]

[2016-10-29 15:43] lk-geimfari commented on #34
@memilanuk It's done!

[code]

[2016-10-29 18:07] sobolevn opened #48 "Python2 support"
As we discussed earlier adding legacy `python` version support is not much of an effort.
The main difficulty is the manual labour to ensure every `.decode()` and `.encode()` calls are in place.

However, there are several questions to answer:
- Is `python2` support even needed?
- How important it is?
- How should it be tested?

What do you think?

[2016-10-29 18:40] lk-geimfari commented on #48
@sobolevn To be honest, I have no idea how to check it, but until this moment no one opened issue about this. Let's see what people think about this.

------
As for me, generally I use Python 3. So, if contributors think, that we needed the supporting of `Python 2`, then I have nothing against.

[2016-10-31 12:47] #35 closed

[2016-10-31 12:49] lk-geimfari opened #49 "Full update documentation."
Needed full update of documentation.

[2016-11-04 17:22] #33 closed

[2016-11-04 17:22] #34 closed

[2016-11-04 17:23] #45 closed

[2016-11-08 20:32] lk-geimfari opened #51 "Solve the issues that arose after the renaming of the library."
The library has been renamed (I hope that this name is not offensive) and now we need to check all code lines of our library.

TODO:
- Check documentation.
- Check docstrings.

[2016-11-08 20:35] #12 closed

[2016-11-12 05:42] Battleroid commented on #51
Submitted #52.

[2016-11-12 09:24] lk-geimfari commented on #51
@Battleroid Thank you!

[2016-11-14 20:57] lk-geimfari opened #53 "Rewrite all @property as dynamics."
TODO:
 - [Rewrite all @property as dynamics.](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/elizabeth.py#L65v)

[2016-11-24 14:42] lk-geimfari commented on #6
Library has been renamed.

[2016-11-25 09:28] Offirmo commented on #6
:+1:

[2016-11-28 12:28] lk-geimfari opened #55 "Test Path in MS Windows."
Today has been added class `Path` that provides methods and property for generate the dummy paths. I tested it only on Linux. It would be great if someone can run all tests on MS Windows.

Usage
[code]

[2016-11-30 15:27] lk-geimfari opened #56 "Run tests on macOS"
I think that it's should work without problems, but i need make sure.

[2016-12-01 20:46] nebesnytihohod commented on #55
@lk-geimfari, after you fix the problem with the import Path, which we discussed, now

run correctly.
I tested feature of generating sys.path.
Result:
[code]

For Windows one of the backslash is superfluous.
I'll try to fix it.

[2016-12-02 09:57] lk-geimfari commented on #55
@nebesnytihohod I thought that this format works with Windows. Are you sure that is format does not work?

[2016-12-05 09:35] lk-geimfari opened #58 "To update README.md"
TODO:
- Refactoring
- Beautify
- Delete excess things

[2016-12-05 10:45] #58 closed

[2016-12-05 14:52] nebesnytihohod commented on #55
_Ooops... really..._
Now checked, and it turned out that in CLI in Windows-10, -7,  you can write path using the '\\\\', '/', '\\', '//'.
I have always thought, and in the Microsoft document it is written, that we should use only '\\\'.

Then the question is removed. :-)

[2016-12-05 14:55] #55 closed

[2016-12-15 16:14] aminalaee commented on #48
@lk-geimfari I've tested Python 2 and fixed some issues but Python 2 requires install functools32 when installing. Can we consider switching to setuptools?

[2016-12-15 16:25] lk-geimfari commented on #48
@aminalaee I think that we will only focus on the Python 3.

[2016-12-15 16:26] aminalaee commented on #48
@lk-geimfari Ok, I though it was to be done.

[2016-12-15 16:30] lk-geimfari commented on #48
@aminalaee The advantage is that the library has no dependencies. If we wanna add support of Python 2 we need to add at least one requirement - `six`, and it's not good.

[2016-12-17 11:01] lk-geimfari opened #60 "Update documentation."
Documentation is outdated. We should fix it immediately.

[2016-12-20 05:38] seemethere commented on #56
Looks fine to me.
<img width="922" alt="screen shot 2016-12-19 at 9 38 14 pm" src="https://cloud.githubusercontent.com/assets/1700823/21339363/7c5ee904-c633-11e6-86d6-fb02dab7a797.png">

[2016-12-20 06:18] lk-geimfari commented on #56
@seemethere Great job! Thanks you!

[2016-12-20 06:18] #56 closed

[2016-12-21 14:07] martini97 opened #62 "Add CNPJ and CPF generator to Brazil localization"
Would you mind if I added a CPF (for person) and CNPJ (for companies) to the brazilian location?

[2016-12-21 14:12] lk-geimfari commented on #62
@martini97 Can you show me examples?

[2016-12-21 14:34] lk-geimfari commented on #62
@martini97 If find on wikipedia some information about CNPJ and CPF.

So... `CNPJ consists of a 14-digit number formatted as 00.000.000/0001-00`

It's can be generated using `identifier()` of `Personal()` provider or with `custom_code()` of `Code()` provider.

Using `identifier()`
[code]
Using `custom_code()`:
[code]

Similarly for CPF.

[2016-12-21 14:38] #53 closed

[2016-12-21 15:18] cleac commented on #3
@lk-geimfari hi, I can help with Ukrainian language :smile:  Currently have some work to do, but in a week I'll have a plenty of time

[2016-12-21 15:24] lk-geimfari commented on #3
@cleac It's great! Thank you!

[2016-12-21 15:30] martini97 commented on #62
@lk-geimfari both of these numbers ara CNPJ, have you already got a function for CPF?

It's a 11 digit code formated as 000.000.000-00

[2016-12-21 15:33] martini97 commented on #62
Also, both CPF and CNPJ requires some validations, some of the generated ones aren't valid.

[2016-12-21 15:39] lk-geimfari commented on #62
This functions generate any code you want. Just use `mask="@#"`, where `@` is char and `#` is digit.

[2016-12-21 15:41] martini97 commented on #62
Yes, but it generates invalid CPF and CNPJ, to generate them it's needed to perform a modulo 11 calculation in a base number and add the result to it

[2016-12-21 15:45] martini97 commented on #62
I've this gist with an example for a function that generates it https://gist.github.com/martini97/c2266ed6efc420f3050cec3a0baebd43

[2016-12-21 15:52] lk-geimfari commented on #62
@martini97 Okay, add it to `Code()` and don't forget write tests. Thank you!

[2016-12-21 16:02] yn-coder opened #65 "Auto fetch science.json\article from Wikipedia"
[science.json\article](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/data/en/science.json#L2) is a list of some articles from Wikipedia.

You can fetch it's automaticaly from Wiki Data by [group](https://en.wikipedia.org/wiki/Category:Mathematical_concepts), for example, in Elizabeth generating session.

Is it idea?

[2016-12-21 16:09] lk-geimfari commented on #65
@yn-coder Yeah, it's good idea but our priority is data generating. Articles are not worth such a complexity of the library.

[2016-12-21 16:09] #65 closed

[2016-12-21 16:12] yn-coder commented on #65
:(

[2016-12-21 16:17] martini97 commented on #62
Okay

[2016-12-21 16:17] lk-geimfari commented on #65
@yn-coder I'm sorry, but it requires too much effort.

[2016-12-21 16:20] yn-coder opened #66 "Support for Declension"
Support for [declension](https://en.wikipedia.org/wiki/Declension). This is very usefull for russian and some other languages.

I can suggest some examples for russian, if it would be helpfull.

For example from [address.json](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/data/ru/address.json)

    "suffix": [
          "Аллея",
          "ул."
        ]

If I'll add the `бульвар`

[2016-12-21 16:23] lk-geimfari commented on #66
@yn-coder , So, i answer for your question in Russian.

В эту секцию не добавлено ничего кроме `Аллея` и `ул.` именно из-за проблем со склонением.

[2016-12-21 16:33] martini97 commented on #62
Created the PR

[2016-12-21 16:42] #66 closed

[2016-12-21 17:12] #62 closed

[2016-12-21 17:13] yn-coder commented on #66
Понятно, коллега. Вы подумали об этом. В других языках не было таких запросов?

[2016-12-21 17:22] lk-geimfari commented on #66
@yn-coder Я бы с радостью, но запросов не было а мои знания в других языках сильно ограничены. Суффиксы улиц не стоят того, чтобы ворошить весь код. Пусть их будет только два. Вариаций в итого все равно очень много.

[2016-12-21 17:35] yn-coder commented on #66
`Авангардная площадь` еще можно :)

[2016-12-21 17:41] lk-geimfari commented on #66
@yn-coder Можете добавить, сгенерировать 100 значений и посмотреть возникают ли ошибки, если нет, то без проблем.

[2016-12-21 17:43] yn-coder commented on #66
Забуду. Надо эту задачу открыть

[2016-12-21 17:44] lk-geimfari commented on #66
@yn-coder Я не забуду. Проверю сам.

[2016-12-21 17:57] yn-coder commented on #66
Проверил, вроде звучит корректно. Хотя в наличном списке улиц есть например "Ярославское"

https://github.com/lk-geimfari/elizabeth/pull/68

[2016-12-21 18:01] lk-geimfari commented on #66
С этим немного повременим. `ул.` и `Аллея`  подходят нормально и создают достаточное количество вариаций.

[2016-12-21 19:23] Uncleleech commented on #51
Submitted #69, unsure if you guys wanted it or not so feel free to reject.

[2016-12-22 05:36] lk-geimfari opened #70 "Problems with unicode on Windows."
JeStoneDev from a habr has following:
[code]
So, if your machine on Windows 10 then, please, try to fix it.

[2016-12-22 05:41] #49 closed

[2016-12-22 21:00] mipaaa commented on #70
You should switch the console code page to UTF-8 before running such a code:

`C:\Test\Elizabeth **chcp 65001**
65001

C:\Test\Elizabeth **py**
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

...     print(user.full_name(gender='male'))
...
Oddmar Sandrason
Þiðrandi Ófeigsson
Ljúf

[2016-12-22 21:06] lk-geimfari commented on #70
@mipaaa Thank you!

[2016-12-23 22:10] ulgens commented on #12
@lk-geimfari Why did you delete the comparison? Does any copy of it still exist?

[2016-12-24 06:59] lk-geimfari commented on #12
@ulgens You can find very small comparison [here](https://gist.github.com/lk-geimfari/461ce92fd32379d7b73c9e12164a9154).

Result:

![alt](https://hsto.org/getpro/habr/comment_images/f2f/77a/ed2/f2f77aed2867c4c6ab8cdc6a5db6a77e.png)

[2016-12-24 09:13] ulgens commented on #12
Oh, thank you.

[2016-12-24 09:29] lk-geimfari commented on #12
@ulgens You're welcome!

[2016-12-26 05:15] mdublin opened #73 "Attempting install, getting SyntaxError Non-ASCII character error"
On Mac OSX 10.12.2 using zsh, I run:

`$ pip install elizabeth`

And get the following error message:

[code]

[2016-12-26 06:25] lk-geimfari commented on #73
@mdublin You're tried run it on Python 2. Elizabeth works only on Python 3.

[2016-12-26 19:30] lk-geimfari opened #74 "Add support of custom providers."
We need to realize something like this:

[code]

[2016-12-26 19:33] lk-geimfari commented on #74
@Battleroid What do you think about it? Do you have interest? If you can help me with this I could take the documentation update.

[2016-12-27 03:23] Battleroid commented on #74
Sounds neat. Is there anything in particular you would like me to do? I'll try to get started on it in the morning.

[2016-12-27 04:57] #73 closed

[2016-12-27 06:22] lk-geimfari commented on #74
@Battleroid We need just `add_provider()` method. It would be great if you can do it. Thank you very much!

[2016-12-27 12:02] sametmax opened #75 "Why not contribute to faker instead of creating Yet Another lib ?"
Current we have the very popular and useful faker (https://github.com/joke2k/faker) to generate fixtures. Instead of splitting the FOSS effort, why not join forces ?

[2016-12-27 12:08] lk-geimfari commented on #75
@sametmax Faker is not suitable for my tasks, when i start this project. You always can use Faker. The variety of themes and good.

[2016-12-27 12:09] #75 closed

[2016-12-27 12:10] #70 closed

[2016-12-27 12:10] #26 closed

[2016-12-27 12:13] #48 closed

[2016-12-27 12:14] #51 closed

[2016-12-27 12:40] sametmax commented on #75
Then why didn't you not contribute to this project to make it suitable ? It's open source. What you are doing here is repeating something existing.

[2016-12-27 12:59] lk-geimfari commented on #75
@sametmax As you say "it is open source".  If something has been created, it does not mean that it cannot be created better, right?

[2016-12-27 18:50] Battleroid commented on #74
Created PR #76, hopefully this is what you're looking for.

[2016-12-27 19:15] redus commented on #3
need help with CJK langs? could provide some help as well

[2016-12-27 19:23] lk-geimfari commented on #3
@redus If you can add all data completely for one locale which you want it would be really awesome!  Thank you!

[2016-12-27 19:36] lk-geimfari commented on #74
@Battleroid Thank you!

[2016-12-27 19:40] lk-geimfari commented on #74
@Battleroid How do you think, what is better?

[code]
or

[code]

I think second, because in Generic we use lowercase format.

[2016-12-27 21:04] Battleroid commented on #74
To be honest it's whatever you prefer. I think either way is good, the
former might be preferable since you are just calling the class just as
you would normally. The latter might be a little bit more odd since
you're changing the case.

If need be though you could probably have `add_provider` name the new
provider before setting it as an attribute by looking for a variable
within the provider cla

[2016-12-27 21:05] Battleroid commented on #74
To be honest it's whatever you prefer. I think either way is good, the
former might be preferable since you are just calling the class just as
you would normally. The latter might be a little bit more odd since
you're changing the case.

If need be though you could probably have `add_provider` name the new
provider before setting it as an attribute by looking for a variable
within the provider cla

[2016-12-27 21:10] lk-geimfari commented on #74
@Battleroid Variant with Meta is also great! Thank you!

[2016-12-27 21:35] Battleroid commented on #74
Created PR #77 for the Meta class variant.

[2016-12-27 21:42] lk-geimfari commented on #74
@Battleroid It's great! Thanks.

[2016-12-27 21:43] #74 closed

[2016-12-27 21:53] Battleroid commented on #74
No problem, glad it works.

[2016-12-28 10:31] Uncleleech commented on #75
@sametmax This library doesn't do the same thing as faker. I can see @lk-geimfari's point quite clearly. Also surely having more than one library allows for choice by the user? Perhaps there could be a comparison to faker in the readme so people do not get confused; the timings from #12 spring to mind.

[2016-12-28 10:32] Uncleleech commented on #3
I can help with English (GB). I'll give it a look in a while.

[2016-12-28 10:41] lk-geimfari commented on #75
@Uncleleech I will add full comparison of Elizabeth and Faker as soon as possible. I hope that i can do it tonight.

[2016-12-28 10:43] lk-geimfari commented on #3
@Uncleleech It would be great. Thank you!

[2016-12-28 10:51] Uncleleech commented on #3
@lk-geimfari quick question, does cities include everything (towns, villages) or just cities. I see in the En-Us there is everything but in the UK the definition of city is pretty specific.

Can I just add another list of 'towns' or will this break stuff?

[2016-12-28 11:06] lk-geimfari commented on #3
@Uncleleech Do this, as will be better for UK.

Regarding the 'states', then they are called "subjects" in Russian, "province" in some other countries. We use the 'states' for all locales in JSON, so it was easier to work with data.

[2016-12-28 18:47] lk-geimfari opened #79 "Add comparison with Faker"
Is an commonly asked question. We need to compare Fake and Elizabeth.

[2016-12-28 19:46] Uncleleech commented on #79
as I said in #75, we can def use a speed comparison as in #12.

We dont need to compare what is better so much as what is different I mean that, if faker has some behaviour that elizabeth doesnt show how it differs (the same vice versa)

Also I can see mentioning the structure of the locale files might be good (applying the KISS paradigm :) as I think theirs is a bit of a mess)

[2016-12-28 20:42] lk-geimfari commented on #79
@Uncleleech I completely agree with you. I will add a small comparison of data generation to the README.  Comparison for persons that always ask me about Faker.

[2016-12-29 11:27] lk-geimfari opened #80 "Add json-minifer"
@caspian-seagull It would be great if you can write gulp-task that will minify all `*.json` files in `data/*locale*/`. All dist files will be saved in `release/data` in root of elizabeth.

[2016-12-29 11:34] caspian-seagull commented on #80
u can use gzip
node is shit

[2016-12-29 11:36] #80 closed

[2016-12-29 20:22] lk-geimfari opened #81 "Add builtins specific data providers."
Every language has specific data that suit only for ones. For example `SSN` for `en` (USA) or `CPF` for `pt-br`. `CPF` can be useful only for brazilians.

If user want to use this providers then he must be imported explicitly.

Here's how it will look:
[code]
[code]

[2016-12-29 20:46] lk-geimfari commented on #81
@Battleroid What you think about it? It's sounds useful?

[2016-12-29 21:33] Uncleleech commented on #81
Yes, this is useful.
Perhaps we can also make a general one for custom pieces of data that can be useful as well altough im having trouble picturing how you'd make that

[2016-12-29 21:34] Battleroid commented on #81
Yes, I think it's useful. It's be nice to have an in depth comparison vs faker, both with usage examples and speed information.

[2016-12-29 21:39] lk-geimfari commented on #81
@Battleroid @Uncleleech Also i [added](https://github.com/lk-geimfari/elizabeth#comparison) really small comparison to README with screenshot.

[2016-12-29 21:56] lk-geimfari commented on #81
@Battleroid If you wish, you can carry out more in-depth comparison and add the results to the README. My comparison was too humble.

[2016-12-30 01:56] hand-code opened #82 "chinese suport"
hello,can suport chinese in other locals?

[2016-12-30 03:46] Battleroid commented on #79
Sorry, I responded to the wrong issue, meant to post it here:

Yes, I think it's useful. It's be nice to have an in depth comparison vs faker, both with usage examples and speed comparisons.

[2016-12-30 06:41] lk-geimfari commented on #82
@hand-code Of course! It would be awesome!

[2016-12-30 17:23] Battleroid commented on #81
Sounds good.

[2016-12-31 07:43] #82 closed

[2017-01-02 18:40] fcurella commented on #79
I'd like to expand the comparison with Faker, but I also think it should be moved higher in the README. Not necessarily at the top, but probably before installation and usage.

My understanding is that main advantage of this project is speed. Was there anything else that's not available on Faker or that Elizabeth does better / differently?

[2017-01-02 18:51] lk-geimfari commented on #79
Speed. More specific data. As i say i did not carry out in-depth comparison, because I used the only way Faker:
[code]
Nothing more. But if you can compare it would be cool.

[2017-01-07 14:28] lk-geimfari opened #96 "Check correctness of all data for all locales."
We have the support of 33 languages and it would be great if native-speakers of one's will check the correctness of data for his own language.

For example. I'm Russian and I'm sure of the correctness of the data for this language. But we also want to be sure of the correctness of German (`de`, `de-ch`), Italian (`it`) and other languages.

Checked locales:
- [ ] `cs`
- [ ] `el`
- [ ] `es-mx`
- [

[2017-01-07 15:45] lk-geimfari opened #97 "Test telegram bot"

[2017-01-07 15:45] #97 closed

[2017-01-07 21:07] lk-geimfari opened #101 "Issue with side-panel in docs."
Look [here](http://elizabeth.readthedocs.io/en/latest/), please.

[2017-01-11 05:48] #101 closed

[2017-01-13 22:28] #79 closed

[2017-01-16 08:27] jasonwaiting-dev commented on #3
I can help with Japanese & Chinese.
Have a quick question, there are full width & half width characters in Japanese.
https://en.wikipedia.org/wiki/Half-width_kana
How should I deal with different character sets in elizabeth? I will create full width version first.

[2017-01-16 08:38] lk-geimfari commented on #3
@jasonwaiting-dev You can use `ko` (Korean) as example. Unfortunately, I never worked with the Chinese and Japanese.

[2017-01-16 15:10] yn-coder opened #107 "Proposal - store generated object field value to generate depended fields"
This is a proposal.

Right now I type

    from elizabeth import Personal
    p = Personal('en')
    print( p.age() )
    print( p.age() )

And got output

    25
    40

Because age is generated by request and doesn't store in object `p`. What if I want to add the field `child_count` or `work experience`, depend on previously generated `age` value?

[2017-01-16 16:43] lk-geimfari commented on #107
[code]

[2017-01-16 18:04] redus commented on #3
@jasonwaiting-dev I was unaware there was a difference between the two in Japanese and have no idea how often it's used.

I think the best way should be just provide the full width version first. If the need arises, make a separate locale like ja-half, unless there is an algorithm switching between the two then we should make it available at specific_providers.py

[2017-01-16 18:40] yn-coder commented on #107
:)
I mean store in object.

[2017-01-16 18:49] lk-geimfari commented on #107
I understand and i think that it's not good idea. We have to many methods in all providers.

[2017-01-16 18:52] yn-coder commented on #107
SO lib should be used for generate for unrelated, noise data.
If so, then proposal is unusual

[2017-01-16 18:56] lk-geimfari commented on #107
@yn-coder You don't understand. Depended data is very cool, but i think that saving data in object is not good idea. We need something else.

[2017-01-16 18:58] yn-coder commented on #107
Some cash?

[2017-01-16 19:01] lk-geimfari commented on #107
@yn-coder Not yet.

[2017-01-16 23:44] jasonwaiting-dev commented on #3
@redus it's kind of strange coz some old systems, especially banking systems, in japan are still using half-width characters in database, e.g. アイウエオ (full width) becomes ｱｲｳｴｵ (half width).

I agree that we should just provide full width version at this moment. I am creating jp version now.

[2017-01-17 00:03] redus commented on #3
@jasonwaiting-dev are you making alphanumeric full-width as well? I don't know full-width alphanumeric characters are used or not as well (ＡＢＣＤ０１２３). I believe simple dictionary from full width char to half width char should do it, without any separate locale.

[2017-01-17 06:35] yn-coder commented on #107
@lk-geimfari

Why? Can you explain?

[2017-01-17 06:48] lk-geimfari commented on #107
@yn-coder  Maybe I do not understand what you want.

You can try add your feature in your fork. If everything is okay we also add it to Elizabeth.

Maybe like that:
[code]

Give us example of how it will work.

[2017-01-17 15:30] lk-geimfari opened #108 "Add department to Business"
Add `department()` to `Business()`.

Example:

[code]

[2017-01-18 08:17] yn-coder commented on #107
I read your examples of Elizabeth usage, and now I think I understood.

`Person` object doesn't contain the generated data because you design it just as wrapper for generator funcion. `Person.age()` yeld the new value each time and tester could use it in a loop, without creating the object instance for next person.

Now I see the root of our miscommunication.

I'll prepare a some example for my pr

[2017-01-18 08:19] lk-geimfari commented on #107
Exactly!

[2017-01-18 12:24] yn-coder commented on #107
This is a simple illustration for my idea in my fork

https://github.com/yn-coder/elizabeth/commit/4fa723c36c375e10572f0469c504cf97dee29c72

Code is not production ready, just a demo.

[2017-01-18 12:30] lk-geimfari commented on #107
Generally it looks good.

But i think that this
[code]
 Should be:

[code]

What do you think about it?

[2017-01-18 12:31] lk-geimfari commented on #107
Now i see that it's really useful.

[2017-01-18 12:36] yn-coder commented on #107
@lk-geimfari

You think `self._store` could be expanded for more parameters?

[2017-01-18 12:37] lk-geimfari commented on #107
@yn-coder Yes, we can store in self._store other dependent data.

[2017-01-18 12:45] yn-coder commented on #107
https://github.com/yn-coder/elizabeth/commit/d35218815649e0e54f60500bcdc6b40a8383048e

[2017-01-18 12:46] lk-geimfari commented on #107
@yn-coder Great! Please, check it with [pycodestyle](https://github.com/PyCQA/pycodestyle)(or with similar tool) and send us PR.

[2017-01-18 12:48] lk-geimfari commented on #107
Also don't forget about tests.

[2017-01-18 13:34] yn-coder commented on #107
#109

[2017-01-18 14:11] yn-coder opened #110 "Images"
Could eliz generate the random images? I do not found any (only `personal.avatar` linking).

Are you have a such plans?

[2017-01-18 14:22] lk-geimfari commented on #110
@yn-coder Yes, this feature already realized.

[code]
![](http://placehold.it/600x600)

[2017-01-18 14:25] lk-geimfari commented on #110
@yn-coder We can also add support of [lorempixel.com/](http://lorempixel.com/) or other similar service.

[2017-01-18 14:27] yn-coder commented on #110
And when download it by link?

[2017-01-18 14:29] lk-geimfari commented on #110
Download? But why? This is a placeholder.

[2017-01-18 14:32] #110 closed

[2017-01-18 14:32] #107 closed

[2017-01-18 14:34] yn-coder commented on #110
Not for html pages. I was thought about db loading with something like gravatars. In this case I need a bunch of image files generated.

[2017-01-18 14:35] lk-geimfari commented on #110
We can add do `/other` folder with images, but i'm not sure that it's useful.

[2017-01-18 14:39] yn-coder commented on #110
I mean `generated`. To make a **bunch** of files. May be where is a already existing tool somewhere?

[2017-01-18 14:39] lk-geimfari commented on #110
@yn-coder Something like `pagan`?

[2017-01-18 14:43] yn-coder commented on #110
https://github.com/daboth/pagan ?

Yes :)

[2017-01-18 14:44] lk-geimfari commented on #110
@yn-coder We add something like it, but without third-party packages.

[2017-01-18 14:45] lk-geimfari commented on #110
Current goal is full support of all 20 locales. From 0.4.0 we'll add more features.

[2017-01-18 14:45] yn-coder commented on #110
Ok, it's  drag a some requirements to eliz.

Reject.

[2017-01-19 06:40] lk-geimfari opened #111 "Add middle_name or patronymic_name."
So... We need middle_name or patronymic_name in `Personal()` or in builtins providers.

[2017-01-19 08:19] lk-geimfari opened #112 "Add __str__ to providers."
How it will look:

[code]
Example available [here](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/core/elizabeth.py#L810)

[2017-01-19 10:32] yn-coder commented on #111
Is it true [Islandic name](https://en.wikipedia.org/wiki/Icelandic_name) has no family name, only Personal name and Patronic?

Is it supported?

[2017-01-19 10:38] lk-geimfari commented on #111
@yn-code Yes, I know, but for Icelandic locale `surname()` returns patronymic.

[code]

[2017-01-19 10:56] yn-coder commented on #108
Should depatrments be a tree hierarhy ?

[2017-01-19 10:57] lk-geimfari commented on #108
@yn-coder Not necessary.

[2017-01-19 16:54] sergeybe opened #113 "Problem during installation"
Error message:
[code]
I suggest `encoding: utf-8` was forgotten in comment at first line.

[2017-01-19 16:58] lk-geimfari commented on #113
@sergeybe Which version of Python do you use?

[2017-01-19 17:01] sergeybe commented on #113
My version:
[code]

[2017-01-19 17:01] lk-geimfari commented on #113
@sergeybe That's right. Elizabeth run only on Python 3.x.

[2017-01-19 17:02] lk-geimfari commented on #113
@sergeybe Look on the badges in the top of README.md.

[2017-01-19 17:04] lk-geimfari commented on #113
Do you have any problems with `Python 3.x`? Can i close this issue?

[2017-01-19 17:17] #113 closed

[2017-01-22 08:23] jasonwaiting-dev commented on #3
@redus sorry for the late reply. Both full-width and half-width alphanumeric characters are being used in Japan. I notice that the usage of half-width alphanumeric characters with full-width japanese characters is more popular now but I can still find a number of webpages using full-width characters only.
I think I'll stick to half-width alphanumeric with japanese characters atm.

yes, we may disc

[2017-01-24 14:24] jlwt90 commented on #112
I can help on this issue! Do you want to add __str__ to all providers or just the providers with locale?

[2017-01-24 14:24] lk-geimfari commented on #112
@jlwt90 Thanks! Only for providers with locales, please.

[2017-01-25 11:35] lk-geimfari commented on #112
Test

[2017-01-30 10:33] lk-geimfari opened #121 "Add image downloader"
If we want to save avatars on our local machine, then we should have that opportunity.

It will looks like:

[code]

[2017-01-30 12:33] lk-geimfari commented on #121
It's [done](https://github.com/lk-geimfari/elizabeth/commit/2dd19286ed26326e3befadccb7cf99dbfa657c73)!

[2017-01-30 12:33] #121 closed

[2017-02-01 07:59] jlwt90 commented on #3
Hi @lk-geimfari, I can help on Chinese translation. There are a numbers of variations in Chinese language (https://en.wikipedia.org/wiki/Chinese_as_an_official_language).

I think I'll start with **People's Republic of China** version.

[2017-02-01 08:17] lk-geimfari commented on #3
@jlwt90 That's great! Thank you!

[2017-02-02 07:39] jlwt90 commented on #47
I think address.json is missing.

`address.json`:

[code]

Please correct me if I am wrong 👍

[2017-02-02 08:09] lk-geimfari commented on #47
@jlwt90 Yes, you're right. Thank you!

[2017-02-03 15:59] el commented on #3
I made a PR for Turkish #122

[2017-02-07 14:23] mfeitoza opened #123 "pip installation error"
[code]

I get this error when i try install elizabeth both in venv or global.

[2017-02-07 14:25] lk-geimfari commented on #123
#113

[2017-02-07 14:28] lk-geimfari commented on #123
@mfeitoza Any problems with `Python 3.x?`

[2017-02-07 15:26] #123 closed

[2017-02-09 02:03] mfeitoza commented on #123
My mistake, elizabeth is not compatible with 2.7 right?

[2017-02-10 13:18] #111 closed

[2017-02-10 13:18] #112 closed

[2017-02-10 13:19] #81 closed

[2017-02-10 13:19] #108 closed

[2017-02-11 04:52] PaulWaltersDev commented on #3
Hello All, would you mind if I could create a locale for English (AU)? It would be largely similar to English (GB) except for place and state names, postcode, some business details, a few unique swear words and Aus word spellings.

I'm also French-speaking so can help in that area if you wish.

[2017-02-11 08:18] lk-geimfari commented on #3
@PaulWaltersDev We already have have `en-au` and `fr`. Can you check correctness of `fr` and update `en-au`?

[2017-02-11 12:33] PaulWaltersDev commented on #3
Regarding en-au, I had a look at elizabeth/data (master branch) and saw only json files for en and en-gb. Neither of them have Australia--specific content. Where can I find it?

I am happy to check en-au and fr. Will let you know when it's done. :-)

[2017-02-11 12:44] lk-geimfari commented on #3
@PaulWaltersDev Oh, sorry i forget remove en-au from .gitignore file. Check it now, please.

[2017-02-11 19:29] lk-geimfari opened #124 "Rewrite tests using pytest"
Our current tests are too complicated and we need to fix it. I suggest rewrite tests using [pytest](http://doc.pytest.org/en/latest/contents.html) testing framework.

If someone has skills with `pytest` then i would like to hear where we can start.

[2017-02-12 00:35] PaulWaltersDev commented on #3
No probs. Got the latest version now and made additions to en-au. Will test, commit and push for your perusal.

I'm English so might also have a go at checkinv en-gb for any errors.

[2017-02-12 09:29] lk-geimfari commented on #3
@PaulWaltersDev Okay. Thank you!

[2017-02-12 10:19] lk-geimfari commented on #124
@Battleroid @wikkiewikkie @Uncleleech Can you help me with it?

[2017-02-12 11:57] PaulWaltersDev commented on #3
@lk-geimfari  Just committed updates to en-au (all except datetime.json which is perfect as it is). Please see commit comments and let me know what you think.

[2017-02-12 12:01] lk-geimfari commented on #3
@PaulWaltersDev Of course, but where i can look at your commits? You have only two repositories and and `Elizabeth` was not among them.

[2017-02-12 12:34] PaulWaltersDev commented on #3
@lk-geimfari sorry, not had a lot of experience with Github and it shows. You can see the Elizabeth repository and changes now. Submitted a pull request with details included.

[2017-02-12 21:25] jwilk opened #126 "test_internet: dubious regexp"
`tests/test_data/test_internet.py` includes the following regexp fragment:
[code]
But `$-_` is a character range that includes digits, uppercase letter and a bunch of punctuation characters.
You probably wanted this instead:
[code]

The dubious regexp was found using [pydiatra](https://github.com/jwilk/pydiatra).

[2017-02-13 05:50] lk-geimfari commented on #126
@jwilk Can you send us PR, please?

[2017-02-13 11:27] #126 closed

[2017-02-14 15:51] #124 closed

[2017-02-15 01:30] wikkiewikkie opened #131 "Date and time formats are missing for ko and jp locales."
In data/ko/datetime.json and data/jp/datetime.json.  Example from en locale:

`  "formats": {
	"date": "%m/%d/%Y",
	"time": "%H:%M:%S"
  },`

[2017-02-15 02:14] jlwt90 commented on #131
Hi,

I updated in this commit.
https://github.com/jlwt90/elizabeth/commit/f0d25b0a1d3eba67d602f1359061a8c634aca253

However, I think I need to confirm with the locale contributors:

ko @redus
[code]

jp @jasonwaiting-dev
[code]

Thanks!

[2017-02-15 02:39] wikkiewikkie opened #132 "Compatibility issue with utils.download_image()"
I am trying to write a test to cover situations where unverified_ctx is true and the build is failing on 3.3 and 3.4 with the following error:

`E           AttributeError: 'module' object has no attribute '_create_unverified_context'`

I did some research and discovered that ssl._create_unverified_context was renamed from ssl._create_stdlib_context in 3.4, but does not exist in 3.3.

Changing _cr

[2017-02-15 07:03] lk-geimfari commented on #132
@wikkiewikkie Maybe we can check version and run it only in `Python 3.4^`? Any other ideas?

[2017-02-15 07:05] lk-geimfari commented on #131
@redus @jasonwaiting-dev Please, look.

[2017-02-15 12:46] jasonwaiting-dev commented on #131
@jlwt90 @lk-geimfari jp one is correct!

[2017-02-15 16:56] redus commented on #131
For ko, "%Y/%m/%d" is used more often than "%Y.%m.%d" or "%Y-%m-%d", so could you please change to /?

[2017-02-15 17:09] lk-geimfari commented on #131
@redus Fixed.

[2017-02-15 17:09] #131 closed

[2017-02-15 18:24] lk-geimfari opened #135 "Update logo."
We expect a few more options. Then we will choose final logo.

---

First (by @beardedpayton):

![Cool logo](http://i.imgur.com/I4lZKjE.png)

---

[2017-02-16 20:26] uvegla commented on #3
Hi @lk-geimfari, I would like to contribute to the hungarian language. If that is okay I will start with a pull request on some basic missing things like the alphabet, colors etc. then move on to chemical elements and so on.

[2017-02-16 20:29] lk-geimfari commented on #3
@uvegla It would be awesome! Current version of hungarian has been added by myself. I hope that is not too awful. Check it all, please. Thanks!

[2017-02-21 00:32] wikkiewikkie commented on #132
@lk-geimfari This was fixed in #136.

[2017-02-21 00:32] #132 closed

[2017-02-21 19:27] lk-geimfari opened #142 "Remove useless methods from the providers."
So, we need to find and remove useless methods.

For example:
I once added the names of scientists to `science.json`, but now I'm not sure that these data can be useful.
So, what do you think about it?

[2017-02-21 19:28] lk-geimfari commented on #142
@wikkiewikkie @Battleroid @Uncleleech Guys, please tell me what you think about this?

[2017-02-21 21:12] Battleroid commented on #142
If it's rarely used I'd toss it out.

[2017-02-22 16:41] wikkiewikkie commented on #142
If Elizabeth's purpose is to allow for bootstrapping databases and testing applications, we should focus on methods that meet those needs.  For those uses, I think Personal.fullname() would work in place of the scientist method.

[2017-02-22 16:52] lk-geimfari commented on #142
@wikkiewikkie Totally agree with you! I deleted `scientist()`.

[2017-02-23 16:45] lk-geimfari commented on #135
@beardedpayton Hi! Here we can control our process.

[2017-02-23 22:37] tobiasmarx commented on #135
Hey, if you need help, let me know.

[2017-02-24 15:03] lk-geimfari commented on #135
@tobiasmarx Email me, please. likid.geimfari@gmail.com

[2017-02-25 19:10] #142 closed

[2017-02-25 19:10] #60 closed

[2017-03-07 14:38] lk-geimfari opened #146 "Add customization for international data."
So, for example if we want generate email with custom domains.

[code]

I.e user can generate email with domains which he want.

[2017-03-07 14:39] lk-geimfari commented on #146
@wikkiewikkie Look, please, if you interested.

[2017-03-07 17:48] #146 closed

[2017-03-08 21:08] #135 closed

[2017-03-09 13:45] Noiwex commented on #6
god this is stupid

[2017-03-09 13:55] lk-geimfari commented on #6
@Noiwex Absolutely agree, but what can I do...?

[2017-03-09 14:15] neoascetic commented on #6
Hello, my name is Elizabeth, and current name of the library is a little bit offensive. 😢

[2017-03-09 14:16] beshkenadze commented on #6
@lk-geimfari
Hi, my wife's name is Elizabeth. I offended the idea that she can tell me the fake data :(
;)

[2017-03-09 14:17] Noiwex commented on #6
@lk-geimfari ignore trolls?

[2017-03-09 14:17] neoascetic commented on #6
Don't you think @Offirmo is troll as well?

[2017-03-09 14:27] wikkiewikkie commented on #6
@lk-gimfari  My brother was killed by a snake, and Python is offensive to me.  Please re-write in an inoffensive language like brainfuck.

[2017-03-09 14:52] vassilevsky commented on #6
Obvious choice for the name is "Trump" btw

[2017-03-09 14:55] lk-geimfari commented on #6
Okay, okay guys. We all know that the church is above all. We can insult anyone, but not religious or church.

[2017-03-09 15:03] lk-geimfari commented on #6
@Noiwex No, I just wrote new features for @neoascetic .

[2017-03-11 12:58] lk-geimfari opened #148 "Data which must be added"
We need to add all data to version 0.4.0, namely:

[code]

[code]

[code]
[code]
[code]
[code]

If you see your locale in list, then please, help us. It's really important to add all these data.

[2017-03-12 08:11] zelds commented on #3
Hi. Ur u still need help with Ukrainian ?

[2017-03-12 10:13] lk-geimfari commented on #3
@zelds Yes, can you help us?

[2017-03-12 10:18] lk-geimfari commented on #3
@zelds You can check data for `ru`. I think that the structure of this locales will similar.

[2017-03-12 15:45] zelds commented on #3
@lk-geimfari Yeap. I will fork ur project and start working.

[2017-03-12 16:00] jlwt90 commented on #3
@lk-geimfari sorry, I was quite busy in the past few weeks. I'll work on the Chinese translation later this week!

[2017-03-12 16:12] lk-geimfari commented on #3
@jlwt90 @zelds Thank you, guys!

[2017-03-12 18:20] zelds commented on #3
@lk-geimfari w8 submit my pull requests. Make 50% of work.

[2017-03-12 18:39] lk-geimfari commented on #3
@zelds Please look at the [comments](https://github.com/lk-geimfari/elizabeth/pull/149#issuecomment-285964220). Thank you.

[2017-03-13 23:19] jrast opened #150 "Question: Subclassing a locale"
I thought about creating a `de-ch` locale. And, as `de-ch` is just a special version of `de`, it would be nice to subclass the `de` locale and replace only the needed fields instead of copy the whole data and maintain a separate data set. Is this possible?

[2017-03-14 06:19] lk-geimfari commented on #150
@jrast I also thought about this, but at the moment we have to duplicate some data for similar locales. I think that it's possible, but we need to develop special mechanism for it. It's also would be helpful for `en-*`. If you have any idea we can try do it.

@wikkiewikkie Look, please.

[2017-03-14 19:15] wikkiewikkie commented on #150
@lk-geimfari   I am in favor of this.  It not only reduces the amount of data to maintain, but makes it clearer what the differences are between related locales.

It will slow down initial loading of locale data as it would be reading two files instead of one, and also updating the dict, but keep in mind those calls are memoized using lru_cache.

I can put together a PR for the feature.

[2017-03-14 19:30] lk-geimfari commented on #150
@wikkiewikkie Okay. I think that the speed loss will be insignificant. Thanks.

[2017-03-17 15:22] lk-geimfari commented on #150
@jrast Hi! Sub-locales has been implemented (thanks for @wikkiewikkie). Feel free to add `de-ch`. Thank you!

[2017-03-17 17:37] lk-geimfari commented on #150
@jrast I just [added](https://github.com/lk-geimfari/elizabeth/commit/9c546965e5fa50f621487ecdb4ef1019939653a7) `de-ch`. Please, check correctness of data and update it, if you can. Unfortunately I find it difficult to find information in German. Thanks you.

[2017-03-20 06:29] #150 closed

[2017-03-20 21:23] jrast commented on #150
Thanks! Just had time to have a quick look at it and it seems to work. However, I had no time to look (and update) the data.

[2017-03-20 21:30] jrast opened #154 "Allow random gender for personal data"
Currently one of 'male' or 'female' must be given (or defaults to 'female') for personal data. It would be nice if the gender would be randomly generated.

I have made a sample implementation allows to pass `gender=None` to all functions of the personal provider. If None is given, the gender is randomly generated. The implementation can be found here:
https://github.com/jrast/elizabeth/tree/random

[2017-03-21 06:19] lk-geimfari commented on #154
Looks good. PR, please.

[2017-03-21 21:36] jrast commented on #154
PR https://github.com/lk-geimfari/elizabeth/pull/155 is out.

Please see also the note about the default in the comment on the pull request.

[2017-03-22 05:20] lk-geimfari commented on #154
@jrast Look at comments by @wikkiewikkie in PR #155, please.

[2017-03-23 15:00] lk-geimfari opened #156 "Separate providers by different file"
At this moment all our provider located in one file elizabeth/core/providers.py.

I propose to separate this files by providers.

This should looks like:

[code]

[2017-03-23 15:01] lk-geimfari commented on #156
@wikkiewikkie What do you think?

[2017-03-23 15:06] lk-geimfari commented on #156
Can it be helpful for editing and understanding of code of this library?

[2017-03-23 15:52] #156 closed

[2017-03-23 15:53] wikkiewikkie commented on #156
@lk-geimfari It's not a big impact for me -- I use PyCharm and if you turn on show members, it is very easy to find a particular provider.

[2017-03-23 16:02] lk-geimfari commented on #156
I opened this issue, but closed it at once . It seems that this is an unnecessary work.

[2017-03-23 16:03] lk-geimfari commented on #156
@wikkiewikkie Do we need to change something in the structure of the project? Or is the current structure simple enough and convenient?

[2017-03-24 08:05] lk-geimfari opened #157 "Proposals board"
Here you can propose new features which you want see in the library.

[2017-03-24 21:36] jrast commented on #157
I'd love to see a option to get Date and DateTime objects back instead of strings. See PR https://github.com/lk-geimfari/elizabeth/pull/158

[2017-04-05 13:54] lk-geimfari opened #159 "Publish to PyPi on merge to master"
Publishing of new release should be automated. We can do it using Travis CI.

Great example is a [`travis.yml`](https://github.com/sobolevn/django-split-settings/blob/master/.travis.yml) file of this [`project`](https://github.com/sobolevn/django-split-settings).

[2017-04-11 15:02] mpibpc-mroose opened #161 "elizabeth.Network is missing"
After upgrade to v 0.3.28 I cannot import Network anymore:
[code]
As it would break the API it should get added again.

[2017-04-11 15:06] lk-geimfari commented on #161
@mpibpc-mroose Sorry. We forgotten to update documentation. The provider `Network` was removed. All methods from Network has been moved to `Internet()`

[2017-04-22 21:33] lk-geimfari opened #162 "Update generic class using "__getattr__" instead "property"."
At this moment we have [this](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/core/providers.py#L2650):
[code]

We need to update `Generic` using `__getattr__` or  other more acceptable mechanism.

PR or suggestions always welcome!

[2017-04-22 21:34] lk-geimfari commented on #162
@wikkiewikkie Interested?

[2017-04-22 21:59] mdn522 opened #163 "Add Person / Feeling"
Add "feeling" sub category under Person category
Example:
Happy, sad, disgusted, embrassed, excited, etc.
You can look in facebook to find out lots of feeling

[2017-04-22 22:01] lk-geimfari commented on #163
@mdn522 That's good idea, thank you. I will add this feature for all locales tomorrow (i hope).

[2017-04-22 22:03] #161 closed

[2017-04-24 19:20] #148 closed

[2017-05-29 17:49] #162 closed

[2017-05-30 16:30] lk-geimfari opened #165 "Support of multiple custom providers"
At this moment we can add only one custom provider at a time, using method `add_provider()` of `Generic()` class.

How it's looks:
[code]

I think that this is not a very convenient way to add a lot of custom provider and I suggest add new method `add_providers()`:

[code]

[2017-05-30 16:31] lk-geimfari commented on #165
@sobolevn What do you think about this? This is a good idea or bad?

[2017-05-30 16:34] lk-geimfari commented on #165
We only need add three lines for this feature:

[code]

[2017-05-30 17:13] lk-geimfari commented on #165
Added in [a7a93db](https://github.com/lk-geimfari/elizabeth/commit/a7a93dbedcf9e7f2231cbe48f3d0e177ff053e64)

[2017-05-30 17:13] #165 closed

[2017-06-03 10:31] lk-geimfari opened #168 "Issue with __str__ of providers without locale"
So, now if we try this:

[code]

We will get this:

[code]

Because not all providers need locale.

[2017-06-03 10:35] lk-geimfari commented on #168
@sobolevn What do you propose to do? Maybe just don't inherit the `BaseProvider()` when providers does not need locale?

[2017-06-03 10:58] sobolevn commented on #168
Maybe it is good idea to refactor `locale_info()` not to break on `None` values?
I am strongly sure that all providers must inherit from some base class.

[2017-06-03 11:14] lk-geimfari commented on #168
@sobolevn Agree. I will refactor it.

[2017-06-04 14:29] sobolevn opened #169 "Random seed"
When using any kind of `random` in testing we want it to be reproducible.
Right now all the providers rely on some kind of `random` functions.

So, what I suggest:
1. Create a new optional config entry: `ELIZABETH_RANDOM_SEED` (maybe it should be a parameter somewhere as well?)
2. When it is set, use it's value as a seed

[2017-06-04 18:18] lk-geimfari commented on #169
@sobolevn That's good idea. PR would be very handy, if you have free time.

[2017-06-04 18:36] sobolevn commented on #169
Not until the next weekends.

[2017-06-07 17:19] blakev commented on #169
Does this need to be implemented?

Wouldn't it work just the same if you initialized the seed yourself before calling any generation methods?

[2017-06-07 17:21] lk-geimfari commented on #169
@blakev Thank you for contribution, but it's already implemented by @sobolevn in new-structure-feature branch. We will merge it in this weekends.

[2017-06-10 12:06] sobolevn commented on #169
@blakev maybe it is indeed a good idea.

@lk-geimfari I guess we should not create our own random, lets use shared `random` instance.

[2017-06-10 17:04] lk-geimfari opened #174 "Still failed some tests"
Basically I fixed the problem with `ImportError`, but code need refactoring.

There are some problems with providers, namely: `Structured()`, `Text()`  and  `Generic()`.

Issue type:
[code]

Full report [here](https://travis-ci.org/lk-geimfari/elizabeth/jobs/241551298#L4021)

[2017-06-10 17:19] lk-geimfari opened #175 "Full refactoring (restarting) of the project"
We need to refactor this project. Completely.

Goals:

- [x] Remove useless providers/methods.
- [x] Change the structure of the project.
- [x] Bring the code in compliance with the requirements of PEP8.
- [x] Add/Update documentation.
- [x] Add auto deploy on `PyPi` on tag.
- [x] Add mechanism for uglify json files (this will reduce the file size) only when deploy on `PyPi`, otherwise we can't no

[2017-06-10 17:20] lk-geimfari commented on #175
We will try to do this all by the end of the summer, given that we only work on this project on weekends.

[2017-06-10 19:11] sobolevn commented on #175
I also advise you to add `flake8`. Must have plugins:
1. `flake8-builtins`
2. `flake8-commas`
3. `flake8-quotes` (my fav)
4. `isort` (not actually a `flake8`-plugin

Here's the full list: https://github.com/sobolevn/django-split-settings/blob/master/setup.py#L26

[2017-06-12 06:28] sobolevn commented on #175
About your points.

 1. Remove useless providers/methods.
Which ones do you consider useless? Are you sure that *noone* uses it?

2. Change the structure of the project.
++

3. Bring the code in compliance with the requirements of PEP8.
++

4. Add/Update documentation.
++

5. Add auto deploy on PyPi on tag.
++

6. Add mechanism for uglify json files (this will reduce the file size).
++

7. Add mec

[2017-06-12 06:43] lk-geimfari commented on #175
@sobolevn I think that `json()` method of `Structure()` is too specific and useless. I think that point 7 is not best idea. We do not need dependencies. I'll update goals.

[2017-06-15 17:48] lk-geimfari opened #177 "Error when install elizabeth==0.4.0"
I have received such a report about issue to my email. It is necessary to correct this error.

[code]
[code]

[2017-06-16 06:48] bbb1991 commented on #3
@lk-geimfari I can help you with kazakh locale if you want

[2017-06-16 06:50] lk-geimfari commented on #3
@bbb1991 It is awesome. We are always glad for new locales!

[2017-06-16 12:10] MikeWent commented on #177
![image](https://user-images.githubusercontent.com/23062065/27226002-7666a1be-52a5-11e7-887b-a4e177c29af2.png)

I get the same error on pip 9.0.1, Python 3.5.2.

`Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-g6besmi2/elizabeth/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'ex

[2017-06-16 12:18] lk-geimfari commented on #177
@MikeWent Please, try install previous version of library. We will fix this issue in 0.4.1. If you want to contribute, you can fix this issue by yourself and send us PR.

[2017-06-19 06:57] lk-geimfari commented on #177
@MikeWent Tell me, please, which operation system do you use? Windows? I asked because on Ubuntu everything is okay:

[code]

[2017-06-19 08:39] MikeWent commented on #177
@lk-geimfari Ubuntu 16.04 with last updates, pip 9.0.1, Python 3.5.2. I tried to uninstall elizabeth and install again (with pip option `--no-cache-dir`), but got the same error as 3 days ago.

I also tried on my Android phone (via Termux) and it works. Output below:
[code]

Maybe I just need to upgrade Python 3.5.2 to 3.6.1 on Ubuntu?

[2017-06-19 15:48] sobolevn commented on #175
- Type hint everything ?

[2017-06-20 11:19] lk-geimfari commented on #177
@MikeWent Actually it's should work fine with Python 3.4. I think that problem not in Python.

[2017-06-21 12:45] Valerievich commented on #175
Few questions about "Bring the code in compliance with the requirements of PEP8 (flake8, pycodestyle)":
1. Should we check only ```*.py``` files or ```*.json``` too?
2. There are a lot of F401, F403, F405 errors (produced Flake8). It's because of `from somemodule import *`. Is it better to ignore these errors?

[2017-06-21 15:29] lk-geimfari commented on #175
@Valerievich

1. We should always ignore `data/*` because in data/ we store only data, not code of elizabeth.
2. Ignore.
2. Poin 1. We ignore int/, because is data.

[2017-06-22 11:08] Valerievich commented on #175
In /test_data/test_generic.py we have:

[code]

This causes `F841 local variable 'result' is assigned to but never used`

Is this wrong code? Have I to add an assert?

[2017-06-22 11:09] lk-geimfari commented on #175
@Valerievich  You can replace `result` with `__`

[2017-06-25 12:15] axce1 commented on #174
i'll try fix it next week

[2017-06-25 15:08] lk-geimfari commented on #174
@axce1 Thank you! Keep in mind that this error in [feature-new-strucutre](https://github.com/lk-geimfari/elizabeth/tree/feature-new-strucutre).

[2017-06-27 00:58] bbb1991 opened #180 "Broken links on file CONTRIBUTING.md"
In file [CONTRIBUTING.md](https://github.com/lk-geimfari/elizabeth/blob/master/CONTRIBUTING.md) some links seems broken. When I tried to open inks, 404 error produced. Here is the links:
- [CURRENCY_SYMBOLS](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/intd/bus.py#L183)
- [ISBN_GROUPS](https://github.com/lk-geimfari/elizabeth/blob/master/elizabeth/intd/code.py#L33)

[2017-06-28 10:09] uvegla commented on #180
Hi @lk-geimfari, @bbb1991! I have created a small pull request to fix this. I have also removed the hard references to line numbers so it will not point to incorrect line once the files are updated and by names they are easy enough to find in my opinion.

[2017-06-28 10:10] lk-geimfari commented on #180
@bbb1991 Fixed in #181  by @uvegla.

[2017-06-28 10:14] bbb1991 commented on #180
@uvegla great, thank you!

[2017-06-28 10:14] #180 closed

[2017-06-29 13:01] Valerievich commented on #175
How to understand which providers/methods are useless (it's about first task of list)? Are there conditions?

[2017-06-29 13:07] lk-geimfari commented on #175
@Valerievich for example `json()` of `Structured()`. It was bad idea to get data for them using `Personal()`. Try to replace it with random json generator.

[2017-07-03 14:37] Valerievich commented on #175
@lk-geimfari Should there be clear data? Or is it possible to generate data smth like
```{'key1': value1, 'key2': value2 ...}``` ?

[2017-07-03 15:01] lk-geimfari commented on #175
@Valerievich Actually useful `json()` generator was been already created by @wikkiewikkie. It was a mistake to propose him to replace that method with a new one. Here you can look at old implementation of `json()`. [Use it](https://github.com/wikkiewikkie/elizabeth/blob/deec4921ed96454dd583e735abe876ea88102405/elizabeth/core/elizabeth.py#L478). Just refactor. Also [here](https://github.com/lk-geim

[2017-07-04 16:20] JuxhinDB opened #184 "JP Locale is not supported"
In the official docs for `0.4.0` it states that "JP" is a valid locale for Japan however when trying to use it, an `elizabeth.exceptions.UnsupportedLocale` exception is raised:

[code]

Confirming that I'm running 0.4.0 via pip freeze - `elizabeth==0.4.0`

Relevant documentation: http://elizabeth.readthedocs.io/en/latest/#locales

[2017-07-04 16:41] lk-geimfari commented on #184
@JuxhinDB Sorry, we forget to update documentation. Use code `ja`, not `jp`.

[2017-07-04 16:58] JuxhinDB commented on #184
No worries! Just double-checking. Thanks alot :-)

[2017-07-04 17:33] #184 closed

[2017-07-09 15:57] lk-geimfari commented on #174
I was try to fix this issue, but I could not. All test still failed. Also imports looks very ugly, after refactoring. but otherwise nothing worked.

[2017-07-09 15:58] lk-geimfari commented on #174
Above I mean branch feature-new-structure.

[2017-07-09 16:00] lk-geimfari commented on #174
@Valerievich If you still interested, you can try fix this.

[2017-07-09 16:01] lk-geimfari commented on #168
@Valerievich And this.

[2017-07-10 15:16] lk-geimfari opened #188 "The name of the library does not reflect its essence."
When I created this library, it was originally called `church`. I think that is was cool name. I was renamed this library because some people think that is offensive name. Okay, maybe its so.

I renamed library and even without hesitation for some reason gave name `elizabeth`. You know, this name does at all not reflect essence of library. When developer hears name of this library they thinks abou

[2017-07-11 15:49] Valerievich commented on #188
'mimesis' is a good one.

[2017-07-11 18:42] lk-geimfari commented on #188
@Valerievich Look at development branch, please. I completely refactored all code. Now wee need to new name and it's will reborn of this project.

[2017-07-11 20:10] firestalk commented on #188
+1 for mimesis

[2017-07-12 09:50] Valerievich commented on #188
@lk-geimfari May I help with rename? Should I do that in dev.branch?

[2017-07-12 09:52] lk-geimfari commented on #188
@Valerievich We will rename library in [this](https://github.com/lk-geimfari/elizabeth/tree/feature-new-strucutre) branch. There's a lot of work. Help will be very handy. Refactor it only using PyCharm or another smart IDE which helps with refactoring and renaming. Be very careful. Thanks.

[2017-07-12 10:11] lk-geimfari commented on #188
@Valerievich You can fork feature-new-strucutre branch and tried to rename library.

[2017-07-12 17:58] lk-geimfari commented on #188
@Valerievich I already started renaming. Please, loot at the branch: feature-new-structure.

[2017-07-12 18:01] lk-geimfari commented on #188
@ryanvarley Hi. Please, check your gmail inbox.

[2017-07-13 07:26] Valerievich commented on #188
@lk-geimfari Ok, then I won't disturb you )

[2017-07-13 09:30] Valerievich commented on #175
I've done with Structured(). Is it necessary to remove another Providers or methods? I can help.

[2017-07-13 09:35] lk-geimfari commented on #175
@Valerievich Actually you can help us with much important thing.  If you are use PyCharm you can find TODO list. This task is very important.

For example: https://github.com/lk-geimfari/elizabeth/blob/feature-new-strucutre/tests/conftest.py#L56

`Text()` is international provider (i.e support all locales), but at this moments we test only default locale (default locale is `en`).

Help us with tas

[2017-07-13 10:27] ryanvarley commented on #188
This a new way of discovering a useful project. We actually use `faker` quite extensively and have found it pretty slow at times, I've shared this with the rest of the team.

I actually went the other with my 'mimesis' project and choose a name that meant nothing (https://github.com/ucl-exoplanets/wayne), so mimesis is all yours 🙂

[2017-07-13 10:33] lk-geimfari commented on #188
@ryanvarley Thank you very much. I hope that you find this project useful for you. Thanks again!

[2017-07-14 20:26] lk-geimfari opened #192 "JSON minimzer before publish on PyPI."
I just [finished](https://github.com/lk-geimfari/elizabeth/blob/feature-new-strucutre/json_minimizer.py) working on simple json minimizer, but it's a very dirty solution. Wee need to refactor it, because it's works to slowly, a dead tortoise runs faster than this script.

A very important question is will compression affect the performance of the library?  If will then how? Will it become faster o

[2017-07-14 20:28] lk-geimfari commented on #192
@sobolevn what do you think about it?

[2017-07-14 20:32] lk-geimfari commented on #192
@Valerievich @Battleroid Any ideas?

[2017-07-15 06:00] sobolevn commented on #192
Sorry, but I could not find source code. A link, please?

[2017-07-15 18:32] lk-geimfari opened #194 "Update documentation."
We need update documentation again. I suggest generate documentation with Sphinx again.

[2017-07-15 19:08] lk-geimfari commented on #194
Also update PYPI_README.md file.

[2017-07-17 07:31] lk-geimfari commented on #188
So. Library was been renamed. This is final name. We will **never** renamed this library again.

Special thanks @ryanvarley. He gave us new name.

[2017-07-17 07:31] #188 closed

[2017-07-18 15:07] Valerievich commented on #175
ToDo "Resolve importing errors and use importing format as above" is secret for me. Can't resolve importing errors. Where should I look? Any ideas?

[2017-07-18 15:10] sobolevn commented on #175
@Valerievich what's your exact problem? What kind of import errors do you have?
Could you please provide more information?

[2017-07-18 15:15] Valerievich commented on #168
This  issue is no longer relevant I think, right?

[2017-07-18 15:23] Valerievich commented on #175
I try to use following import format
```from mimesis.providers import Games``` in ```generic.py```

and then get this:
[tr.txt](https://github.com/lk-geimfari/mimesis/files/1156355/tr.txt)

[2017-07-18 15:27] lk-geimfari commented on #168
@Valerievich Actually is relevant. Check this out, please.

[2017-07-18 15:28] lk-geimfari commented on #175
@Valerievich I get similar error. I don't know why it's happens, but we really need to fix it.

[2017-07-18 15:30] Valerievich commented on #168
I've built mimesis from master and got this:
[code]

[2017-07-18 15:38] Valerievich commented on #174
Sorry, but full report does not exist.

[2017-07-18 15:53] lk-geimfari commented on #168
@Valerievich Magic. I do not remember fixing this.

[2017-07-18 15:54] lk-geimfari commented on #168
@Valerievich Anyway, it's cool.

[2017-07-18 15:54] #168 closed

[2017-07-18 18:12] sobolevn commented on #175
@Valerievich could you please try this:

[code]

Instead of:

[code]

[2017-07-18 19:25] Valerievich commented on #175
@sobolevn  I tried this way. Import worked well in this case. But @lk-geimfari wants to use format exactly like ```from mimesis.providers import Games```. There are not any problem with import other providers in ```generic.py``` e.g. ```Address``` .

[2017-07-19 10:36] sobolevn opened #195 "Change how Github releases are formated"
There's a good format to follow: https://github.com/commitizen/cz-cli

See an example of some simple library: https://github.com/sobolevn/recase/releases

[2017-07-24 14:14] Valerievich commented on #175
@lk-geimfari I've resolved that import problem issue in new PL #198
Please check it.

[2017-07-24 15:28] lk-geimfari commented on #175
@Valerievich I like how it's looks. Let's wait opinion of @sobolevn. Are we have any reasons to don't use this importing format?

[2017-07-24 15:45] Valerievich commented on #175
@lk-geimfari No, we dont.

[2017-07-26 21:09] lk-geimfari opened #199 "Generating data by schema."
We have implemented very primitive generator by schema:

[code]

But is not better solutions. @sobolevn suggest much better solutions using Lazy objects`, which looks like that:

[code]

I like second solution too.

[2017-07-26 21:11] lk-geimfari commented on #199
I don't know how to be with arguments of functions. Maybe:
[code]

[2017-07-26 21:16] lk-geimfari commented on #199
What do you think? It's can be useful?

[2017-07-26 21:16] lk-geimfari commented on #199
@Valerievich @sobolevn Look, please.

[2017-07-26 21:49] lk-geimfari commented on #199
I have already implemented basic functionality. It remains a little to finish.

[2017-07-26 22:44] sobolevn commented on #199
Looks good! But how would you pass params to `'personal.password'` for example?

[2017-07-27 09:51] Valerievich commented on #199
One more pretty adorable way to generate data I think.

[2017-08-01 08:23] lk-geimfari commented on #199
@sobolevn That is a real trouble. I would suggest `personal.surname.female`, where `.female` is first argument, but it's looks not so good if method has many arguments. We'll wait proposals.

[2017-08-01 08:24] lk-geimfari commented on #199
Early version is already done: [mimesis/schema.py]( https://github.com/lk-geimfari/mimesis/blob/master/mimesis/schema.py)

[2017-08-01 08:27] lk-geimfari commented on #199
How about following format?

[code]

[2017-08-01 08:30] sobolevn commented on #199
I think that arguments are really important. They should be both:

1. Easy to change
2. Easy to write

Consider this situation: I want to have user with different age https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/personal.py#L29

[2017-08-01 08:38] lk-geimfari commented on #199
I'm absolutely agree. But i cannot evaluate the complexity of implementation immediately. For example [this](https://github.com/lk-geimfari/mimesis/issues/199#issuecomment-319303881) looks very difficult for me and i have not idea how we can do it dynamically.

[2017-08-09 09:48] lk-geimfari opened #201 "Generic providers do not work"
It's always return data in English. Looks like someone created wrong PR, Travis CI passed it and i merge this PR.

I found issue. It's returns providers without locale:

https://github.com/lk-geimfari/mimesis/blob/99dfd8275bd212ea2651afb95d843818ec81c15d/mimesis/providers/generic.py#L46

@Valerievich we need to fix it and your help will very handy.

[2017-08-09 10:14] sobolevn commented on #201
Regression test will also be very nice.

[2017-08-09 13:08] Valerievich commented on #201
I'll try to fix it today.

[2017-08-09 13:13] lk-geimfari commented on #201
@Valerievich Thank you!

[2017-08-09 15:58] Valerievich commented on #201
I can't understand how to fix this issue by new PL if my previous PL #200 didn't merged. All changes in my fork ```master``` branch.

[2017-08-09 16:18] lk-geimfari commented on #201
@Valerievich I have merged your PR. Thank you!

[2017-08-09 16:18] #201 closed

[2017-08-09 16:20] lk-geimfari commented on #199
@Valerievich It's [done](https://github.com/lk-geimfari/mimesis#generate-data-by-schema). We need to implement support of arguments.

[2017-08-09 16:21] #177 closed

[2017-08-09 16:21] #174 closed

[2017-08-10 11:00] Valerievich commented on #199
@lk-geimfari can u give me a couple examples of arguments please?

[2017-08-10 11:24] sobolevn commented on #199
I don't like current implementation. It breaks one major rule: "everything is an object". Our fields right now are not objects in general case. They are strings.

So it could break a lot of things for the end user. Imagine a user has some sort of logic to reformat phone numbers to his specific needs. Like: `reformat_phone(value)`. How is it possible with the current implementation? Or any other fu

[2017-08-10 11:56] lk-geimfari commented on #199
@sobolevn Of course it's looks much better, than current implementation. I have only one question: How we can generate data by schema.json? Or, maybe is does not matter, cuz i have really like idea with `fields`.

[2017-08-18 16:54] lk-geimfari commented on #175
I have added json minify, but the result is quite the opposite of what I expected. The size of the project even increased from [6.8 Mb](url) to `7.2 Mb`. If no one has any idea why this happens, then I suggest removing the minifer.

[2017-08-21 10:27] Valerievich commented on #175
@lk-geimfari why do you think it's unacceptable ? 0.4Mb is not a big increase I think.

[2017-08-21 10:35] lk-geimfari commented on #175
@Valerievich The goal was to reduce the size of the project, by minimizing the JSON files, but it worked exactly the opposite. What is a reason to minimizing of JSON files if the size of the project was only become larger? Don't you agree?

[2017-08-21 10:36] lk-geimfari commented on #175
@Valerievich `6.8 Mb` is size before minimize and `7.2 Mb` is size after minimize.

[2017-08-21 14:45] lk-geimfari commented on #199
@sobolevn  Can you explain, please, how to implement LazyField based data generator by schema? I mean steps. Maybe you have link to similar theme? I want to try implement it and close this issue on this week. Thanks you.

[2017-08-21 14:48] #163 closed

[2017-08-21 15:01] sobolevn commented on #199
I came with even better idea: why now implementing custom provider for `factory_boy`?
It already has all the stuff we need!

[2017-08-21 15:23] lk-geimfari commented on #199
@sobolevn I never work with this library, but i'll try to figure out how to do it.

[2017-08-22 21:53] lk-geimfari opened #206 "Update docs/"
Update structure of readme

- [ ] Add good examples of usage for all provider

[2017-08-23 01:07] #159 closed

[2017-08-23 01:08] #169 closed

[2017-08-23 01:08] #47 closed

[2017-08-23 08:20] Valerievich opened #208 "Why is refactoring needed?"
https://github.com/lk-geimfari/mimesis/blob/78c6777f00aefd295a823820a0587ca28f2aa295/mimesis/providers/internet.py#L217

[2017-08-23 10:19] lk-geimfari commented on #208
@Valerievich I forgot to delete this TODO, sorry.

[2017-08-23 10:39] Valerievich commented on #208
Ok then 👍

[2017-08-23 10:39] #208 closed

[2017-08-23 14:50] lk-geimfari opened #210 "API reference in documentations is empty."
So, it's [empty](http://mimesis.readthedocs.io/en/latest/api.html#). We need to fix it.

[2017-08-24 08:47] sobolevn opened #213 "Typo"
<img width="319" alt="2017-08-24 11 46 59" src="https://user-images.githubusercontent.com/4660275/29657966-fe1c1f60-88c1-11e7-9f4c-b92fc2256671.png">

[2017-08-24 10:59] lk-geimfari commented on #213
@sobolevn Obviously, I hurried when I typed the text. Thank you for your attention! I'll fix it.

[2017-08-29 15:02] Valerievich commented on #3
I'll add "Estonian" locale. I have estonian friend )

[2017-08-29 15:08] lk-geimfari commented on #3
@Valerievich That is cool! We'll wait PR.

[2017-08-30 08:49] #213 closed

[2017-08-30 10:24] lk-geimfari commented on #194
Looks like our old documentation does not work. We need generate documentation automatically from docstring.

@Valerievich Your help would be very handy. I'll work on locale `ru`. I want to update some data.

[2017-08-31 08:37] Valerievich commented on #194
@lk-geimfari OK, I'll do it. I'll start after finish with `ee` locale. I need few days for it.

[2017-08-31 10:23] lk-geimfari commented on #194
@I think that code of Estonian language is `et`, not `ee`. [It's just a note](https://msdn.microsoft.com/en-us/library/ms533052(v=vs.85).aspx). Thank you!

[2017-08-31 11:02] Valerievich commented on #194
Thanks, I thought we use [this](https://ru.wikipedia.org/wiki/ISO_3166-1) code list.

[2017-08-31 12:46] lk-geimfari opened #215 "Refactoring in setup.py"
I suggest refactoring in `setup.py`. @kennethreitz has published [this](https://github.com/kennethreitz/setup.py) great repository. We will use this project as great example of `setup.py` for us.

[2017-08-31 15:14] kennethreitz commented on #215
✨🍰✨

[2017-08-31 15:53] lk-geimfari opened #217 "CI on Windows"
I suggest use [AppVeyor](https://www.appveyor.com/) which helps with CI on Windows.

[2017-08-31 17:03] #215 closed

[2017-08-31 17:10] kennethreitz commented on #215
Hope you enjoy!

[2017-08-31 19:11] lk-geimfari commented on #215
@kennethreitz Yet another cool project by You. Of Course I'm enjoy! Thanks!

[2017-09-01 17:18] lk-geimfari commented on #194
@Valerievich I [found](https://sphinx-ru.readthedocs.io/ru/latest/) Sphinx documentation in Russian. I thinks that is would helpful.

[2017-09-01 17:21] lk-geimfari commented on #199
Unfortunately, I did not understand how to add the ability to pass arguments. @sobolevn  Can you look at this issue when you'll have free time, please?

[2017-09-01 17:33] sobolevn commented on #199
Sure!

[2017-09-01 17:38] lk-geimfari opened #218 "Refactoring gender() method so it returns an Enum."
At this moment, methods related to gender return the default values for `female`. It is necessary that the floor is selected randomly.

@wikkiewikkie  suggested using the following format (in this [issue](https://github.com/lk-geimfari/mimesis/pull/155#issuecomment-288398995)) :

[code]

[2017-09-01 18:16] lk-geimfari commented on #217
It's almost done. But we have some [error](https://ci.appveyor.com/project/lk-geimfari/mimesis/build/job/xb8vcdp5blcrdoyk). We need to fix it.

[2017-09-01 18:42] #217 closed

[2017-09-02 17:13] lk-geimfari opened #219 "Automatically generate changelog."
We need way to automatically generate changelog. Any ideas?

[2017-09-05 12:31] Valerievich commented on #194
@lk-geimfari Please tell me what exactly you expects from this issue?
We already have `Sphinx` makefile in `\docs`. So I can just execute `make html` and get new ver. of documentation. Would it be enough?

[2017-09-05 12:40] lk-geimfari commented on #194
@Valerievich Actually it should work, but i'm not sure. If it's works then it's okay. We need generate API Reference automatically from docstrings.

[2017-09-05 14:06] Valerievich commented on #194
You can see what I've got. I used current ver. `conf.py`.  Docstrings are there. `autodoc` is included.
[html.zip](https://github.com/lk-geimfari/mimesis/files/1277666/html.zip)

[2017-09-05 14:29] lk-geimfari commented on #194
@Valerievich Unfortunately, only partially. There no new providers, such as `Cryptographic()`. Also we need `.rst` format, which easy to edit.

[2017-09-05 14:31] lk-geimfari commented on #194
@Valerievich Can you do it? Please generate autodoc for all providers (`.rst` format) and it's all.

[2017-09-05 14:33] lk-geimfari opened #222 "Generate doc for ReadTheDocs from main Makefile"
We can run test using `make`:
[code]

We need command which will refresh documentation completely.

[code]

[2017-09-05 15:29] Valerievich commented on #194
I'll fit it

[2017-09-05 16:15] lk-geimfari commented on #194
@Valerievich Thank you!

[2017-09-07 11:54] Valerievich commented on #194
@lk-geimfari Did you create `api.rst`, `guide.rst` manually last time?

[2017-09-07 12:30] lk-geimfari commented on #194
@Valerievich Only `guide.rst`. As far as I remember, `api.rst` was created automatically.

[2017-09-07 13:41] Valerievich commented on #194
My solution is in PR #223

[2017-09-08 14:10] Valerievich commented on #175
I think `'Add/Update documentation.'` is done.

[2017-09-08 15:29] lk-geimfari commented on #175
@Valerievich It's still do not work: http://mimesis.readthedocs.io/en/latest/api.html#cryptographic. I don't know why.

[2017-09-11 09:58] Valerievich commented on #175
How did you create this version? All that necessary is go to `/docs` and exec. `make html`.
I've pulled `master` branch recently and it works for me.

<img width="692" alt="screen shot 2017-09-11 at 12 57 21 pm" src="https://user-images.githubusercontent.com/12416731/30269255-e1416a70-96f0-11e7-94c3-7e22c69b6995.png">

[2017-09-11 12:35] lk-geimfari commented on #175
@Valerievich It's created automatically by ReadTheDocs. I'll try to do it manually.

[2017-09-11 14:13] sobolevn commented on #175
I have faced some issues while using `rtd`. Check its logs and configs.

[2017-09-11 14:17] lk-geimfari opened #225 "Refactoring in tests/"
Many probably noticed that some data is common to all languages and does not depend on the current locale of provider.

At the moment, tests are performed for all languages.

[code]

But we don't need such behaviour, because `math_formula()` return similar data for any locales.

[2017-09-11 14:25] lk-geimfari commented on #175
@sobolevn Seems like i have incorrectly configured rtd. I'll fix it tonight.

[2017-09-11 14:27] lk-geimfari commented on #175
@sobolevn Do you have an account on rtd? Can i add you to maintainers on rtd?

[2017-09-11 14:28] sobolevn commented on #175
@lk-geimfari sure, mail@sobolevn.me

[2017-09-11 14:30] lk-geimfari commented on #175
@sobolevn Please, check out your rtd account. I have added you to maintainers. Thank you!

[2017-09-11 14:31] lk-geimfari commented on #175
@sobolevn And i have deleted your answer above, because sometimes people grab emails on github for spamming.

[2017-09-11 16:10] lk-geimfari commented on #225
Before refactoring: `~5k` items, after: `2830` items.

[2017-09-11 16:10] #225 closed

[2017-09-11 16:34] #222 closed

[2017-09-11 16:36] #157 closed

[2017-09-11 16:49] lk-geimfari commented on #175
@sobolevn Can you look at settings on the ReadTheDocs, please. I don't undersand why, but on my local machine and in rtd the documentation generates without API Refernce. Thanks!

[2017-09-12 13:10] lk-geimfari commented on #194
I understood where is error. We had an interpreter of version 2.7, at the same time in the code for some functions annotations are used, which are the features of Python 3.x. I have changed the interpreter to CPython 3.x and everything is ok!

[2017-09-12 13:12] #210 closed

[2017-09-12 14:01] lk-geimfari opened #226 "Structuring the documentation."
We have some inconsistency in the documentation, we need to fix it.

What should be done?

- [x] Move description of  all basic features of Mimesis to `index.rst`.
- [x] Add section `Decorators` with examples of using decorators from `decorators.py`.
- [x] Add section `Generate data by schema` with examples of using `Schema()` from `mimesis/schema.py`.
- [x] Add section `Constants` with examples o

[2017-09-12 14:13] lk-geimfari commented on #226
@sobolevn Can you recommend some good example of documentation with good structure for reading? It seems to me that our documentation is somewhat chaotic. It would be great to make documentation consistent.

[2017-09-13 11:39] Valerievich commented on #175
`Find and fix bottlenecks in Generic(). Just run this script and you'll understand what i talking about @Valerievich.`.
I think this is a result of call `def seed()` from `random.Random`. We call it from our custom Random() class in `helpers.py`. I think it's not a good idea to change this __init__ method : )

[2017-09-19 19:56] lk-geimfari opened #227 "Add plug in system for providers."
It would be awesome to have ability to install providers as packages using pip.

For example we install some super specific provider:

[code]

[code]

[2017-09-19 19:58] lk-geimfari commented on #227
@Valerievich @sobolevn What do you think?

[2017-09-20 09:35] Valerievich commented on #227
Does it mean that only specific provider was installed? And if i need another one (`Text`) it needs to be installed separately ?

[2017-09-20 16:10] lk-geimfari commented on #227
@Valerievich No, only really specific providers.

[2017-09-21 13:50] mpibpc-mroose opened #228 "Installation fails with Windows and Python 3.5.2 x64"
Hi,
if I try to `pip install mimesis` I get the following error:

[code]
Seems to be some kind of bug?

Thanks,
Marco

[2017-09-21 15:55] lk-geimfari commented on #228
@mpibpc-mroose Yeah, i'll fix it. Until, you can install it manually. Thanks for this report!

[2017-09-21 16:30] lk-geimfari commented on #228
@mpibpc-mroose I have fixed this issue. Please, try now.

[2017-09-21 16:50] lk-geimfari opened #229 "How about CLI?"
Are we need CLI?

[2017-09-21 16:54] #227 closed

[2017-09-21 16:57] lk-geimfari commented on #192
It's still good feature. We need to find good script for this.

[2017-09-21 18:00] lk-geimfari commented on #228
@mpibpc-mroose Can you confirm that bug was fixed?

[2017-09-21 18:16] sobolevn commented on #227
Just for future ideas:
- discussion and comments are crucial for future project development
- final decision should have strong arguments
- all weak and strong points should be clear

Hope it helps!

[2017-09-21 18:17] sobolevn commented on #192
https://stackoverflow.com/questions/33233313/python-json-dumpsval-to-output-minified-json ?

[2017-09-21 18:20] lk-geimfari commented on #227
@sobolevn I agree. I'm in a hurry and it's not cool.

[2017-09-21 18:23] lk-geimfari commented on #192
@sobolevn I have checked this method and to my surprise, the size of the project only became larger. A first version of minimizer was worked perfectly, but too slowly.

[2017-09-21 22:21] vchernetsov opened #230 "Something weird is happening"
This module is installed as a "pip install git+https://github.com/lk-geimfari/mimesis@e885cbb71bb4a9a40ef4ca72f6a7f7035cfd77ee" in docker

Looping over Personal objects gives only 2 persons
I just keep it here:

    root@50978a2def4f:/usr/src/app# python
    Python 3.5.4 (default, Sep 13 2017, 14:38:38)
    [GCC 4.9.2] on linux
    Type "help", "copyright", "credits" or "license" for more informat

[2017-09-21 23:49] lk-geimfari commented on #230
It's not issue. Use it like that:

[code]

[2017-09-22 07:02] mpibpc-mroose commented on #228
It's fine now! Thanks for the fast response.

[2017-09-22 07:02] #228 closed

[2017-09-24 14:35] lk-geimfari opened #231 "Automatically changing __version__"
We need to implement custom command which will help us easily manipulate with versions of package.

What this command should do:

- [x] Automatically increment `version` string and rewrite file `__version__.py`.
- [x] Manually create updated version of `__version__.py`.

### Why?
 Generally because i don't want to open `vim` every time when i create new tags.

### How?
Pretty easily:

[code]

We c

[2017-09-24 15:10] #231 closed

[2017-09-25 05:39] #230 closed

[2017-09-25 08:47] lk-geimfari commented on #192
So, i'ts done!

![image](https://user-images.githubusercontent.com/15812620/30799967-31659c5a-a1e7-11e7-8fc3-c8853456ad35.png)

[code]

[2017-09-25 08:54] #192 closed

[2017-09-25 18:25] sobolevn commented on #192
Nice job!

[2017-09-27 06:16] #154 closed

[2017-09-27 06:16] #218 closed

[2017-09-28 15:44] AnChan1 commented on #3
I could help with german :)

[2017-09-29 01:48] albertxie commented on #229
I'd like to take on this project for Hacktoberfest, any specific requirements in mind?

[2017-09-29 10:35] lk-geimfari commented on #229
@albertxie You can use CLI of Faker (similar library) as great example of CLI.

[2017-09-29 10:38] lk-geimfari commented on #3
@AnChan1 Thank you! Please, check correctness of  data for `de` and `de-ch` locales. Also, you can add [builtins specific provider](https://github.com/lk-geimfari/mimesis#builtins-specific-data-providers) for German.

[2017-09-29 13:04] hi-hi-ray commented on #219
Hi! lk-geimfari,
There is a way to automatically generate changelog, using the following lib: https://pypi.python.org/pypi/gitchangelog

:]

[2017-09-29 16:10] lk-geimfari commented on #219
@hi-hi-ray Hi! Looks really awesome! Thank you!

[2017-09-29 16:14] ayushgangrade commented on #226
Hi @lk-geimfari I would like to work on this!

[2017-09-29 16:16] lk-geimfari commented on #229
@apirobot We will definitely add support of CLI. If @albertxie can't take this task, then i'll add it by myself. Let's thinks about features which you want to see in CLI.

[2017-09-29 16:16] mish24 commented on #226
@lk-geimfari I want to work on this for hacktoberfest. Anything I should remember for this?

[2017-09-29 16:16] lk-geimfari commented on #229
Let's thinks about features which we want to see in CLI. Any suggestions?

[2017-09-29 16:22] albertxie commented on #229
hopefully I can get a PR out by sometimes next week, I was thinking of simply starting off with argparse to specify details on basic cases

[2017-09-29 16:34] lk-geimfari commented on #226
@mish24 I have updates TODO list. Please, look at tasks.

[2017-09-29 16:37] lk-geimfari commented on #229
@albertxie Remember that the code must be testable inside and out. Let me know, please, if you are unable to cope for some reason. Thanks!

[2017-10-01 08:25] lk-geimfari opened #234 "Check tests for duplicates."
It is possible that some tests are repeated several times without any need. If so, then we need to fix it.

[2017-10-01 08:57] n0zg commented on #234
I made a pull request with the spanish translation :)

[2017-10-02 10:02] ZeFifi commented on #96
Hi @lk-geimfari ! I'm confused: could you tell me which files need to be checked? I could help with the french ones ;)

[2017-10-02 10:04] lk-geimfari commented on #96
@ZeFifi All files related to your locale, namely: `mimesis/data/fr/`

[2017-10-02 10:15] ZeFifi commented on #96
@lk-geimfari Ok cool, I'm gonna take a look at it, I saw some typos ;)

[2017-10-02 10:18] lk-geimfari commented on #96
@ZeFifi Thank you very much!

[2017-10-03 06:48] mistermantas commented on #3
Is Lithuanian done yet? If not, can I / how can I start helping? 🙂

[2017-10-03 06:51] lk-geimfari commented on #3
@mistermantas Of course you can! Thank you!

P.S Code is `lt`. Just copy files from other locale and replace them with `lt` data.

[2017-10-03 07:27] mistermantas commented on #3
@lk-geimfari Easy enough. I'll submit a PR as soon as I can.

Happy Hacktoberfest lol

[2017-10-03 07:48] lk-geimfari commented on #3
@mistermantas Thank you! Happy Hacktoberfest! :octocat:

[2017-10-03 08:01] lk-geimfari commented on #3
@mistermantas I have pushed [template of locale with instruction](https://github.com/lk-geimfari/mimesis/tree/master/mimesis/data/locale_template).

[2017-10-03 09:12] lk-geimfari opened #238 "Add providers to Generic dynamically."
At this moment it should be done manually, which means that every time a new data provider appears, you must manually add it to Generic (), which is not convenient. I suggest add all providers from `__all__` to Generic() automatically, but we need to save current API.

Any ideas?

[2017-10-03 12:51] ZeFifi commented on #96
Everything looks OK now :)

Please not that in the text.json file there's this sentence, in english: "This is the first age that's ever paid much attention to the future, which is a little ironic since we may not have one.". Would you like me to translate it or is it meant to remain in english since it's a quote?

[2017-10-03 13:15] lk-geimfari commented on #96
@ZeFifi In `fr` all data must be in French. If you can find more data in French then update it! It would be awesome!

[2017-10-03 14:30] ZeFifi commented on #96
Sure, I'm gonna recheck all the JSON ;)

[2017-10-03 15:28] edjroz commented on #234
Making a pull request on the english version

[2017-10-03 21:53] samuarl commented on #199
The randomness distribution in schema generations seems off. Even from many iterations the resultant data usually only contains a handful of unique values per field.

[code]
**10000 Iterations**

Name|Count
-|-
Wynell|6456
Nakita|1436
Spring|1218
Yuko|890

Surname|Count
-|-
Shannon|6435
Harrell|1447
Tyler|1212
Vincent|906

Username|Count
-|-
Vaultier_1956|6445
Compatriot_2055|1452
Dervish.1941|120

[2017-10-04 05:57] lk-geimfari commented on #199
@samuarl It's strange, because we have disabled seed by default.

[2017-10-04 06:04] lk-geimfari commented on #199
@samuarl I run this script on my laptop and everything is okay.

[2017-10-04 06:20] lk-geimfari opened #244 "Implementing custom provider for factory_boy."
This issue is based on suggestion of @sobolevn from issue #199.

Quote:
[code]

If you want to take solve this issue, please read #199.

[2017-10-06 11:27] #3 closed

[2017-10-07 19:04] pzelnip commented on #234
How does one run the tests?

[2017-10-08 15:53] SteadBytes commented on #244
Would this be something similar to the [faker module](http://factoryboy.readthedocs.io/en/latest/_modules/factory/faker.html) - `factory.faker`  for factory_boy? I've read #199 but am still a bit unsure.

[2017-10-08 15:58] sobolevn commented on #244
That was my original idea.

[2017-10-08 17:30] SteadBytes commented on #244
Aha ok thank you 👍  , `factory.faker` is part of factory_boy, so this would be PR to factory_boy? Otherwise we'd need to pull in factory_boy as a dependency and add the functionality here - which would go against the claim in
 mimesis README that no other modules are required. Or am I missing something?  I'd love to have a go at this but I don't want to get it wrong! 😕

[2017-10-08 18:19] lk-geimfari commented on #244
@sobolevn What do you suggest?
Something like this?
[code]

or maybe just PR to factory_boy?

[2017-10-08 18:33] lk-geimfari commented on #244
Also i have created this[ issue](https://github.com/FactoryBoy/factory_boy/issues/423) in the repository of factory_boy.

[2017-10-09 08:46] ZeFifi commented on #96
@lk-geimfari It's OK for the french translations now ;) I submitted my last pull request! You can check the FR box ;) Have a great day, it was cool to contribute to your project!

[2017-10-09 08:52] lk-geimfari commented on #96
@ZeFifi Thanks!

[2017-10-11 17:15] Sidsharik commented on #226
@lk-geimfari I am on it. and would love to work on it.

[2017-10-11 17:18] lk-geimfari commented on #226
@Sidsharik Yeah, sure! You're assigned. Thanks!

[2017-10-12 12:07] lk-geimfari opened #250 "Issue with telephone() of provider Personal()"
So, it's returns too many similar data. We need to fix it **immediately**.

This method is based on the `custom_code()` method of the `Code()` provider and it should works like `custom_code()`, but it doesn't.

How works `telephone()` now:

[code]
How it should work:

[code]
Similar problems are observed with other methods, such as `identifier()`.

P.S As i can judge, the problem not in a `seed`.

[2017-10-12 16:09] simba3447 commented on #250
May I start working on this one?

[2017-10-12 16:24] lk-geimfari commented on #250
@sammyshj Sure! You're assigned. Thanks!

[2017-10-12 18:51] lk-geimfari commented on #250
Fixed in #251

[2017-10-12 18:51] #250 closed

[2017-10-13 00:54] gnubyte commented on #195
I'll take this and work on it over the next week.
Thanks,
-Gnubyte

[2017-10-13 16:31] lk-geimfari commented on #234
@pzelnip `make test` or `py.test .`

[2017-10-19 17:17] Marlysson commented on #238
Can you explain more details about that?

The data providers are [this](https://github.com/lk-geimfari/mimesis/tree/master/mimesis/data) ?

And the manually add that you said are the method in ```add_provider``` in ```generic.py``` file?

Automatically that you say is load from data profile folder and run the ```add_provider``` soon after?

[2017-10-19 17:18] lk-geimfari commented on #238
I mean this: https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/generic.py#L13

[2017-10-19 17:19] lk-geimfari commented on #238
It would be awesome to add new provider to generic automatically, i.e from `__all__`. Keep in mind that we use lazy initialization for providers which use `locale`.

[2017-10-19 17:21] Marlysson commented on #238
Why some attributes have the underscore and other not?

[2017-10-19 17:24] lk-geimfari commented on #238
Because some providers pull data from files when another not. if attribute start with underscore then it use file from `data/locale/provider.json` and we use lazy initialization for ones.

[2017-10-19 17:34] Marlysson commented on #238
What you think about read the class in providers folder, and insert it in `__all__ ` list, and the `Generic ` class read this list and call `__new__` from each element.

The problem would be detect when call lazy load or normal load.. The current `_` at begin from attribute.

[2017-10-20 07:42] gnubyte commented on #195
Hi @lk-geimfari & @sobolevn
https://github.com/gnubyte/mimesis
I have added the commitizen package to my fork of the mimesis package with the default commitizen plugin, and badge addded to the readme.

Are there any plugins that you as main contributors feel need to be included?
The plugins will affect what needs updates need to be added to the `contributing.md` file.

[2017-10-20 07:43] gnubyte commented on #195
Also what is the criteria for fulfilling the issue?

Thank you.

[2017-10-20 12:47] ar4s commented on #96
@lk-geimfari I will check for pl

[2017-10-21 15:15] sobolevn opened #258 "Type hinting"
I have started to use `mypy`. Aaaand it is not so good right now.

Libraries lack typing support. And I know that `mimesis` support only `python3`.
Do you consider adding type hints?

There are some advantages:
- stricter API
- static analysis support to improve quality

There are some disadvantages:
- type hinting was introduced in `python3.5`, so any version prior to that will have to use specia

[2017-10-21 16:20] lk-geimfari commented on #258
Do you mean annotations?

Something like this:
[code]

Right?

[2017-10-21 16:22] sobolevn commented on #258
Yes.

[2017-10-21 16:25] lk-geimfari commented on #258
I thinks that we can add annotations. What about Python 3.4?

[2017-10-21 16:37] lk-geimfari commented on #258
[Seems](https://www.python.org/dev/peps/pep-3107/) like annotations was added in Python 3.0. And we we lose nothing.

[2017-10-21 17:22] sobolevn commented on #258
https://www.python.org/dev/peps/pep-0484/

[2017-10-21 17:32] lk-geimfari commented on #258
@sobolevn Soooo... What shall we do? Refusing to support Python 3.4 doesn't seem to be a good idea.

[2017-10-21 18:02] sobolevn commented on #258
It actually is in some cases. Since upgrading from `3.4` to `3.5` is painless in 90% of situations.

[2017-10-21 18:50] lk-geimfari commented on #258
@sobolevn Let's do this!

[2017-10-21 21:41] sobolevn commented on #258
Please, note that variable annotations is not supported in `3.5`. https://stackoverflow.com/questions/39971929/what-are-variable-annotations-in-python-3-6/39973133#39973133

[2017-10-21 23:06] lk-geimfari commented on #258
@sobolevn I will add annotations for functions and methods. Can i hope for your help with situations which confuse me?

[2017-10-21 23:08] lk-geimfari commented on #258
Example:

[code]

[2017-10-21 23:09] lk-geimfari commented on #258
Is it right `amout: int = None`. I mean Is it should be integer default value?

[2017-10-21 23:20] lk-geimfari commented on #258
@sobolevn How to be if the function returns multiple types using? Should we use `typing` module?

[2017-10-22 00:03] lk-geimfari commented on #258
Yet another example which illustrate syntax:

[code]

Is it okay?

[2017-10-22 08:57] sobolevn commented on #258
In regular `python` without types I would say that `None` is perfectly fine.
But in this particular situation it is possible to change `amount=None` to `amount: int = 3`. That what it does anyway, doesn't it?

[2017-10-22 08:59] sobolevn opened #259 "Use type hints in docs"
Connected to https://github.com/lk-geimfari/mimesis/issues/258

There is a plugin for `sphinx` to grab type hints into autodocs: https://github.com/agronholm/sphinx-autodoc-typehints

I guess it should be used.

[2017-10-22 11:24] lk-geimfari commented on #258
@sobolevn Problem is in standard python library. `json` module returns both `list` and `dict`.

[2017-10-22 11:29] lk-geimfari commented on #258
So, seems like i have found a [solution](https://github.com/python/typing/issues/182).

[2017-10-22 12:14] sobolevn commented on #258
With the provided solution there are a lot of uncovered cases, which are valid `json`:
- `[1, [], {}, "z"]`
- `1` and `"a"`

[2017-10-22 15:37] DefaltSimon commented on #259
I'll try to make this work, if you don't mind :)

[2017-10-22 15:42] sobolevn commented on #259
Make sure you are in sync with https://github.com/lk-geimfari/mimesis/pull/260

[2017-10-22 15:50] DefaltSimon commented on #259
I have already made the necessary changes to convert :rtype: to type annotations and enable the sphinx extension, should I add annotations for parameters like in #260 as well?

[2017-10-22 15:54] sobolevn commented on #259
@lk-geimfari could you please help @DefaltSimon ?

[2017-10-22 16:03] lk-geimfari commented on #259
@DefaltSimon Yeah, sure. We work on type hints in `type-hinting` branch.

[2017-10-22 16:04] DefaltSimon commented on #259
Sure, I'll submit a pull request to that branch when I finish builtins and the base mimesis directory.

[2017-10-22 16:10] lk-geimfari commented on #259
@DefaltSimon Thanks for contributing! Don't forget to add yourself to `contributors.md`.

[2017-10-23 06:37] artiemq commented on #234
I will work on this

[2017-10-23 09:42] sobolevn opened #263 "Integrate mypy"
When #258 will be ready the next step is to integrate `mypy`.

There is a standalone script.
And there's a plugin for `pytest`, but I have not used it yet. https://pypi.python.org/pypi/pytest-mypy

[2017-10-23 13:11] lk-geimfari commented on #234
@artiemq Okay. Thanks!

[2017-10-23 18:56] lk-geimfari opened #264 "Failed some tests."
Looks like we have some issue with [tests](https://travis-ci.org/lk-geimfari/mimesis/jobs/291687239). We should fix it.

[2017-10-24 13:00] #234 closed

[2017-10-24 13:01] #264 closed

[2017-10-24 13:19] #238 closed

[2017-10-25 08:21] ChloeAnn commented on #96
Hi, I would love to contribute, I will check en-gb.

[2017-10-25 13:54] lk-geimfari commented on #96
@ChloeAnn Okay, thanks!

[2017-10-25 14:20] lk-geimfari commented on #6
It's funny, but similar incident has happened again. [factory_girl](https://github.com/thoughtbot/factory_bot/issues/921) was renamed.

[2017-10-27 05:12] sobolevn opened #269 "Return to cloud version"
Sometime ago we started https://github.com/wemake-services/elizabeth-cloud

But it had some issues:
- it was very hard to generate schema, because types was not obvious. now we have hints
- api was not stable. there was a restructuring, now it is done

I guess it is possible to restart that old project to provide a service.
It would also be required to change url and name.

[2017-10-27 07:10] lk-geimfari commented on #269
@sobolevn I agree. I'll try work on it when i finish working on `type-hinting` .

[2017-10-27 13:10] sotsugov commented on #226
@lk-geimfari Hello, anything I can help with?

[2017-10-27 13:13] lk-geimfari commented on #226
@sotsugov It's done! Thanks!

[2017-10-29 08:59] tamlt2704 opened #271 "setup.py encoding error (python 2.7.3, debian)"
step 1: clone repository
step 2: cd mimesis && pip install .
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-qr3xMU-build/setup.py", line 31, in <module>
        with open('PYPI_README.rst', 'r', encoding='utf-8') as f:
    TypeError: 'encoding' is an invalid keyword argument for this

[2017-10-29 17:22] lk-geimfari commented on #271
We don't support old version of Python, sorry.

[2017-10-30 03:06] #271 closed

[2017-10-30 03:50] lk-geimfari opened #273 "Names of numbers in various languages"
It's can be useful somewhere.

List available: [here](https://en.wikipedia.org/wiki/List_of_numbers_in_various_languages)

So, which provider is better for this? `Numbers()` or `Text()`?

[2017-10-30 07:23] CostGranda commented on #273
Definetly `Numbers()`

[2017-10-30 09:05] lk-geimfari commented on #273
@CostGranda I thinks so too.

[2017-10-30 09:38] andela-ieyo commented on #175
I would love to contribute to this. How do I get involved.

[2017-10-30 10:43] lk-geimfari commented on #175
@andela-ieyo Please, look at the last task in TODO. Thanks!

[2017-10-30 11:40] CP-NEMO commented on #175
#include<stdio.h>

[2017-10-30 15:51] bjd2385 commented on #258
@lk-geimfari I've already mentioned this in #267, but if one is defaulting the argument to `None`, which is [automatically pushed](https://github.com/python/cpython/blob/fe4ea9cf1ee04f5a60e4ed928d8624b95b031e18/Lib/typing.py#L366) to `type(None)` or `NoneType`, then we should use `typing.Optional[the_type]`. In the example above, we'd have
[code]

[2017-10-30 22:42] lk-geimfari commented on #258
@bjd2385 I'll update code using `Optional`.

[2017-10-31 19:58] wbkoetsier commented on #96
Hi, I started checking the Dutch data and I'm not sure how far I should go in correcting.

I translated some Belgium Dutch sentences to Dutch, consider for example the difference between 'Zijt gij al klaar?' (Belgium) and 'Bent u al klaar?' (Netherlands), or change 'tas koffie' into 'kopje koffie'. The sentences seem allright, I skimmed.

But then the words. I'm not sure where they came from, but

[2017-10-31 20:27] lk-geimfari commented on #96
@wbkoetsier If you want to know why we have added swear words then i can explain. It's for testing comments, forums and i.e. Suppose you need to check whether your application skips comments with abusive language.

So, mimesis is just help. You should not don't write bad words manually, because mimesis will generate them.  I understand that bad words sound very rude, but they sound so, only if the

[2017-10-31 20:32] lk-geimfari commented on #96
@wbkoetsier Therefore, they should be most popular bad words in the current language.

[2017-11-01 08:21] wbkoetsier commented on #96
I can see some massively offensive stuff in the EN 'bad words' as wel... OK, I'll leave them unchanged, I understand the purpose.

But what about the 'normal' words? Are there supposed to be rude words in there, and what about all the English words and names? Should I clean that up, or leave it as is?

[2017-11-01 15:37] lk-geimfari commented on #96
@wbkoetsier There two types of words: `normal` and `bad`. What words there should be clear from the name.

[2017-11-05 05:07] #226 closed

[2017-11-05 05:08] #175 closed

[2017-11-05 05:27] sobolevn commented on #175
Hooray! 🎉

[2017-11-05 05:41] lk-geimfari commented on #175
@sobolevn Yeah, we did it! :smile:

[2017-11-05 15:53] lk-geimfari commented on #263
@sobolevn Unfortunately, the solution works slowly... too slowly: `3m 42s 840ms`

[2017-11-05 16:00] lk-geimfari commented on #263
Also it's doesn't support `mypy.ini` file. It's a problem.

[2017-11-05 16:06] lk-geimfari commented on #263
I think that i'll rewrite plugin especially for us.

[2017-11-05 19:23] sobolevn commented on #263
@lk-geimfari that plugin is not production ready, that's true. But maybe should help with its development instead of rewriting it?

[2017-11-06 01:58] lk-geimfari commented on #263
@sobolevn Of course, I'll write to the author and if he agrees, I'll work on current plugin. Rewriting is an extreme measure.

[2017-11-09 00:27] faheel opened #279 "Personal.identifier returns the same value"
The following code:
[code]
always prints the same identifiers. Sample output:
[code]
Whereas using `Code.custom_code` works fine:
[code]
Sample output:
[code]
I think this is because `Personal.identifier(...)` returns `Code(self.locale).custom_code(...)`, each time creating a new temporary `Code` object, rather than storing a `Code` object in it, `code = Code(self.locale)`, and calling `code.custo

[2017-11-09 00:31] faheel commented on #279
@lk-geimfari In case the problem is what I suspect it to be, I'll be happy to send a PR to fix it :slightly_smiling_face:

[2017-11-09 00:59] faheel opened #280 "Numbers.primes returns odd numbers, not primes"
The logic for primes in `Numbers.primes` is incorrect, and is instead for odd numbers:
[code]

[2017-11-09 01:07] faheel commented on #280
The docstring for it is also incorrect. I'll send a PR with the fixes soon.

[2017-11-09 06:19] lk-geimfari commented on #280
@faheel Thank you for find this bug. I'll wait for your PR.

[2017-11-09 06:19] lk-geimfari commented on #279
@faheel Seems like you're right. I'll wait for your PR. Thanks!

[2017-11-09 06:27] lk-geimfari commented on #279
@faheel I think that we need to move `custom_code()` to `utils.py` as function, becuase it is use too often. And the creation of the `Code` object each time  is inexpedient.

[2017-11-09 09:09] lk-geimfari commented on #279
@faheel So, i have fixed this issue in branch `type-hinting`.

[2017-11-09 17:12] #279 closed

[2017-11-10 04:47] lk-geimfari commented on #258
Sooo, it's done!

[2017-11-10 04:47] #258 closed

[2017-11-10 10:41] lk-geimfari opened #281 "The return type is displayed twice in docs."
Screenshot:

![image](https://user-images.githubusercontent.com/15812620/32654949-bb4b9ede-c61c-11e7-85c5-306d28535b5b.png)

We should fix it immediately.

[2017-11-10 10:43] lk-geimfari commented on #281
I think that it because we have explicitly specified the return type in the docstrings.

[2017-11-10 12:00] lk-geimfari commented on #281
I have fixed this issue.

[2017-11-10 12:00] #281 closed

[2017-11-10 14:39] lk-geimfari commented on #259
@sobolevn It's done!

[2017-11-10 14:39] #259 closed

[2017-11-11 13:55] #244 closed

[2017-11-11 17:24] #280 closed

[2017-11-13 18:15] vladcalin opened #284 "Broken link in documentation"
There is a broken link in http://mimesis.readthedocs.io/#locales

The broken link points to http://mimesis.readthedocs.io/en/latest/locales.html but there is no such page.

Also, where can I find the supported locales?

[2017-11-13 18:23] lk-geimfari commented on #284
@vladcalin You can find supported locales in [README.md](https://github.com/lk-geimfari/mimesis#locales).

[2017-11-13 18:24] lk-geimfari commented on #284
@vladcalin I'll fix it ASAP.

[2017-11-14 05:24] #284 closed

[2017-11-15 15:39] gardnerjh opened #286 "Slow execution speeds and repeated output"
Providers utilizing the [utils.custom_code](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/utils.py#L188) method perform slowly and output the same value several times when called repeatedly from the same program.

To replicate, update the [comp.py](https://gist.github.com/lk-geimfari/461ce92fd32379d7b73c9e12164a9154) file by replacing `p.full_name()` with `p.telephone('###-###-####')`

[2017-11-15 16:38] lk-geimfari commented on #286
@gardnerjh The function `custom_code` works really really slow and we need to fix it as soon as possible. Concerning `telephone()`, then i cant replicate this issue, because everything is okay.

Example:
[code]
All the results are unique, as you can see. I have not idea why it's works differently in your case.

Which version of library do you use? What is your OS?

[2017-11-15 18:05] gardnerjh commented on #286
Here are my specs:
Mimesis 0.0.10
Python 3.6.3
Mac OS High Sierra (10.13)

I copied your code and ran it and it comes back with stuff like this:

[code]

[2017-11-15 18:13] lk-geimfari commented on #286
@gardnerjh How do you installed mimesis? Using pip? Try installing manually by copying the repository.

We are preparing to release the first major version (1.0.0). It's already done, but i have not published it on PyPi and it's possible that this issue only in `0.0.10`.

[2017-11-15 18:14] gardnerjh commented on #286
Yeah I did use pip. I'll try a manual install and report back.

[2017-11-15 18:15] lk-geimfari commented on #286
@gardnerjh Okay. Thanks!

[2017-11-15 18:18] lk-geimfari commented on #286
@sobolevn It seems there is a problem with the Mac, but i'm not sure. Can you check code above? It's works as expected in your case?

[2017-11-15 18:26] sobolevn commented on #286
I can confirm this. Happening on my mac.

[code]

[2017-11-15 18:31] lk-geimfari commented on #286
@sobolevn I can't understand why. On my Ubuntu 16.04 everything is okay. Any ideas?

[2017-11-15 18:34] sobolevn commented on #286
That's how `Code` works. Sorry for this long snippet.

[code]

Here's the reason behind this error: everytime we create a new instance of `Code` it only has some values to generate. So, it generates only them.

But with the same instance it works fine.

[2017-11-15 18:37] lk-geimfari commented on #286
@sobolevn So, version 1.0.0 should work correctly, because i have fixed this a few time age, here: [utils.custom_code](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/utils.py#L188).

[2017-11-15 18:39] sobolevn opened #287 "Telephone numbers are incorrect"
Country code can not be less than `1`.

`telephone()` method uses `custom_code` to generate a phone number, but there this rule is not respected: https://github.com/lk-geimfari/mimesis/blob/master/mimesis/utils.py#L205

As it can generate something like `+0-(...)-...`

Reference: https://countrycode.org/

[2017-11-15 18:40] sobolevn commented on #286
Yeap, it really should.
@gardnerjh thanks for this issue, it is already fixed in the newest version.

[2017-11-15 18:40] #286 closed

[2017-11-15 18:41] lk-geimfari commented on #287
@sobolevn Thank you! I'll fix it today.

[2017-11-16 05:35] #287 closed

[2017-11-16 05:35] lk-geimfari commented on #287
Fixed in f5c4df2.

[2017-11-16 05:38] lk-geimfari commented on #199
Implemented in 53c8741930fe0c79e605d53817e4ef4bcead0766.

[2017-11-16 05:38] #199 closed

[2017-11-16 06:06] lk-geimfari opened #288 "Using enum for clear API"
This proposal was originally borned in our discussion [here](https://github.com/lk-geimfari/mimesis/commit/31614c6a09d964a59381fc16fc63992b976092a2#commitcomment-25635904).

Proposal (by @sobolevn):

"_Maybe we could use enums more often?
It really covers this case easily. And it is possible to statically check your code with enum._"

Here's the sample code:

[code]

And then:
[code]

So, we want

[2017-11-16 06:15] lk-geimfari commented on #288
As for me, I like the idea, but with some notes:

1. When we will use `enums` we should import one, if we want to change default values of arguments of the methods:

[code]

[2017-11-16 08:04] lk-geimfari commented on #288
@sobolevn So, i refactored [check_gender](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/utils.py#L144) using enum and it's how it looks now:

[code]

If it's correct way to use `enum`, then i really like how it looks. This is awesome!

[2017-11-16 08:20] sobolevn commented on #288
Yes, it looks nice. But what is `Gender.DEFAULT`? It is not clear to me without going into the docs. It really should be `Gender.MALE`.

[2017-11-16 08:29] lk-geimfari commented on #288
@sobolevn It's for returning random gender, maybe it's good idea to rename it to `RANDOM`?

[2017-11-16 17:53] lk-geimfari opened #290 "Move methods related to payments to Payment provider"
It's for much clearer API.

So, what we should move:

1. `credit_card`
2. `credit_card_expiraition_date`
3. `cvv`
4.  `cid`
5.  `paypal`
6. `bitcoin_addres`
7. `ethereum_addres`
8. `litecoin_addres`

At this moment listed methods are located in `Personal()`, but i suggest create new provider with name `Payment`.

[2017-11-17 18:28] lk-geimfari opened #291 "Name of the module with enums"
Should it be `mimesis.enums` or `mimesis.constants`?

[code]
or
[code]

[2017-11-18 10:53] #290 closed

[2017-11-18 11:06] lk-geimfari commented on #288
@sobolevn Should we use enums in methods everywhere or only where we have `try/except/KeyError`?

[2017-11-18 11:09] sobolevn commented on #288
@lk-geimfari sorry, I don't get it. Could you provide a code example to illustrate your point?

[2017-11-18 11:16] lk-geimfari commented on #288
@sobolevn For example

[code]

We can rewrite it using `enums` like this:
[code]

I want to understand which solution is clearer in terms of design. Or, perhaps, both solutions are bad?

[2017-11-18 12:06] sobolevn commented on #288
I like the second one. That was my original point, when I have fired an issue.

I am not sure about `RANDOM` by the way. I have heard a lot of developers said that it does not belong there. That `enum` represent items. `RANDOM` is not an item.

Maybe it is not to late to replace it with a function?

[code]

[2017-11-21 18:20] 4kpt opened #292 "How i can create two telephones for one person?"
[code]

[2017-11-22 08:35] 4kpt commented on #292
I need two different telephones like work phone and home phone. How can i get it?

[2017-11-22 09:11] lk-geimfari commented on #292
@4kpt There are bug with generating telephone by mask which was be fixed in version `1.0.0. I'll publish new version in next week.

Try use this:

[code]

We have seriously improved the library in version 1.0.0 and these inconveniences should pay off by clearer API.

[2017-11-22 09:17] 4kpt commented on #292
But i need use usa-specific phone number like Person("en").telephone...
Why create new Person instance return old person telephone?

[2017-11-22 09:27] lk-geimfari commented on #292
@4kpt We have discussed why in #286. It's a bug related to `code.Code.custom_code`: [details](https://github.com/lk-geimfari/mimesis/issues/286#issuecomment-344685919).

[2017-11-22 09:32] lk-geimfari commented on #292
@4kpt If you are really really need usa telephone numbers, then you can use this monkey-patch:

[code]

[2017-11-22 09:59] 4kpt commented on #292
Thanks.

[2017-11-22 10:41] #292 closed

[2017-11-22 14:56] lk-geimfari opened #293 "More informative messages for NonEnumerableError"
Now it's looks like that:

[code]

Output:
[code]

Any ideas?

[2017-11-22 16:43] sobolevn commented on #293
Maybe list possible value?

[2017-11-22 17:55] #293 closed

[2017-11-22 22:40] jorisdevrede opened #294 "Switch address format for locale nl"
The address format in The Netherlands is '[street name] [number]', opposite to how the locale is configured at the moment.

[2017-11-22 23:24] lk-geimfari commented on #294
Fixed in #295

[2017-11-23 04:25] #294 closed

[2017-11-27 09:00] lk-geimfari opened #297 "Follow the checklist"
We should check every points: http://python.apichecklist.com

[2017-11-27 09:50] lk-geimfari opened #298 "Processing of enums in methods"
Checking and processing of enum is a really frequent case in our library, maybe it make sense to move the processing of enums to `BaseProvider` and it this case we can use this:

[code]

instead this:
[code]

[2017-11-27 09:50] lk-geimfari commented on #298
@sobolevn What do you think?

[2017-11-27 10:19] sobolevn commented on #298
Sure!

[2017-11-28 09:29] #298 closed

[2017-11-28 16:41] #288 closed

[2017-11-28 16:41] #273 closed

[2017-11-28 16:42] lk-geimfari commented on #291
I made a decision use name `enums`.

[2017-11-28 16:42] #291 closed

[2017-11-28 19:11] lk-geimfari commented on #263
@sobolevn How should we check types? Should we check types with usual tests or after ones?

Let me illustrate ideas:

[code]
or
[code]

The problem with co-testing is that mypy takes a considerable amount of time.

[2017-11-28 19:14] sobolevn commented on #263
What's the timings for tests and type checking?

[2017-11-28 19:22] lk-geimfari commented on #263
@sobolevn I have run `py.test` 7 minutes ago and testing still going testing.

[2017-11-28 19:29] sobolevn commented on #263
`mypy` must be way faster. So, it is easier to run fast tests first, then slow tests.
I will also open a new issue to optimize tests speed.

[2017-11-28 19:31] sobolevn opened #300 "Optimize tests timings"
Right now tests take more than 7 minutes. https://github.com/lk-geimfari/mimesis/issues/263#issuecomment-347634658

What do I suggest:
1. profiling
2. using several threads with `pytest-xdist`
3. optimisation

[2017-11-28 21:51] lk-geimfari commented on #300
So, on disabled flag `--verbose` usual testing took `~25` second (without `pytest-xdist`) and I thinks that is not a bad result.

As for `mypy`, then:

without `pytest-xdist`:
[code]

on the single core:
[code]

on the 2 cores:
[code]

[2017-11-29 11:02] sobolevn commented on #300
Oh, `mypy` takes some much time? From 25 seconds to almost 400 seconds?

[2017-11-29 11:09] lk-geimfari commented on #300
@sobolevn On using with `pytest-mypy`, on using just `mypy` it works very fast. Less than 10 seconds.

[2017-11-29 11:10] lk-geimfari commented on #300
@sobolevn I have used flag `auto` and it is detected 4 cores automatically.

[2017-11-29 11:13] sobolevn commented on #300
@lk-geimfari did not know about `auto`. Could you create a PR with this fix for https://github.com/wemake-services/wemake-django-template please?

So, why won't we just run them separately? `mypy` first, then `pytest`?

[2017-11-29 11:21] lk-geimfari commented on #300
@sobolevn I think so too. I'll fix it. What worries me, since Travis CI understands that the tests were successful? If we will use just mypy, without pytest, then how Travis understand that type check is passed?

[2017-11-29 11:22] lk-geimfari commented on #300
@sobolevn Do you mean `auto` for `wemake-django-template`? Do you use `pytest-xdist`, because I can't find it in `Pipfile`.

[2017-11-29 13:11] lk-geimfari commented on #300
So, it's done. We'll use just `mypy`, not `pytest-mypy`. It works fine!

[2017-11-29 13:22] lk-geimfari commented on #300
Fixed in #299

[2017-11-29 13:22] #300 closed

[2017-11-29 13:23] lk-geimfari commented on #263
Fixed in #299

[2017-11-29 13:23] #263 closed

[2017-11-29 14:54] sobolevn commented on #300
Please, don't forget to fix https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/setup.cfg#L37 Thanks!

[2017-11-29 15:06] lk-geimfari commented on #300
@sobolevn I have created [PR](https://github.com/wemake-services/wemake-django-template/pull/62). Seems it works fine, but the first attempt was [failed](https://travis-ci.org/wemake-services/wemake-django-template/builds/309013194#L691) if you look at logs of Travis.

[2017-11-29 15:07] lk-geimfari commented on #300
@sobolevn Also Travis provides CPU with 2 cores, not 4.

[2017-12-01 13:02] lk-geimfari opened #302 "One time default locale initialization."
I suggest a feature for changing the default locale:

[code]

[2017-12-01 13:12] lk-geimfari commented on #302
@sobolevn What do you think?

[2017-12-01 13:25] sobolevn commented on #302
What are your agruments?

[2017-12-01 14:20] lk-geimfari commented on #302
Using this function, user can pass typing of locale name for every providers.
We just "says" to mimesis that in our project we interested only in this locale.

This:

[code]

Instead this:

[code]

There no need explicitly pass an argument `locale` to the data provider.

**P.S** Yes, we have `Generic` for this cases, but it works slowly because it has a lot of lazy attributes.
I think that this is

[2017-12-01 14:39] sobolevn commented on #302
Something does not seem good to me. I can not express it yet. When I will have some spare time I will return to this topic, ok?

[2017-12-01 14:40] lk-geimfari commented on #302
@sobolevn Sure. I'll not work on this yet.

[2017-12-04 12:31] lk-geimfari opened #304 "Issue on installing using pip"
[code]

[2017-12-04 12:50] lk-geimfari commented on #304
An exception here:

[code]
I think that it's can be easily fixed like that:
[code]

[2017-12-04 13:16] #304 closed

[2017-12-05 10:11] sobolevn commented on #302
Ok, let's get back to it. Here are my thoughts:

- I feel like this feature might not be 100% thread safe
- It does not really save any time, since it is not that hard to specify a locale
- This might cause some very hard issue, imaging `initialize_default_locale` been called in some very unexpected place. And having a global mutable state is generally a bad practice

[2017-12-05 12:31] lk-geimfari commented on #302
@sobolevn I had time to think about it and I came to the same conclusions. The global state is really hard to debug and we'll not add this feature.

[2017-12-05 12:32] #302 closed

[2017-12-05 17:46] lk-geimfari opened #305 "README in PyPi"
https://pypi.python.org/pypi/mimesis/2.0.0

[2017-12-07 15:29] #219 closed

[2017-12-13 04:54] lk-geimfari opened #318 "Add important data generators for RussiaSpecProvider"
It would be awesome to add support for generating the following:

- [x] `ИНН` - [Read more on wiki](https://ru.wikipedia.org/wiki/Идентификационный_номер_налогоплательщика).
- [x] `ОГРН` - [Read more on wiki](https://ru.wikipedia.org/wiki/Основной_государственный_регистрационный_номер).
- [x] `КПП` - [Read more on wiki](https://ru.wikipedia.org/wiki/Идентификационный_номер_налогоплательщика#%D0%9A

[2017-12-14 13:53] lk-geimfari opened #321 "Change how works generating data by schema"
The current design is bad for following reasons:

`Field` is an object which can represent any method of any provider and it's mean that is data provider which should return data and it's the only thing that we want by this object, but here how it works right now:

[code]

It looks really annoying.

It should be done using another way because here every instance of `Field` contains method `fill`,

[2017-12-15 04:08] #321 closed

[2017-12-16 15:22] #297 closed

[2017-12-18 08:12] lk-geimfari opened #325 "Seed does not work for some providers"
**Description:**
Seems like @duckyou have found a bug in our code and `seed` is really does not work sometime and we should fix it.

**Reason:**
It's happening because we use `custom_code` which use another `random` object.

**Decision:**
We should move utils which use `random` to `helpers.Random`

[2017-12-18 08:22] duckyou commented on #325
Thanks for the quick response, @lk-geimfari :smile:

I can try moving `custom_code` to `BaseProvider` like you said in #324  discussion

[2017-12-18 08:26] lk-geimfari commented on #325
@duckyou You know, it's better to move it to `helpers.Random`. There's just everything related to random selection.

[2017-12-18 08:27] lk-geimfari commented on #325
@duckyou after that, we can just call `self.random.custom_code`. Looks good.

[2017-12-18 08:28] lk-geimfari commented on #325
@duckyou If you don't want to do it, I can do it by myself, but if you want work on it, then, please, create new PR, because old is really hard to read :smile: . Thanks!

[2017-12-18 08:31] duckyou commented on #325
@lk-geimfari Hmm... You goddamn right!
That's may be simplest solution :relaxed:

I do this ;)

[2017-12-18 08:32] fried-sausage commented on #318
Russian Address Classifier aka [КЛАДР](https://ru.wikipedia.org/wiki/%D0%9A%D0%9B%D0%90%D0%94%D0%A0), or may be more recent: https://ru.wikipedia.org/wiki/ФИАС could also be useful

[2017-12-18 08:32] lk-geimfari commented on #325
@duckyou Thank you!

[2017-12-18 08:34] lk-geimfari commented on #318
@fried-sausage Suse! I have updated list.

[2017-12-18 08:42] lk-geimfari opened #326 "Optimize custom_code"
It would be awesome to optimize `custom_code`. Sometimes it works slowly.

Current implementation:
[code]

[2017-12-18 08:44] duckyou commented on #325
@lk-geimfari
https://github.com/lk-geimfari/mimesis/blob/af9c877d9bde654dff2f8be524b81a35460f2307/mimesis/enums.py#L6-L12

Method get_random_item also affected :worried:

[2017-12-18 08:47] lk-geimfari commented on #325
@duckyou We will not change it, because it's not really about `data`, but about `arguments` for function.

[2017-12-18 08:59] duckyou commented on #325
@lk-geimfari Issue explain:

[code]
This worked because we set format directly
... but if we omit this parameter

[code]
its happen beause:
https://github.com/lk-geimfari/mimesis/blob/af9c877d9bde654dff2f8be524b81a35460f2307/mimesis/providers/address.py#L147-L148

[2017-12-18 09:04] lk-geimfari commented on #325
@duckyou Skip this for now. I'll think about it later. Our priority for a right now is `custom_code`.

[2017-12-18 09:14] fried-sausage commented on #318
@lk-geimfari btw, if im not mistaken, the only method to generate random numeric string using mask is `pin` method in Code provider. I use it, but not for generating pin codes.
May be it could make sense to add such generic ("Provider-agnostic") methods to BaseProvider or make some generic  provider and add such methods to it?

[2017-12-18 09:19] lk-geimfari commented on #318
@fried-sausage Already! Function `utils.custom_code` which also used by `Code.pin`.

[2017-12-18 13:38] duckyou commented on #326
Faster than original implementation:

[code]

Compare code:

[code]

Results:
[code]

[2017-12-18 14:02] lk-geimfari commented on #326
@duckyou Much better!

[2017-12-18 14:03] lk-geimfari commented on #326
@duckyou Do you updated custom_code in you PR?

[2017-12-18 14:05] duckyou commented on #326
@lk-geimfari not yet
update it?

[2017-12-18 14:07] lk-geimfari commented on #326
@duckyou Not yet! I'll do it by myself. Thanks!

[2017-12-19 10:04] lk-geimfari commented on #326
Fixed in #328

[2017-12-19 10:04] #326 closed

[2017-12-19 11:30] duckyou opened #329 "Slow realization of Cryptographic.mnemonic_code method"
#### Description:

Method created new list of words for shuffle it and then randomly(again) gets some words.

https://github.com/lk-geimfari/mimesis/blob/c0f25809026eb3638389c7ea3225f066c7ccb349/mimesis/providers/cryptographic.py#L74-L83

#### Possible solution:

Just randomly choice some words from __data object?

[code]

#### Comparison:
[code]

[2017-12-19 13:00] duckyou opened #330 "Slow realization of Structured.json method"
#### Description:

Every method call generate list of values, of which only one needed

https://github.com/lk-geimfari/mimesis/blob/c0f25809026eb3638389c7ea3225f066c7ccb349/mimesis/providers/structured.py#L131-L137

#### Possible solution:

Generate only one value when it needed

[code]

#### Comparison:

[code]

[2017-12-20 11:07] #330 closed

[2017-12-20 11:15] #329 closed

[2017-12-20 11:19] lk-geimfari commented on #325
Fixed. Now we should think about how should we test providers with seed.

[2017-12-20 11:27] duckyou commented on #325
@lk-geimfari good job! 😸
Sorry for off-top, but maybe this project community have a place for discussions.. for example irc or slack?

[2017-12-20 11:35] lk-geimfari commented on #325
@duckyou It's okay. Unfortunately, not yet. We have a small community, so usually, we discuss everything here, although it would be great, of course, to have a place where we could discuss everything.

We can create repository `discussion` in @mimesis-lab. I can add you to the team if you're interested in this project.

[2017-12-20 11:37] lk-geimfari commented on #325
@duckyou I have invited you to @mimesis-lab. Accept the invitation if you're interested. Thanks!

[2017-12-20 11:40] duckyou commented on #325
@lk-geimfari im in! ^^

[2017-12-20 18:14] lk-geimfari commented on #305
Fixed in v1.0.3

[2017-12-21 05:55] lk-geimfari opened #331 "Automatically populate database"
Sketch (very and very dirty):
[code]

It works fine for Django. Should work for Flask too, but I have not tested it yet.

[2017-12-21 05:56] lk-geimfari commented on #331
Usage:
[code]

[2017-12-21 13:11] duckyou commented on #325
@lk-geimfari don't forget about https://github.com/lk-geimfari/mimesis/issues/325#issuecomment-352364359 ?

Heres two problems: `AllowRandom.get_random_item` and `ValidateEnumMixin._validate_enum`

Ok.. firstly how to get random enum with seed?
Original realisation is:
https://github.com/lk-geimfari/mimesis/blob/217e5fa7775389b92a166f643276b2533a5fb45e/mimesis/enums.py#L11-L12
aka we can just do t

[2017-12-21 13:25] lk-geimfari commented on #325
@duckyou Also we can add method `get_enum_item()` to `helpers.Random`.

[code]

What do you think? In my opinion, it will be easier.

[2017-12-21 13:28] lk-geimfari commented on #325
In this case, we should move `_validate_enum()` to `BaseProvider`

[2017-12-21 13:44] duckyou commented on #325
@lk-geimfari
hmmm `self.random.get_enum_item(CountryCode)` or `self.random.choice(CountryCode)`
... also enum attribute always should be passed to get_enum_item method
but if we combine this with _validate_enum...
[code]

[2017-12-21 13:57] lk-geimfari commented on #325
@duckyou Stop stop. Seems like the solution which I suggested above will not work, it seems.

Do you suggest something like this?
[code]

[2017-12-21 14:11] duckyou commented on #325
@lk-geimfari Not exactly. But seems like my solution not work too :disappointed:

[2017-12-21 14:12] lk-geimfari commented on #325
@duckyou The problem that we need to handle different cases. For example, sometime we need the value of the enum, but sometimes we need item of enum object, i.e `Enum.ITEM`.

[2017-12-21 14:22] duckyou commented on #325
Oh... here is:
[code]
Now:
[code]

[2017-12-21 14:49] lk-geimfari commented on #325
@duckyou I'll wait for your PR. Keep in mind that we have `builtins` data providers and that sometimes we need an item of the enum, but not a value (`personla.py -> surname`, `payment.py -> credit_card_number`).

[2017-12-21 14:55] duckyou commented on #325
@lk-geimfari Can i also move `_validate_enum()` to `BaseProvider`, like you say here https://github.com/lk-geimfari/mimesis/issues/325#issuecomment-353350713 ?

[2017-12-21 14:58] lk-geimfari commented on #325
@duckyou If we do it, then tests will fail because `ValidateEnumMixin` used in `mimesis.builtins`. It's really hard to understand what is better. At this moment we can only experiment with solutions.

[2017-12-21 15:07] duckyou commented on #325
@lk-geimfari I see here several solutions:

1. Just pass random object to method
2. Like you say here https://github.com/lk-geimfari/mimesis/issues/325#issuecomment-353350713
3. Init random object in ValidateEnumMixin
4. Just in provider method validate enum and raise exception

[2017-12-21 15:37] lk-geimfari commented on #325
@duckyou Let's will weigh the pros and cons of all solutions.

[2017-12-21 15:37] lk-geimfari commented on #325
@duckyou We need to take a decision that will allow us to make the minimum number of changes.

[2017-12-21 16:20] lk-geimfari commented on #325
@duckyou I have found a new problem:
Seeded `full_name()` returns different data because there are two different methods with similar `seed`, i.e `name` and `surname`.

And this is only the tip of the iceberg I think. Now I'm tired and can not figure out why the data is changing for fixed seed, sorry.

I have created PR where you can see changes: https://github.com/lk-geimfari/mimesis/pull/332

[2017-12-21 16:26] lk-geimfari commented on #325
Seems like `builtins` providers also does not support of seed. We should fix it!

[2017-12-26 19:06] lk-geimfari opened #334 "Alphabetical order data for all locales"
The data is not ordered in alphabetically.

Tool for ordering data alphabetically: http://jsoneditoronline.org

[2017-12-27 08:44] #325 closed

[2017-12-27 08:46] lk-geimfari opened #335 "Add tests for seeded providers"
As we discussed with @duckyou. We should add tests for seeded providers.

[2017-12-27 15:04] #334 closed

[2017-12-28 08:12] duckyou commented on #335
@lk-geimfari use seed tests design like i say here https://github.com/mimesis-lab/discussion/issues/1#issuecomment-353059935?
or is there a more right solution?

[2017-12-28 09:26] duckyou opened #338 "pytest-benchmark integration?"
What about [pytest-benchmark](http://pytest-benchmark.readthedocs.io/en/stable/) integration?
It can be useful for optimization issues
![screenshot_2017-12-28_12-20-41](https://user-images.githubusercontent.com/9839155/34406350-91f1f704-ebc9-11e7-8611-010ac80af9a0.png)
![screenshot_2017-12-28_12-23-30](https://user-images.githubusercontent.com/9839155/34406419-f3517fa6-ebc9-11e7-898c-8aa9f8ab0e73.

[2017-12-28 09:40] lk-geimfari commented on #335
@duckyou Actually I have not a better solution right now. @sobolevn maybe you can recommend something? What do you think about solution above?

[2017-12-28 09:43] lk-geimfari commented on #338
@duckyou It's can be useful I think. Let's add it!

[2017-12-29 13:41] lk-geimfari opened #340 "Issue with seed for username"
The method returns different data each time:
[code]

Also, it works slowly and we should fix.

[2017-12-29 13:42] lk-geimfari commented on #340
@duckyou Your participation would be really helpful.

[2017-12-29 15:31] lk-geimfari commented on #340
An early example of an alternative implementation which works faster:

[code]

Yeah, I know that it looks like a piece of shit, but:

[code]

[2017-12-29 15:48] duckyou commented on #340
Good job, @lk-geimfari! Also we can use lambdas 😉:
[code]
![screenshot_2017-12-29_18-45-41](https://user-images.githubusercontent.com/9839155/34440765-8077ebb4-ecc8-11e7-9924-042596dde241.png)

[2017-12-29 16:04] duckyou commented on #340
More benchs:
![screenshot_2017-12-29_19-02-40](https://user-images.githubusercontent.com/9839155/34441132-dedf8a2a-ecca-11e7-8e52-ee62eb95f77a.png)

`self` scoped lambdas username solution not so faster than solution with `if's`

[2017-12-29 17:55] lk-geimfari commented on #340
@duckyou So, let's add the faster solution.

[2017-12-29 17:56] lk-geimfari commented on #340
@duckyou Can I hope for you PR?

[2017-12-30 20:13] lk-geimfari commented on #340
You know, we will use solution which I published above. At this moment this is a faster solution. Anyway, we can update it in the future, when we implement the much faster solution.

[2018-01-01 20:11] lk-geimfari opened #341 "Test"

[2018-01-02 02:03] #341 closed

[2018-01-02 23:42] #340 closed

[2018-01-04 22:24] duckyou commented on #338
@lk-geimfari PR to `master`? Or you can create `dev` branch for features and after review merge it with master?

[2018-01-04 22:37] lk-geimfari commented on #338
@duckyou Can you create a branch, please?
[code]

[2018-01-04 22:42] duckyou commented on #338
@lk-geimfari https://github.com/duckyou/mimesis/tree/dev-performance

[2018-01-05 17:26] lk-geimfari commented on #338
@duckyou Can you tell me, please, what is your operating system? I have some problem with `tox` on `Ubuntu 16.04` when `tox` tries to run tests on `Python 3.6`: https://gist.github.com/lk-geimfari/144ca2b0d19cf7f1fefee3c7df33dfde

[2018-01-05 17:41] lk-geimfari opened #347 "Global optimization"
After integrations `pytest-benchmrak` were identified methods which works slowly and our current and high-priority task is to optimize that methods. Together we'll create a list of methods which must be optimized.

[2018-01-05 17:43] lk-geimfari commented on #347
@duckyou I'll happy to work on this issue with you anytime when you will not a busy. Just let me know.

[2018-01-05 18:31] lk-geimfari opened #348 "Replace requirements.txt with Pipfile"
Pipenv (which works with Pipfile) is officially recommended Python packaging tool from Python.org. We should use it instead `requirements.txt `.

[2018-01-05 21:56] kairichard opened #349 "Global seeding does not work as expected"
Consider the following code:
[code]

I would expect that for consecutive runs the same `dish` is printed but it's not:

[code]
The question now is whether that is expected behavior? I know there is a specific seed for each `Provider`.
Because I find it a bit annoying, requiring me to jump a few more hoops to get this under test.

[code]

[2018-01-06 08:01] duckyou commented on #338
@lk-geimfari Here it is:
[code]
I understand your problem. `psutil` cant compile without python-dev libs. Have you installed `python3.6-dev`?
Here is full script which should work on `Ubuntu/Xenial`:
[code]

[2018-01-06 12:37] lk-geimfari commented on #349
@kairichard You must explicitly pass the argument to `seed` to the data provider. Example:

[code]

[2018-01-06 12:45] lk-geimfari commented on #349
If you want to use one `seed` for any providers then you can use `Generic` data provider

[code]

[2018-01-07 04:52] sobolevn opened #351 "Change current development workflow"
I have not seen the project in a while and have not contributed to it. I was confused about different tools and workflow this project uses:

1. `setup.py` commands
2. `Makefile`
3. `tox`
4. custom commands in CI

What do I suggest:
1. Stick to one thing only. It might be whatever we choose, but this tool should be the only possible way to do things
2. Update `Contributing.md`, since it does not co

[2018-01-07 04:54] sobolevn opened #352 "Support wheel distribution"
Right now we only upload source distribution: https://github.com/lk-geimfari/mimesis/blob/master/Makefile#L63 and https://github.com/lk-geimfari/mimesis/blob/master/.travis.yml#L21

We can also upload `wheel`. That's how it is done: https://github.com/sobolevn/django-split-settings/blob/master/.travis.yml#L22

[2018-01-07 05:40] sobolevn opened #353 "Editorconfig is incorrect"
For some reason `editorconfig` is not applied to many files in the project. `.travis.yml`, `appveyor.yml` to name a few. These files uses spaces (that's correct), but they should use tabs as it is stated in the `editorconfig` (that's incorrect).

Only `Makefile` should use tabs, other files are good with spaces.
Also, related to the #351 as we should document how to integrated `editorconfig` into

[2018-01-07 10:36] lk-geimfari commented on #351
@sobolevn I think that `tox` is overhead because we already use `Travis CI` which doing same things and even more.

About the second point: I'll updated file asap.

[2018-01-07 11:02] #352 closed

[2018-01-07 14:01] duckyou commented on #351
@lk-geimfari But `tox` can run tests on several environments. It's very useful for a developer to final testing before push changes.

[2018-01-07 14:10] lk-geimfari commented on #351
@duckyou I agree with you. But if we are creating the new branch for every new feature then `push` is not a problem I think. The code which works on Python 3.5 likely will work on Python 3.6.

We can vote what will be better if you want.

Pros: Yes, it useful on some machines where does not installed both versions of Python.
Cons: It's duplicate functionality of Travis CI.

[2018-01-07 14:12] lk-geimfari commented on #351
@sobolevn Your few words, please.

[2018-01-07 14:18] kairichard commented on #349
@lk-geimfari Needing to manually seed the concrete implementation requires modification to the code under test. Which in general is something I try to avoid.

[2018-01-07 14:18] duckyou commented on #351
@lk-geimfari Okay, you're right. It's unnecessary tool with travis and appveyor.

[2018-01-07 14:27] lk-geimfari commented on #349
@duckyou Can you advise anything, please?

[2018-01-07 14:40] sobolevn commented on #351
+1 for removing `tox`. It serves well when we need to test both `py2` and `py3`, but it is not so important when dealing with only two very similar versions of `python`.

[2018-01-07 15:09] duckyou commented on #349
@kairichard If I understood correctly, you want use global seed for all providers (not like `generic`, where each new provider have its own seed). Unfortunately at this moment it is not supported. :pensive:
But you can try use [setUp](https://docs.python.org/3/library/unittest.html#unittest.TestCase.setUp) or [setUpClass](https://docs.python.org/3/library/unittest.html#unittest.TestCase.setUpClass

[2018-01-07 15:23] kairichard commented on #349
@duckyou Thanks for effort you put into answering my question. Now I feel a bit ashamed noticing that my initial example is a bit misleading. I am using your awesome lib to produce names for things and I have an integration test that verify things get names. What I wanted to do is hardwire the test output. Something like this:

[code]
HTH. What I am currently doing is seeding via `os.env` somewher

[2018-01-09 04:35] #349 closed

[2018-01-09 04:42] #347 closed

[2018-01-09 15:15] #348 closed

[2018-01-09 15:28] duckyou commented on #335
@lk-geimfari, @sobolevn Example of seed tests: https://github.com/duckyou/mimesis/commit/c59e5d8db6fc9ecd3ba3dd53f5ae4ea1a2636d07
With your approval, I will continue to write tests 😉

[2018-01-09 15:49] lk-geimfari commented on #335
@duckyou Looks pretty clear to me. Anyway, I don't see another clearer way to tests seed than this. I'm for, if @sobolevn does not offer something else.

[2018-01-10 22:55] lk-geimfari opened #361 "PEP 257"
We should integrate some tool, which will check `__doc__` automatically. Your suggestions, gentlemen.

[2018-01-10 23:09] lk-geimfari commented on #335
@duckyou So, you can continue to write tests for all providers. Thanks!

[2018-01-10 23:16] lk-geimfari commented on #361
I like [pydocstyle](https://github.com/PyCQA/pydocstyle) which was suggested by @sobolevn. If there are no other proposals, we will use it.

[2018-01-10 23:46] lk-geimfari opened #362 "Remove bad quotes from ignored directory"
We should fix `Q000` issue for all `.py` files in the project.

At this moment directory `mimesis/data/int/` is ignored by `flake8`, thus this misunderstanding must be fixed.

[2018-01-11 04:23] #362 closed

[2018-01-11 07:20] sobolevn commented on #361
`flake8-docstring` uses `pydocstyle` internally. It is just a wrapper to be used together with `flake8`.

[2018-01-11 13:45] lk-geimfari opened #364 "Doc coverage"
We need to add a tool for measuring doc-coverage.

Suggested tool: https://pypi.python.org/pypi/docstring-coverage/0.3.4

[2018-01-11 15:55] #351 closed

[2018-01-13 16:48] lk-geimfari opened #367 "Use generators instead returning the big result."
We should find the methods where we can use generators instead list comprehensions.

There are some reasons why:

- It's also can speed up running time.
- Much careful spending of memory.

Example:

[code]

[2018-01-13 18:42] lk-geimfari opened #368 "Seems like codecov works not really correct."
Just look at the report: https://codecov.io/gh/lk-geimfari/mimesis/tree/master/mimesis

[2018-01-13 19:24] lk-geimfari opened #369 "More informative docstrings"
We have updated (#365 ) all the docstrings of all the modules, classes, methods and functions, but this is not enough.

I am (@lk-geimfari) not a native speaker of English and therefore I can write with grammatical and orthographical mistakes. We need a person with a good knowledge of English to look through all our docstrings and update them, making them more informative and grammatically accurat

[2018-01-13 19:45] lk-geimfari commented on #368
I have written https://github.com/lk-geimfari/mimesis/pull/365#issuecomment-357460356 and now it works. The magic.

[2018-01-13 19:56] #361 closed

[2018-01-13 20:39] #338 closed

[2018-01-13 22:09] #368 closed

[2018-01-15 14:40] Valerievich commented on #364
Unfortunately this tool doesn't support Python 3.

[2018-01-16 19:03] #335 closed

[2018-01-16 20:24] lk-geimfari opened #370 "Test all the methods of Generic"
At this moment we test only some methods:

[code]

We should test all the methods of the attributes of Generic to be sure that all works fine.

Must be something like this:

[code]

[2018-01-16 20:29] lk-geimfari commented on #370
@duckyou There are we need the same way which you're used in `benchamrks`, i.e something like this:

[code]

[2018-01-17 03:45] lk-geimfari opened #371 "Really freaky names for ru"
We should fix this.

Example:
[code]

[2018-01-17 05:26] lk-geimfari commented on #371
So, I have removed `16k` random surnames and added only 1000 commonly used surnames in Russia.

[2018-01-17 05:42] #371 closed

[2018-01-17 08:13] duckyou commented on #370
@lk-geimfari Test all methods of generic providers is not so necessary. This tests should check: will be seed argument passed to providers or not.

[2018-01-17 09:16] #370 closed

[2018-01-17 09:18] lk-geimfari commented on #370
@duckyou I'll close this issue, but come back to it soon.

We need to test all methods to be sure that all providers work correctly after adding to `Generic`.

[2018-01-18 02:58] lk-geimfari opened #373 "Documentation building is failed"
Documentation building is failed. Report available [here](https://readthedocs.org/projects/mimesis/builds/6581629/).

[2018-01-18 05:07] lk-geimfari commented on #373
Just need to create the new tag.

[2018-01-18 06:40] #373 closed

[2018-01-18 09:19] #353 closed

[2018-01-18 19:18] h0n3yc4k3 opened #375 "I can't compile my project by pyinstaller"
I have a script with code:
[code]
and it works well, but after compiling this code to .exe via pyinstaller I have an error **FileNotFoundError: [Errno 2] No such file or directory: 'B:\\_MEI131682\\mimesis\\data/es\\personal.json'
[20624] Failed to execute script myproject**
So, I think that problem in path (`data/es\\personal`). What ways of solving this problem can you recommend?

[2018-01-19 01:25] lk-geimfari commented on #375
@h0n3yc4k3 Seems like we have hardcoded path. It's a bug.

[2018-01-19 01:29] lk-geimfari commented on #375
We need something like this:

[code]

[2018-01-19 02:19] lk-geimfari commented on #375
@h0n3yc4k3 I have fixed this issue (see #376). Now, this should work fine. Can you, please, uninstall an old version (`v1.0.4`) of mimesis and install latest (`v1.0.5`) and confirm that issue was fixed. Thanks!

[2018-01-19 13:55] h0n3yc4k3 commented on #375
Yes, it fixed wrong path, but for unknown reasons pyinstaller doesnt import mimesis data :(

[2018-01-19 15:14] lk-geimfari commented on #375
@h0n3yc4k3 Possible that the issue on the `pyinstaller` side. I really have not idea why this happens, sorry.

[2018-01-19 18:40] h0n3yc4k3 commented on #375
But I compiled it 😄
I added mimesis data to working dir and executed `pyinstaller --onefile --add-data mimesis;mimesis myscript.py` and now all works fine :)

[2018-01-19 18:40] #375 closed

[2018-01-20 02:56] lk-geimfari commented on #375
@h0n3yc4k3 My congratulations! That's awesome.

[2018-01-20 05:30] dynamicwebpaige opened #377 "Adding industry-specific codes to a new "Industry" class."
Many industrial fields (the petroleum industry, electrical engineering, chemical engineering, etc.) have industry specific codes and formatting that would be useful to generate synthetically.

**Examples**:
* [API well numbers](https://en.wikipedia.org/wiki/API_well_number) for exploratory wells - water, energy
* [Stock-Keeping Units](https://en.wikipedia.org/wiki/Stock_keeping_unit) (SKUs) and [P

[2018-01-20 05:39] lk-geimfari commented on #377
@dynamicwebpaige Sounds damn good! I like name `Industry`. It would be awesome to add such a data-provider. Do you want to add it by yourself?

[2018-01-20 05:41] dynamicwebpaige commented on #377
You bet! :) Will go ahead and self-assign the issue.

[2018-01-20 11:25] lk-geimfari commented on #194
We need to update documentation again.

[2018-01-21 08:27] sobolevn opened #381 "pypy support"
`pypy` has `python3.5` support. http://doc.pypy.org/en/latest/release-v5.10.1.html

So, maybe we can try to support that?
It may give our users some performance increase.

Checklist:
- [ ] will it work
- [ ] does it require any changes
- [ ] add new travis/appveyor testing targets
- [ ] add `setup.py` classifier
- [ ] update docs

[2018-01-21 08:32] lk-geimfari commented on #381
@sobolevn Literally yesterday I thought about the same thing.

[2018-01-21 12:33] lk-geimfari commented on #381
@sobolevn So. I have tried to add support of `PyPy` and seems this is impossible (or almost), because: https://travis-ci.org/lk-geimfari/mimesis/jobs/331439757

[2018-01-21 12:45] sobolevn commented on #381
Are ther any resources about typing and `pypy`? I have not touched `pypy` for several years now.

[2018-01-21 12:49] lk-geimfari commented on #381
@sobolevn I have found almost nothing about using ones together.

[2018-01-21 12:53] sobolevn commented on #381
Well, maybe we just have to wait. Should we close this issue?

[2018-01-21 12:55] lk-geimfari commented on #381
@sobolevn Let's will leave it opened, maybe someone can work on this issue.

[2018-01-21 13:21] #194 closed

[2018-01-21 22:46] duckyou commented on #381
@lk-geimfari Some time ago i also tested it with pypy3. It works, but mypy module not supported by pypy bcz cpython reasons like you say here https://github.com/lk-geimfari/mimesis/issues/381#issuecomment-359244973 0_o
We can just skip mypy module in pipfile for pypy and ignore mypy tests. :bulb:

[2018-01-22 01:10] lk-geimfari commented on #381
@duckyou How we can skip dependencies selectively? I mean, how we can skip mypy only on PyPY? Is there any way to remove mypy from Pipfile on the fly?

Something like this:

[code]

[2018-01-22 05:49] sobolevn commented on #381
@lk-geimfari no, that's not possible.

[2018-01-22 08:30] duckyou commented on #381
@lk-geimfari @sobolevn  Yes, like says here https://github.com/pypa/pipenv/issues/1334#issuecomment-359313432 we can filter deps:
[code]
(Other supported markers we can find [here](https://github.com/pypa/pipenv/blob/f20583c36d3e8f372311aa47a15493fe3ccc35d3/pipenv/pep508checker.py#L28-L40), or read [PEP508 - Environment Markers](https://www.python.org/dev/peps/pep-0508/#environment-markers))

But!

[2018-01-22 09:07] duckyou commented on #381
@lk-geimfari yes, its work!

![screenshot_2018-01-22_12-02-17](https://user-images.githubusercontent.com/9839155/35212765-4739a624-ff6c-11e7-9c29-5be867351d56.png)
![screenshot_2018-01-22_12-05-19](https://user-images.githubusercontent.com/9839155/35212836-8a271e08-ff6c-11e7-8df6-90bad58bacff.png)

[2018-01-22 10:06] lk-geimfari commented on #381
@duckyou Can you create PR, please?

[2018-01-22 11:05] duckyou commented on #381
@sobolevn @lk-geimfari Appveyor don't have pypy3 enviroment 😞 Need write install script... but its so necessary tests it? PyPy3 really more faster than cpython in this situation? Maybe first benchmark it?)

[2018-01-22 11:07] lk-geimfari commented on #381
@duckyou Sure. Better to benchmark it.

[2018-01-22 14:03] lk-geimfari opened #385 "Updated seed type for all providers"
This:
[code]
Must be:
[code]

[2018-01-22 14:08] #385 closed

[2018-01-22 16:30] lk-geimfari opened #387 "Generate geographic coordinates for country territory only"
When locale is specified it would be awesome to generate coordinates (`Address.coordinates`) only on the territory of the specified country.

**UPD:**

We can use [this](https://gist.github.com/lk-geimfari/0e5638302b00f299b39066223906e7d0) gist.

[2018-01-23 02:45] lk-geimfari commented on #387
@duckyou Any ideas?

[2018-01-23 02:50] pskalyber commented on #387
I we need it, we can use Google dataset here: https://developers.google.com/public-data/docs/canonical/countries_csv

[2018-01-23 03:06] lk-geimfari commented on #387
The second question is should we add this feature only for supported locales or optionally, i.e like that:

[code]

[2018-01-23 04:21] lk-geimfari commented on #387
@pskalyber Do you know how to use this ranges? I really don't know how to do it.

For example, we have coordinates of USA:
[code]

How can we generate random `latitude` for USA? What's range should we use?

[2018-01-23 11:01] duckyou commented on #381
💡 For speed increasing we can implement some functions with `C` or use `Cython`. But this decision excludes pypy support and maybe other exotic python implementations 🌵 Also may affect on windows supporting

[2018-01-23 11:06] lk-geimfari commented on #381
@duckyou I think that at this moments this is overhead. But if we find a really slow solution we can try to optimize ones, including using `C`.

[2018-01-23 11:07] lk-geimfari commented on #381
Here are many problems with PyPy. Let's close it and come back in next year :smile: .

[2018-01-23 11:08] sobolevn commented on #381
Please, reconsider adding `Cython`. It may cause to many problems with building.
And provide a little performance gain.

[2018-01-23 11:15] duckyou commented on #381
OK, les save it for dessert 😸

[2018-01-23 17:39] lk-geimfari opened #392 "Get rid of the hard-coded parts"
We have a lot of hard-coded parts in our code, for example, take a look at readme file in `mimesis/data/locale_template`.

We should think how to do library easily extensible. We should get rid of the hard-coded parts of the code.

Code must be more dynamic. Possible, we can use some design patterns for doing it. I'm open to suggestions.

[2018-01-23 17:47] #367 closed

[2018-01-25 05:24] lk-geimfari opened #393 "Added support of remote data"
Idia is very simple, just look at the code below:

[code]

This provider can be used extracting data from remote `.csv`, `.json` and `.zip` files.

[2018-01-25 05:26] lk-geimfari commented on #393
I'm always open to suggestions and criticism.

[2018-01-25 05:31] lk-geimfari opened #394 "Add provider Sport"
We can add provider which will provide data related to sport.

- [ ] [IOC codes](https://simple.wikipedia.org/wiki/List_of_IOC_country_codes)
- [ ] [FIFA codes](https://en.wikipedia.org/wiki/List_of_FIFA_country_codes)

[2018-01-28 07:38] #364 closed

[2018-02-01 13:24] lk-geimfari opened #399 "Rename provider"
I suggest renaming some providers:

`Personal` -> `Person`
`Structured` > `Structure`
`ClothingSizes` -> `ClothingSize`

[2018-02-01 18:32] lk-geimfari commented on #399
@duckyou What do you think?

[2018-02-02 13:37] #399 closed

[2018-02-02 15:12] #394 closed

[2018-02-05 15:28] lk-geimfari opened #402 "Use rst insted md"
Should be updated:

- [x] CHANGELOG.rst
- [x] CONTRIBUTING.md
- [x] CONTRIBUTORS.md
- [x] README.md

[2018-02-06 00:59] #402 closed

[2018-02-13 12:27] duckyou opened #405 "Mimesis Simple HTTP Server"
Implement very simple http server like in module `http.server`, which returns generated data by mimesis.

The idea is to pass template in header, and ignore body and query arguments, for future integration with another server.

#### For example:

Template:
[code]

Output:
[code]

Some header examples:

- **Mimesis-Template** - Template for response
- **Mimesis-Count** - Count of outputs. Default:

[2018-02-13 12:59] sobolevn commented on #405
Why not use `mimesis-cloud`?
That's exactly what it should do.

[2018-02-13 13:07] lk-geimfari commented on #405
@duckyou Do you have checked out [mimesis-cloud](https://github.com/wemake-services/mimesis-cloud)? Is it suitable? If yes, then I suggest improving `mimesis-cloud`.

[2018-02-13 13:08] lk-geimfari commented on #405
Let's improving `mimesis-cloud` and add a section about it to documentation.

[2018-02-13 13:19] duckyou commented on #405
@sobolevn @lk-geimfari Heres what i mean:

### HTTP Requests:

#### Get 100 users:

Request:
[code]
Response:
[code]

#### Add 1 user

Request:
[code]

Response:
[code]

Mimesis-Cloud using only graphql, if I understand correctly.

[2018-02-13 13:32] lk-geimfari commented on #405
@duckyou Can we do it without extra-requirements? If not, then I suggest do it as another package.

[2018-02-13 13:34] duckyou commented on #405
@lk-geimfari, yes. It can be done without third-party modules ^^

[2018-02-13 13:40] lk-geimfari commented on #405
@duckyou Let's try to do it in module `mimesis.http`, branch `server`.

[2018-02-13 13:41] lk-geimfari commented on #405
Of course, if @sobolevn don't mind against.

[2018-02-13 13:45] duckyou commented on #405
@lk-geimfari maybe better `mimesis.server`?
And when it will be done, we can run it like `python -m mimesis.server`?

We also need to discuss the template system in more detail.

[2018-02-13 13:48] lk-geimfari commented on #405
@duckyou Sure!

[2018-02-13 14:10] lk-geimfari commented on #405
@duckyou Illustrate your simple working demo version and we will be thinking about improving it together.

[2018-02-13 16:58] sobolevn commented on #405
@duckyou nope, `mimesis-cloud` supports any kind of http requests: `rest`, `graphql`, whatever other.

I am strongly against adding this kind of functionality to the core package.
Main reasons is over complicating functionality. One library should do one thing and do it well.

[2018-02-13 17:29] lk-geimfari commented on #405
In general, I agree with @sobolevn.

I thought, and it seems to me that we will greatly complicate the support of the project if we add such resource-intensive features to one project, so it's better to create a different repository for it (mimesis-lab/mimesis-http-server) or something like this. Let this be an experimental project in another repository. What do you think?

[2018-02-13 17:31] lk-geimfari commented on #405
I have created [mimesis-mock-server](https://github.com/mimesis-lab/mimesis-mock-server). Feel free to rename it.

[2018-02-13 17:37] lk-geimfari commented on #405
Or (better) we can improve existing project `mimesis-cloud`.

[2018-02-13 17:50] sobolevn commented on #405
+1 for improving `mimesis-cloud`.

[2018-02-13 17:51] lk-geimfari commented on #393
@sobolevn @duckyou What do you think?

[2018-02-13 17:52] lk-geimfari commented on #393
Datahub uses a similar way to get custom data: http://datahub.io/core/gold-prices#python

[2018-02-13 17:57] sobolevn commented on #393
I would also make this a separate package.
Since it would require additional requirements:
- `requests`
- `caching`
- possibly some others

[2018-02-13 18:01] lk-geimfari commented on #393
@sobolevn So, I'll close this issue, because we'll not add it to mimesis. I will try to implement this as a separate package in my spare time.

[2018-02-13 18:01] #393 closed

[2018-02-13 18:02] #331 closed

[2018-02-13 18:03] lk-geimfari commented on #229
So, no one wants to work on this, maybe we don't need it?

[2018-02-13 18:05] lk-geimfari commented on #195
I am personally creating changelog and always update release notes on GitHub on every new release. I close this question, but I will return to it if difficulties arise.

[2018-02-13 18:06] #195 closed

[2018-02-13 18:06] #206 closed

[2018-02-13 18:06] lk-geimfari commented on #206
Documentation was updated.

[2018-02-13 18:32] lk-geimfari commented on #229
I agree with you, but we don't add features which need external packages to `mimesis`, such features should be implemented in another self-sufficient package.

[2018-02-13 18:32] #229 closed

[2018-02-15 09:06] duckyou commented on #405
@lk-geimfari @sobolevn , here's an alpha realisation: https://github.com/duckyou/mimesis/commits/http-server

How to get:
[code]

Now we can request data:
[code]

Output:
[code]

This mimesis http server may be helpful, example, for front-end devs. He can get mock data, and after back-end realise api, just delete headers and call normal data from dev server.  :smirk:

[2018-02-15 09:16] sobolevn commented on #405
https://stackoverflow.com/questions/3561381/custom-http-headers-naming-conventions

[2018-02-15 09:18] sobolevn commented on #405
Also, is it just for alpha version that you are creating it inside the main repo?

[2018-02-15 09:38] duckyou commented on #405
I read this when thinking about naming of headers. If you want to use `X-` preffix, then I do not mind.

Sorry, i don't understand the question  :sweat_smile:.

[2018-02-15 09:41] sobolevn commented on #405
We are discussing several possible way where to implement this new feature. These places are: ` mimesis-mock-server` and `mimesis-cloud`.

That's why I am asking if you are developing this prototype in the main repo. Just to be sure that you have not missed our discussion.

[2018-02-15 09:57] duckyou commented on #405
For `mimesis http server` i created one file `server.py` with 200+ lines of code. This is `'very'*100` simple feature without complicated design. Its like `http.server` but for mimesis.

Also about `mimesis-clod`. Here's an idea. What if we write not just data provider service, but something like proxy. I can explain in more detail in the `mimesis-lab` if you want it.

[2018-02-15 16:11] #381 closed

[2018-03-08 08:52] lk-geimfari commented on #405
We should not want to reject proposals simply without justifying them. Therefore, if you will allow me, I will express my opinion. That's looks really useful and i like it, but we should keep in mind that Mimesis is library for generating data. We have added special section related to subject to documentation: [**What Mimesis is, What Mimesis is Not**](http://mimesis.readthedocs.io/foreword.html#w

[2018-03-09 12:38] #405 closed

[2018-03-09 12:38] #392 closed

[2018-03-09 12:39] #369 closed

[2018-03-16 17:07] sobolevn opened #421 "PyPI description rendering is broken"
https://pypi.python.org/pypi/mimesis/2.0.0

[2018-03-16 18:12] lk-geimfari commented on #421
@sobolevn I'll update it on this weekends. Thank you!

[2018-03-22 07:30] sobolevn opened #424 "Use pyroma to validate package integrity"
There's a cool thing called [`pyroma`](https://github.com/regebro/pyroma).

It could prevent errors like #421 from happening.
I think we can use it.

I will be happy to introduce a PR for this.

[2018-03-22 08:32] lk-geimfari commented on #424
@sobolevn It would be awesome! Thanks!

[2018-03-27 12:56] sobolevn commented on #424
Closed via https://github.com/lk-geimfari/mimesis/pull/429#issuecomment-376497204

[2018-03-27 12:56] #424 closed

[2018-03-27 15:45] duckyou opened #430 "Generate structured and non contradictory data"
What if we implement something like this:

[code]

Or upgrade schema provider to return non contradictory data. What do you think about this?

[2018-03-27 15:49] lk-geimfari commented on #430
I think that it's partially duplicate `schema.Field`.

[2018-03-27 15:50] lk-geimfari commented on #430
It's better to add good documentation about `schema.Field` to docs I think.

[2018-03-27 15:52] #305 closed

[2018-03-27 15:58] duckyou commented on #430
@lk-geimfari Schema field can return contradict data. For example female first name and male second name.

[2018-03-27 16:14] lk-geimfari commented on #430
@duckyou But you can use `**kwargs` for it.

[code]

[2018-03-28 10:34] lk-geimfari commented on #430
There is no need to implement it in a core. A user can do it manually:

[code]

[2018-03-28 10:54] duckyou commented on #430
@lk-geimfari You goddamn right :bangbang:
Also last questions: what about build-in schemas? Implement some schemas or omit it?

[2018-03-28 11:52] lk-geimfari commented on #430
@duckyou I think that we should implement it as a third-party package, for example, named `mimesis-schemas`. I think that this is a compromise between the simplicity of the core and its capabilities.

[code]

[2018-03-28 11:53] lk-geimfari commented on #430
In core package, we need to improve existing features and fix bugs. It's our priority.

[2018-03-28 11:55] duckyou commented on #430
@lk-geimfari you are reading my mind :wink: :+1:

[2018-03-28 12:21] lk-geimfari commented on #430
@duckyou You can do it by yourself too. You're a member of `mimesis-lab`

Anyway, i have created repo for you: https://github.com/mimesis-lab/mimesis_schema

[2018-03-28 14:01] sobolevn commented on #430
Nice! Closing.

[2018-03-28 14:01] #430 closed

[2018-04-01 12:30] lk-geimfari commented on #421
Fixed

[2018-04-01 12:30] #421 closed

[2018-04-02 10:30] sobolevn opened #432 "Fix mypy issues"
There are several things to consider:

1. Fixing bugs like this one: https://travis-ci.org/lk-geimfari/mimesis/jobs/361128185#L600
2. Adding new options to `mypy` to make it stricter: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/setup.cfg#L67
3. Add `tests` folder to be checked by `mypy` (not only `mimesis/` folder is checked)

I can d

[2018-04-02 10:34] lk-geimfari commented on #432
@sobolevn Sure!

[2018-04-02 14:58] #432 closed

[2018-04-02 15:01] sobolevn opened #434 "Arguments shadow builtin names"
After we have updated `flake8-builtins` we got new several new errors.

[code]

[2018-04-02 17:01] lk-geimfari commented on #434
@sobolevn If we will rename ones then we'll break API again. I don't know how to be.

[2018-04-02 18:52] sobolevn commented on #434
Let's just ignore this errors. We can use `# noqa: A002`. http://flake8.pycqa.org/en/3.1.1/user/ignoring-errors.html#in-line-ignoring-errors

[2018-04-03 12:48] sobolevn opened #436 "Change examples to be doctests"
Right now we use something like:

[code]

I suggest to change it to:

[code]

https://docs.python.org/3/library/doctest.html

But we need to freeze random here.
So, it possible to use something like https://docs.pytest.org/en/latest/doctest.html#the-doctest-namespace-fixture

[2018-04-03 12:56] #434 closed

[2018-04-03 14:32] lk-geimfari commented on #436
@sobolevn I'm all for it.

[2018-04-04 10:24] lk-geimfari opened #437 "Finally"
i think that it's better to use markdown.

https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi

[2018-04-04 12:57] vitasiku opened #438 "Allow a list of options as an argument to provider methods"
It would be nice, if the module allowed one to pass an optional list of possible values from which the random value is generated. This would eliminate the need to create custom provides, enums etc.
E.g using Text,

[code]
In this case, the random value generated will only come from ['Yes', 'No'] excluding 'Maybe'

In the above example, this will require modifications to
[https://github.com/lk-geim

[2018-04-04 13:52] lk-geimfari commented on #438
@vitasiku Maybe it's better to add argument `exclude=['Maybe', 'Something else']`?

[2018-04-04 14:10] vitasiku commented on #438
@lk-geimfari thanks for the reply. My intent for this was to randomly select one value from a preset list of options. However, the options maybe named differently from those specified in the "self._data"_

The exclude approach would imply that one has to be aware of what the possible values are since the choice is made from the preset values: self._data['answers'] in the memesis module.

A typical

[2018-04-04 14:16] lk-geimfari commented on #438
@vitasiku In such cases, you should use standard `random.choice()`. There no need to implement it in core, because you can do it manually, just replace `generic.text.answer(options=['Yes', 'No'])` to `random.choice([...])`. I think that this way is much shorter and clearer.

[2018-04-04 14:45] vitasiku commented on #438
For future users, here is how to go about with it.

[code]

[2018-04-04 14:45] #438 closed

[2018-04-05 05:41] sobolevn commented on #437
That will work only on new `pypi`. Let's wait until the old one is shut down.

[2018-04-05 06:49] lk-geimfari commented on #437
@sobolevn Yeah. Seems that it will not work on legacy PyPi. So, i think that we'll continue use rst.

[2018-04-05 06:49] #437 closed

[2018-04-07 20:28] sobolevn opened #440 "Validate readme before uploading to PyPI"
I have found a package just for this case! https://pypi.python.org/pypi/readme

[2018-04-10 06:56] sobolevn opened #444 "Validate manifests"
I have found a useful tool to validate complex manifests, I think we should give it a try: https://pypi.python.org/pypi/check-manifest

[2018-04-15 14:59] fried-sausage opened #445 "romanized decorator mutates ROMANIZATION_DICT"
After `@romanized` is used, ROMANIZATION_DICT gets updated and every module importing it will get this mutated ROMANIZATION_DICT.
Snippet below should reproduce problem.
[code]
Problem is here:
https://github.com/lk-geimfari/mimesis/blob/master/mimesis/decorators.py#L29

[2018-04-30 08:04] #445 closed

[2018-05-25 14:07] fried-sausage opened #458 "Do we really need to write type twice?"
Example of duplicate type annotation: https://github.com/lk-geimfari/mimesis/blob/master/mimesis/helpers.py#L43

[2018-05-25 14:43] lk-geimfari commented on #458
@fried-sausage Nope, actually, I just forgot to update docstrings for this method, sorry. Your PRs always welcome!

[2018-05-25 14:47] lk-geimfari commented on #458
It's done in https://github.com/lk-geimfari/mimesis/commit/4a97010209b7f675e337538f9b6aacad6b6a244c.

[2018-05-25 14:48] #458 closed

[2018-06-16 08:59] sobolevn opened #466 "Second, third and fourth level domains"
We can possible enhance `internet` provider to be able to generate fake domains like:
- `test.wemake.services`
- `mail.google.com`
- `app.test.example.com`
- `example.co.uk`
And others.

Link: https://en.wikipedia.org/wiki/Domain_name#Second-level_and_lower_level_domains

[2018-06-16 09:14] lk-geimfari commented on #466
I'm all for it. I'll try work on it when I'll not busy.

[2018-06-16 09:18] lk-geimfari opened #467 "Appveyor issue"
Seems like something is wrongly defined in `appveyor.yml`. We should fix it.

Example of output:

[code]

Link: https://ci.appveyor.com/project/lk-geimfari/mimesis/build/1.0.1186/job/128f47rfkh6h8aku

[2018-06-16 17:47] sobolevn opened #468 "Add pytest-randomly"
We need to run tests in random order to be sure, that they do not depend on each other.

https://github.com/pytest-dev/pytest-randomly

[2018-06-16 17:48] sobolevn opened #469 "Support pytest-randomly"
It is said, that `pytest-randomly` supports `faker` and `factory-boy`:

[code]

We need to think about possible integration with this project.

[2018-06-17 10:48] sobolevn opened #470 "flake8-builtins is not happy with some of our names"
When running tests:

[code]

So, I will just ignore these issues. I do not what to change something or break the API.

[2018-06-17 12:07] #467 closed

[2018-06-17 12:07] #470 closed

[2018-06-18 06:46] sobolevn opened #472 "Deploy only on one version of python"
Current deploy tries to do several `pypi` deploys.
That does not work: https://travis-ci.org/lk-geimfari/mimesis/jobs/393402294

We need to provide `condition: ` key for deployments. And deploy only from one version of python (3.6, probably).

[2018-06-18 11:07] #472 closed

[2018-06-26 03:27] richardbmx opened #474 "Logo design for the application"
Hi, I see that you are requesting a [logo design for the application](https://opensourcedesign.net/jobs/jobs/2017-10-23-we-need-illustration-logo).  I am a graphic designer and I would like to make a logo for you if you wish..

Here you can see part of my work (https://steemit.com/@richardbmx)

[2018-06-26 06:07] lk-geimfari commented on #474
Hi, Richard!

Thank you for your response, but it was an old request. We have already
updated our logo as you can see. If you interested, you can help us redraw
current our logo in the bigger resolution it would be awesome, but only if
you're interested. Thanks!

P.S You can find our current logo here:
https://github.com/lk-geimfari/mimesis
Let me know if you can do it.

On Tue, Jun 26, 2018 at 6:

[2018-07-02 11:59] #474 closed

[2018-07-08 10:23] sobolevn opened #475 "Support hypothesis"
There's a `faker` plugin to support `hypothesis`.
Sometimes I really need to generate some real-world values from `hypothesis` for some fields.
For example, there's a trouble with generating URLs for now.

So, we need to create a new library to integrate `mimesis` and `hypothesis` together, so I can use `mimesis` and not `faker` for these cases.

That's how it is currently implemented: https://git

[2018-07-12 10:47] pimuzzo opened #479 "Unknown encoding"
in https://github.com/lk-geimfari/mimesis/blob/master/mimesis/data/en/business.json and https://github.com/lk-geimfari/mimesis/blob/master/mimesis/data/en/address.json I've found:

[code]

and

[code]

[2018-07-12 13:34] lk-geimfari commented on #479
@pimuzzo Can you create PR with a fix, please? Thanks!

[2018-07-12 14:01] pimuzzo commented on #479
@lk-geimfari Sure!

[2018-07-12 15:53] pimuzzo commented on #96
@lk-geimfari I can check Italian

[2018-07-12 20:37] lk-geimfari commented on #96
@pimuzzo It would be awesome! I have added it by myself and I'm not sure that all data is correct, because, unfortunately, I don't know Italian. Thank you!

[2018-07-12 20:38] #479 closed

[2018-07-21 08:58] sobolevn opened #484 "Support `choice` provider"
I want to be able to select any value from a given sequence.

Like:

[code]

It seems to be imposible right now.

[2018-07-21 09:06] lk-geimfari commented on #484
I like it. Do you want to implement it in `AbstractField`?

[2018-07-21 09:12] sobolevn opened #485 "Datetime timezone support"
Currently I am unable to set timezone for cases like this:

[code]

But I would like to do something like:

[code]

I am not sure about the dependecies. Timezone support out-of-the-box is limited, we almost always use something like `pytz`.

So, maybe in this case we will just implement the second case.
Leaving timezone support optional. And only enabling passed in timezone.

[2018-07-21 09:12] sobolevn commented on #484
Sorry, but currently I don't have any time for it.

[2018-07-21 11:29] lk-geimfari commented on #484
@sobolevn I have implemented this pretty simple solution to do this. What do you think?

[code]

Result:

[code]

[2018-07-21 11:30] lk-geimfari commented on #484
@sobolevn Do I correctly understand you?

[2018-07-21 11:41] sobolevn commented on #484
Yeap, that's it!

[2018-07-21 11:43] lk-geimfari commented on #484
@sobolevn Sure, I was thought about it too.

[2018-07-21 11:51] lk-geimfari commented on #484
@sobolevn How should be selected unique? For example we have list:

And `choice('multiple_choice, 'items=[1, 2, 3, 1, 1], number=2)` selects [1, 1] but there are not unique. Should we return just one element, i.e [1]?

[2018-07-21 11:54] lk-geimfari commented on #484
@sobolevn Also I suggest don't use `choice` and `multiple_choice`, cuz the choice mode can be detected automatically when `number` is greater than 1.

[2018-07-21 11:54] sobolevn commented on #484
Yes, something like that.

[2018-07-21 13:03] lk-geimfari commented on #484
Implemenrted here: https://github.com/lk-geimfari/mimesis/commit/a391bd9e784b6763afcd2834f6b8689bcda92ac2

[2018-07-21 13:55] sobolevn commented on #484
But, that's not currently included as a provider.

[2018-07-21 14:20] lk-geimfari commented on #484
@sobolevn Looks like I misunderstood you.

[2018-07-27 16:47] lk-geimfari commented on #484
Now I understand what you meant. I'll do it in in this weekends.

[2018-08-02 11:25] northernwulf commented on #485
Hi.
As I understood it will be a another property zone: Optional[str] = None in constructor of BaseDataProvider. Also one more question: should it be a separate method for getting datetime with timezone or we need to add it to existent?

[2018-08-02 11:41] lk-geimfari commented on #485
@northernwulf Hi! We already have method [datetime()](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/date.py#L179) and all we need is just add support of parameter timezone for it.

@sobolevn Correct me if I'm wrong.

[2018-08-02 11:57] sobolevn commented on #485
@lk-geimfari it seems correct to me.

[2018-08-02 12:30] northernwulf commented on #485
@lk-geimfari got it. Thanks

[2018-08-06 14:30] t3chn0m4g3 opened #488 "elizabeth currently not available on pypi"
When trying to install `elizabeth` from pypi I am getting a `could not find error`. Searching for the packages reveals it is currently not available:
https://pypi.org/search/?q=elizabeth

[2018-08-06 14:35] #488 closed

[2018-08-06 15:57] lk-geimfari commented on #488
@t3chn0m4g3 That right `elizabeth` is a deprecated and unmaintained package. You must use `mimesis`

[2018-08-10 21:20] conformist-mw opened #490 "Unexpected image name from download image"
Hi there!
If download images with `download_image` and `internet.stock_image` files saves with name of get param:
`https://source.unsplash.com/300x300/?people` split by last slash → filename = `?people`.

[2018-08-16 12:33] t3chn0m4g3 commented on #488
@lk-geimfari Thanks for the swift response. I only realized this a few seconds after opening the ticket 😄
Thank you!

[2018-08-16 12:58] lk-geimfari commented on #488
@t3chn0m4g3 Thank you for using this package! Have a nice day!

[2018-08-23 18:10] e-vandenberg commented on #485
Hi! Just wondering if this enhancement has been added yet.

If not I'd like to give it a shot.

[2018-08-23 18:15] lk-geimfari commented on #485
@e-vandenberg Hi! It still did not implement you can take it and implement!

[2018-08-23 19:37] lk-geimfari commented on #485
@sobolevn Please, share with your vision of this feature with @e-vandenberg

[2018-08-23 21:34] sobolevn commented on #485
@e-vandenberg yeap, I had something similar in mind.

[2018-08-28 09:05] lk-geimfari opened #497 "A complex generator of a lot of dates."
Sometimes we need to generate a lot of `datetime` objects and at this moment we have not a good solution for this, so I suggest something like this:

[code]

How it works:

[code]
Result:
[code]

So, I think that it's pretty simple to understand and there is no need for comments.

That gives extreme flexibility in generating dates because a user can generate dates with any difference between them

[2018-08-28 09:06] lk-geimfari commented on #497
@sobolevn Your comment and criticism, please. Maybe we can do it the more elegant way, what do you think?

[2018-08-28 21:01] e-vandenberg commented on #497
I think it may be more useful for a param to determine the number of datetimes returned, rather than the interval between them. Some simple math might be added to achieve this.

[2018-08-28 21:47] e-vandenberg commented on #497
For example, a user might want to generate 50 datetimes. In the implementation above, it is not very simple to do this.

[2018-08-29 06:15] lk-geimfari commented on #497
@e-vandenberg Actually we just need to do this:

[code]

[2018-08-29 06:17] lk-geimfari commented on #497
Maybe I've misunderstood you, so can you please show me your vision?

[2018-08-29 11:06] e-vandenberg commented on #497
You're right, that also works quite well.

What I had in mind looked something like this:

[code]

It's up to you to decide which you think is more useful.

[2018-08-29 12:08] lk-geimfari commented on #497
@e-vandenberg Can you, please, illustrate to me how it will work. For example user have this range:

[code]
And this code:

[code]

What should be returned? Only the first 20 elements?

[2018-08-29 21:41] e-vandenberg commented on #497
@lk-geimfari Below I have implemented my idea:

[code]

Usage:

[code]

As seen above, the list `datetimes` is filled with `num_results` (in this case 20) evenly separated datetimes, that will range from `start` to `end`. The separation between the datetimes is found by executing `(end - start)/num_results` as seen in the code above.

In the examlpe provided, you can see that there are 20 datetime

[2018-08-30 08:38] lk-geimfari commented on #497
@e-vandenberg The problems with your solution that it does not work without `num_results`.

[2018-08-30 08:51] lk-geimfari commented on #497
Also, the `datetimes` in the example above looks too chaotic, seems like values don't matter. In this case, it's better to just randomly choice values from the list.

Like this:

[code]

[2018-08-30 09:45] lk-geimfari commented on #497
I've discussed this feature in Python.ru community in Slack and most people think that the `number` of values does not make sense here.

[2018-08-31 11:16] sobolevn opened #498 "CONTRIBUTING.md misses section on how to add new dependecies"
It would be nice to add two things over there:
1. that we don't have any runtime dependencies and probably will not add them at any time soon
2. we use accept new development dependencies
3. they should be installed with: `pipenv install --dev X`

https://github.com/lk-geimfari/mimesis/blob/master/CONTRIBUTING.rst#development-environment

[2018-08-31 23:13] e-vandenberg commented on #497
I thought it could be of use for people who want a specified number of dates generated, but I also see how you might think it might be redundant.

I'll leave it to you to decide whether or not to implement the `number_of_results` param.

[2018-09-03 15:39] lk-geimfari commented on #490
Jurek Dubovik expressed a desire to fix this issue. So, Jurek if you've read this comment and you've saved your interest to solve this you can start right now.

Just open terminal and do this:
[code]

After that: https://help.github.com/articles/creating-a-pull-request/

[2018-09-03 18:26] conformist-mw commented on #490
@lk-geimfari I've already fixed this function in my code so I create a [pull request](https://github.com/lk-geimfari/mimesis/pull/499) if you don't mind.

[2018-09-03 19:03] lk-geimfari commented on #490
@conformist-mw Sure!

[2018-09-04 12:18] lk-geimfari commented on #490
Fixed in #499

[2018-09-04 12:18] #490 closed

[2018-09-07 17:04] DevDataAnalyst opened #503 "How to export a CSV"
How to export a structured CSV file with all generated data

[2018-09-11 17:28] lk-geimfari opened #506 "Create custom docset for Dash"
[Dash](https://kapeli.com/dash) is an API Documentation Browser and Code Snippet Manager.

We can create custom docset for Mimesis and add to Dash. I think that it will very useful.

Related:
[How to add new docset to Dash](https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset).

[2018-09-12 13:46] lk-geimfari commented on #503
Actually, this question is not related to Mimesis. To export data generated by Mimesis you must use the usual way accepted in Python.

[2018-09-12 13:47] #503 closed

[2018-09-14 17:48] shivanikohlii commented on #269
Could you please elaborate on this issue, the specs, etc.

[2018-09-14 20:10] lk-geimfari commented on #269
@shivanikohlii Thank you for your interest. We have a cloud version of mimesis based on Sanic and GraphQL. So wee needs to update [mimesis-cloud](https://github.com/wemake-services/mimesis-cloud) to support the latest version of Mimesis.

For more details, you can ask a question to @sobolevn.

[2018-09-17 15:53] lk-geimfari opened #507 "Add support of pre-commit hooks"
Can we add support of [pre-cmmi](https://pre-commit.com/)t hooks?

[2018-09-17 16:57] lk-geimfari opened #508 "Annotate all variables"
So, I suggest annotate all the variables to better support of type checking.

If we will do it, then we should reject support of Python 3.5 and add Python 3.7 support.

[2018-09-21 14:14] #498 closed

[2018-09-25 07:57] lk-geimfari opened #512 "Add macOS to Travis"
It would be awesome to add it i think.

More information available [here](https://docs.travis-ci.com/user/multi-os/).

[2018-09-27 12:40] #387 closed

[2018-09-27 13:30] lk-geimfari opened #513 "Build on Python 3.7 in Windows"
Build on Python 3.7 in Windows

[2018-09-27 14:20] #513 closed

[2018-09-27 19:45] lk-geimfari commented on #512
Fixed in #516

[2018-09-27 19:45] #512 closed

[2018-09-27 20:56] lk-geimfari opened #518 "Use custom type for Optional"
We have a lot of code like this:

[code]

Why we can't do it like this:

[code]

@sobolevn What do you think?

[2018-09-27 22:34] sobolevn commented on #518
Nope, that's a bad idea. `Optional[str]` is very clear type. What is `String`? Mutable sequence of bytes? Immutable `str`? `Union[str, bytes, unicode]`?

[2018-09-28 06:48] lk-geimfari commented on #518
@sobolevn Agree, looks not really good.

[2018-09-28 07:56] #518 closed

[2018-10-01 14:32] Valerievich opened #520 "Test_utils.py fails"
I'm trying to `make test`. `python 3.7`
`test_download_image` fails every time.

There is an error:
`urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1045)>`

[2018-10-01 15:09] lk-geimfari commented on #520
@Valerievich Try this:  `download_image(url=url, unverified_ctx=True)`

[2018-10-02 11:15] Valerievich commented on #520
It's a local problem. [This](https://stackoverflow.com/questions/40684543/how-to-make-python-use-ca-certificates-from-mac-os-truststore) resolution helped.
Now all the tests passed. Thank you.