[2018-10-02 11:15] #520 closed

[2018-10-02 21:46] sobolevn commented on #508
Closing, as we have figured it out. We do not need to annotate all variables.
`mypy` can figure out types for us.

[2018-10-02 21:46] #508 closed

[2018-10-03 15:01] Valerievich commented on #436
@sobolevn Hello! Can you please clarify where exactly we want to see this action? after `make test` command ?

[2018-10-03 15:58] sobolevn commented on #436
I want to write [doctests](https://docs.python.org/3/library/doctest.html) instead os static examples.

[2018-10-04 12:10] sobolevn commented on #436
@Valerievich we do not need to freeze it, just `seed` is enough.

[2018-10-04 14:30] Valerievich opened #523 "Bug in [doctest] mimesis.utils.pull"
There is a bug in [doctest] mimesis.utils.pull:

[code]

[2018-10-04 14:30] Valerievich commented on #523
I'm going to deal with it

[2018-10-04 16:43] lk-geimfari commented on #523
@Valerievich Can you please add more information about how to reproduce this bug?

[2018-10-04 16:47] Valerievich commented on #523
Sure! Just run `pytest --doctest-modules` and you'll see `DocTestFailure`

[2018-10-05 10:41] lk-geimfari opened #525 "Add PR and issue templates"
Great example: [link](https://github.com/wemake-services/wemake-python-styleguide/blob/ada6a3f2af59c67520338289ef41a1244eb32877/.github/pull_request_template.md).

TODO:

- [x] PR Template
- [x] Issue template

[2018-10-05 11:01] Valerievich opened #526 "Add to .gitignore Visual Studio Code trash"
It would be useful to append `.gitignore`with files like `*.code-workspace`.

[2018-10-09 09:43] Valerievich commented on #523
Can't start fixing this. My [PR](https://github.com/lk-geimfari/mimesis/pull/522) hasn't approved yet.

[2018-10-09 12:13] lk-geimfari commented on #523
@Valerievich merged! You can start fixing this.

[2018-10-10 10:49] lk-geimfari commented on #526
Fixed in #530

[2018-10-10 10:49] #526 closed

[2018-10-10 13:34] Valerievich commented on #436
This issue can be closed. We've done with [PR](https://github.com/lk-geimfari/mimesis/pull/522).

[2018-10-10 15:38] sobolevn commented on #436
@Valerievich but you have changed only a single example.

My original idea was to change all examples to the doctests. In all project.

[2018-10-10 15:55] lk-geimfari commented on #436
@Valerievich Yeah, I don't understand why we need to close this too.

[2018-10-11 09:58] Valerievich commented on #436
Ok. Now I understand the whole idea of this issue. I am going to continue to work on this. It makes sense to create PR's which consist of changes only for one provider I think. It would be easier to approve.

[2018-10-11 10:02] sobolevn commented on #436
@Valerievich agreed.

[2018-10-11 17:12] GustavoKatel commented on #507
I could add an initial support at #531

[2018-10-13 06:47] #440 closed

[2018-10-13 06:47] #444 closed

[2018-10-15 15:01] lk-geimfari opened #535 "Add method to coverage ContentFile for Django"
Concept:

[code]

We can implement it using `tempfile` module.

[2018-10-15 15:10] Valerievich commented on #523
@lk-geimfari Since we've merged PR we could close this related issue.

[2018-10-15 15:10] #523 closed

[2018-10-15 20:39] sadielbartholomew commented on #484
Hi, I am going to attempt this & hopefully put in a PR (I assume it is currently unassigned given the 'hacktoberfest' label). Thanks for providing a good amount of detail on what exactly is desired.

[2018-10-15 22:58] sadielbartholomew commented on #466
Hi, can I have a go at this if nobody else is working on it already?

[2018-10-15 23:00] sadielbartholomew commented on #484
Hi, I started to look at this as a 'hacktoberfest' challenge, but it seems the 'choice' functionality has already been implemented (in ``mimesis/mimesis/choice.py``)? I am assuming that:

is the reason this issue is not yet closed & has a recent label inviting contributions? Can you please confirm or otherwise that there is still work to do for this issue, namely making 'choice' into a provider. I

[2018-10-16 06:50] sadielbartholomew commented on #466
Perfect, thanks @lk-geimfari. I will attempt issue 484 first, but if nobody else has started to work on this by then I will try it.

[2018-10-16 06:52] sadielbartholomew commented on #484
Thanks @lk-geimfari, that's great. I'll start looking at this on my lunch break at ~12:00 UTC time.

[2018-10-16 06:53] lk-geimfari commented on #466
@sadielbartholomew Great! Thank you!

[2018-10-16 13:30] lk-geimfari commented on #484
@sadielbartholomew Deal! We'll happy to merge your PR. Thank you and happy hacking!

[2018-10-16 17:20] lk-geimfari commented on #497
Fixed in #539

[2018-10-16 17:20] #497 closed

[2018-10-16 17:20] lk-geimfari commented on #485
Implemented in #539

[2018-10-16 17:20] #485 closed

[2018-10-17 21:38] lk-geimfari opened #540 "Add support of time and date objects for Datetime"
We need to add support of `datetime.time` object for a method `Datetime.time` and `datetime.date` for `Datetime.date`.

- [ ] Add support of time object
- [ ] Add support of date object

Both methods should return an object (and string, but optionally), not just a string.

Currently, I'm working on v2.2.0 and we need to implement it in the branch `v2.2.0`

[2018-10-17 22:16] lk-geimfari opened #541 "Add support of locale for Datetime.datetime"
We need to add support of [locale](https://docs.python.org/3/library/locale.html) for `Datetime.datetime`

[2018-10-18 01:51] potter-potter commented on #540
I'll grab this one.

[2018-10-18 15:13] lk-geimfari commented on #540
Implemented in #539

[2018-10-18 15:13] #540 closed

[2018-10-20 11:07] lk-geimfari commented on #535
Sample:

[code]

[2018-10-20 11:14] lk-geimfari opened #543 "Issue with stock_image, image_by_keyword"
At this moment they return something like this:
[code]
but the result must be like this (because of redirecting):
[code]

[2018-10-20 11:15] lk-geimfari commented on #543
To fix it we can use this code:

[code]

[2018-10-20 11:36] #543 closed

[2018-10-20 12:09] sobolevn commented on #535
I would not expect to have an `http` call inside my test fixture.

[2018-10-20 12:57] lk-geimfari commented on #535
So, I've refactored. Here how it works:

[code]

Why?

Using this method we can get the image as a writable object which can be saved easily.

On local machine:
[code]
In Django:

[code]

[2018-10-20 13:02] #535 closed

[2018-10-21 15:49] #525 closed

[2018-10-21 15:53] #506 closed

[2018-10-21 15:59] #507 closed

[2018-10-21 16:07] #318 closed

[2018-10-26 12:09] Valerievich commented on #436
I see that my changes in `Business` provider doctest was removed in [this](https://github.com/lk-geimfari/mimesis/commit/2343ff7d4af5f765fc201751ab799c6b5d8b02c9#diff-fdbb911247c3727bb921a2ef74bd3d34) commit. I understand that doctest might be useless.
Does it mean that issue isn't relevant anymore?

[2018-10-27 11:40] sadielbartholomew commented on #466
I've now had time to start implementing this; I'm working on it in [this branch](/sadielbartholomew/mimesis/tree/internet-lower-level-domains). Once it is complete, tested & documented I will put in a PR. Thanks again.

[2018-10-27 11:56] lk-geimfari commented on #466
@sadielbartholomew Great news! Thank you for your time and for your interest! We'll wait for your PR.

[2018-10-30 03:32] ExpandedMind opened #555 "Broken link on CONTRIBUTING doc"
## What's wrong

Link for Issue Tracker inside CONTRIBUTING.rst file addresses to 404 Not found Page

## How is that should be

Should address to Issue Tracker page

[2018-10-30 03:32] ExpandedMind commented on #555
Working on it...

[2018-10-30 07:44] #555 closed

[2018-11-01 10:48] #541 closed

[2018-11-02 15:11] lucasmarcel commented on #96
@lk-geimfari , I just looked at the French person.json and the values for 'academic_degree' are incorrect, yet this issue is closed. I could help but I understand if the data is considered final at this point.

[2018-11-02 15:14] lk-geimfari commented on #96
@lucasmarcel Can you fix it, please? It would be really helpful.

[2018-11-02 15:33] lucasmarcel commented on #96
Will do but bear with me, it'll be my first PR, ever :)

[2018-11-02 16:10] lk-geimfari commented on #96
@lucasmarcel It's easy, as you'll see.

[2018-11-04 09:04] lk-geimfari commented on #377
Most of the data can be added to built-in providers, so there is no need in another one provider.

[2018-11-04 09:04] #377 closed

[2018-11-04 18:48] kuroop opened #560 "Request for Indian locale addition"
# Feature request

## Thesis

Addition of Indian locate. I saw that mimesis welcomes people to add new locales. I am assuming that what I need to do is:
1. Put locale data in https://github.com/lk-geimfari/mimesis/tree/master/mimesis/data following the given template. Not sure about the naming of it, either it would be en-IN or IN for Indian locale.
2. Writing unit tests for the newly added locale

[2018-11-04 19:34] lk-geimfari commented on #560
@kuroop Answers:

Of course, you can!
Read this: https://github.com/lk-geimfari/mimesis/blob/master/CONTRIBUTING.rst

[2018-11-04 19:42] kuroop commented on #560
Hi @lk-geimfari ,

As a country, India has lot of languages. What is the criteria to select ? popularity? I would say both locales should be included; so can we plan for both? I personally would want to start with English(```en-in```) and probably pick up Hindi(```hi```) later on.

Thanks for the link to that CONTRIBUTING doc. I will go through it.

[2018-11-04 19:44] lk-geimfari commented on #560
@kuroop Which locale is much popular? Which one will be much useful for developers?

[2018-11-04 23:49] lk-geimfari commented on #560
Great, let's add only en-in.

вс, 4 нояб. 2018 г., 23:26 loki notifications@github.com:

[2018-11-05 09:47] lk-geimfari opened #561 "Add support of parameter unique for email, username and telephone."
# Feature request

## Thesis
This feature requested by @neumond

He propose to add parameter `unique` for `.email()`, `.username()` and `.telephone()` to make sure that they return only unique data while the provider's instance exists.

## Reasoning
Some fields must be unique and it would be a good idea to add support of parameter `unique` for such methods (`.email()`, `.username()` and `.telephon

[2018-11-05 10:49] lk-geimfari opened #562 "Locale overrider support"
# Feature request

## Thesis

So, the idea is very simple - use context manager to temporarily override current locale for provider's instance, just like that:

[code]

## Reasoning

Sometimes we need only some data from other provider and creating an instance each time is not really good, so it's better just override locale.

[2018-11-05 10:50] lk-geimfari commented on #562
@sobolevn What do you think?

[2018-11-05 11:16] sobolevn commented on #562
Why not? Seems like an easy feature.

[2018-11-06 15:28] lk-geimfari opened #565 "Different superclasses for different types of providers"
## Thesis

The providers which have locale dependent must be inherited from `BaseDataProvider`, but providers which just works with standard data structures, without storing data in JSON from `BaseProvider`.

## Reasoning
Locale independent providers must not contain any attributes of providers which has locale dependent. It can help make API much clear without the chaos of inheritance.

[2018-11-06 15:59] lk-geimfari commented on #565
@sobolevn What do you think? We don't need attribute `self.locale` in locale independent provider anyway.

[2018-11-06 16:06] sobolevn commented on #565
Seems like a plan!

[2018-11-07 14:51] #565 closed

[2018-11-07 14:56] lk-geimfari commented on #466
@sadielbartholomew 🏓

[2018-11-07 15:17] lk-geimfari commented on #468
@sobolevn Seems like this already fixed.

[2018-11-07 17:44] sobolevn commented on #468
No, it is not fixed. https://github.com/pytest-dev/pytest-randomly/issues/135

[2018-11-07 22:02] sadielbartholomew commented on #466
Sorry @lk-geimfari I am a bit busy at the moment but will get back onto this at the weekend. If I can't otherwise sort it I will post here so somebody else can take over (or do it their way).

[2018-11-08 08:56] lk-geimfari commented on #466
@sadielbartholomew Sure! Thanks!

[2018-11-10 15:43] lk-geimfari opened #568 "Moving utils.pull to BaseDataProvider"
# Feature request

## Thesis
I suggest moving `utils.pull` to `BaseDataProvider` because it's only needed for locale-dependent providers, which are all subclasses of `BaseDataProvider`.

## Reasoning
We are forced to always manually import `pull` to the modules where are we create new providers and repeat the same code, although the pull is needed only for locale-dependent providers which are all

[2018-11-10 15:51] sobolevn commented on #568
@lk-geimfari I agree. I think that all modules that start with `util` are just not placed well in some other entities. Related: https://wemake-python-styleguide.readthedocs.io/en/latest/pages/violations/naming.html#wemake_python_styleguide.violations.naming.WrongModuleNameViolation

So, maybe we can refactor the whole module?

[2018-11-10 16:04] lk-geimfari commented on #568
@sobolevn Yeah, I think about it too. This release will contain breaking things anyway (because there was too much really old and bad solution inherited from the very early version of the `church`). Any possible breaking features must be implemented here, in v3.0.0.

Create an issue for it, please.

[2018-11-10 16:08] lk-geimfari opened #569 "Merge modules config and locales"
# Feature request

## Thesis
I suggest merging this two modules (`config.py` and `locales.py`). The module `confing.py` contains only things related to locale, so it's better to keep only module `locales.py` and move all the content of `config.py` to `locales.py`.

## Reasoning

Here is no need in two different modules for the same things.

[2018-11-10 16:38] lk-geimfari commented on #568
I also suggest renaming other internal modules with bad names, such as `helpers`, `__version__`

[2018-11-10 19:52] lk-geimfari opened #570 "Rename modules with bad names."
Read more here #568

Modules:

- `helpers.py`
- `__version__.py`
- `utils.py`

[2018-11-12 09:14] sadielbartholomew commented on #466
*Update*: I am committed to completing this, but I am short for time so it will likely be mid-week before I can put in the corresponding PR. I will ensure I get it submitted before next Monday, however. Thanks for your patience.

[2018-11-12 10:03] sobolevn commented on #466
@sadielbartholomew no pressure! Take your time.

[2018-11-13 19:43] itsthejoker opened #576 "Documentation is Broken"
# Bug report

## What's wrong

The method / class documentation for Mimesis is broken. https://mimesis.readthedocs.io/api.html#internet

## How is that should be

If I load the above link, I should see information about the class and how to use it.

## System information

Any and all, tested on multiple computers. Issue has been occurring for students since about 3pm EST yesterday or so.

[2018-11-17 11:47] lk-geimfari opened #578 "Add to docs information about datafile-based providers"
We need to add to docs information about the new way of creating datafile-based providers

[2018-11-18 09:59] sobolevn opened #579 "Use crypto-secure random module"
# Feature request

## Thesis

I would like to switch from `random` module to a secure version of random module: `secrets`.
It is available since `python3.6` and is cryptographically secure.

It has the same API as regular `random`, so the switch should be painless.

## Reasoning

Having this feature is a good thing. Some users might generate data that is used in real world apps, so we need to take

[2018-11-18 12:49] lk-geimfari opened #580 "Think of another way to test the seeded data."
## The problem
Duplicating tests because of `seed`.

## Description
At this moment we have created two classes for each case (`TestProvider` and `TestSeededProvider`) and it's really problematic to keep both up to date.

## Suggestion
Unfortunately, I do not have a specific suggestion about how to fix it, but if there any another much simple and pythonic way to test seed data then we need to think

[2018-11-19 07:17] lk-geimfari commented on #579
@sobolevn Do you mean this?

[code]

[2018-11-20 06:17] harshilsharma63 commented on #576
It's still broken guys!

[2018-11-20 06:47] lk-geimfari commented on #576
@harshilsharma63 @itsthejoker I'm really busy if someone of you, guys can create PR I'll really thankful.

[2018-11-21 01:57] harshilsharma63 commented on #576
@lk-geimfari I'll spend some time today and see if I can figure this out.

[2018-11-21 04:04] harshilsharma63 commented on #576
@lk-geimfari so I generated docs locally against master and they look just fine! Might a re-deployment do the trick?

[2018-11-21 06:08] lk-geimfari commented on #576
@harshilsharma63 I have rebuild docs for few time and it did not have an effect.

[2018-11-21 06:10] harshilsharma63 commented on #576
@lk-geimfari is is broken for you locally as well?

[2018-11-21 06:11] lk-geimfari commented on #576
@harshilsharma63 Nope locally works pretty fine.

[2018-11-21 07:35] sobolevn commented on #576
This happens because `readthedocs` uses `python3.5` by default.
And we use `python3.6` features:

[code]

I see two things to improve here:
1. create `readthedocs.yml` and specify correct `python` version
2. fix type annotation: `dict` is not a correct type annotation. Because what really written is: `Dict[Any, Any]`, I know that we can limit this to something better

[2018-11-21 07:36] sobolevn commented on #576
`.readthedocs.yml` file example: https://github.com/wemake-services/wemake-python-styleguide/blob/master/.readthedocs.yml

[2018-11-21 07:43] lk-geimfari commented on #576
@sobolevn I didn't even think about it. Thanks!

[2018-11-21 07:43] sobolevn commented on #579
Yes, like this.

But, I need to mention that we need to fallback to `random.Random`.
Because

[code]

[2018-11-21 07:48] lk-geimfari commented on #576
@itsthejoker @harshilsharma63 It's fixed.

[2018-11-21 09:59] pimuzzo opened #585 "new release"
hello, is it possible to have a new release? thank you

[2018-11-21 10:02] lk-geimfari commented on #585
@pimuzzo We have planned too many changes and the new release will be published only at December, because of work still in progress.

[2018-11-21 10:04] pimuzzo commented on #585
Thank you for your fast reply :)

[2018-11-21 10:04] #585 closed

[2018-11-25 09:33] lk-geimfari commented on #570
It's done!

[2018-11-25 10:13] #576 closed

[2018-11-26 11:30] lk-geimfari opened #587 "Build failure on Windows (PYTHON_ARCH=32)"
Seems like error happens because of memory error.

Details:
https://ci.appveyor.com/project/lk-geimfari/mimesis/builds/20546900/job/it885ivv7m2usk60

This issue must be fixed.

[2018-11-26 15:58] lk-geimfari commented on #587
@duckyou Do you have any idea why it happens?

[2018-11-27 14:09] duckyou commented on #587
@lk-geimfari , sorry, i have no idea why this happened
From official documentations, this may be explained with runs out of memory.
https://docs.python.org/3/library/exceptions.html#MemoryError
You already fix this problem?

[2018-11-27 14:58] lk-geimfari commented on #587
@duckyou Okay, thanks! I'll check it.

[2018-11-27 16:48] lk-geimfari commented on #568
Done.

[2018-11-27 16:48] #568 closed

[2018-11-27 16:48] #570 closed

[2018-11-27 16:48] lk-geimfari commented on #569
Done!

[2018-11-27 16:48] #569 closed

[2018-12-02 11:50] #587 closed

[2018-12-02 11:54] lk-geimfari commented on #562
I'm thinking about moving it to `BaseDataProvider` too.

[2018-12-02 11:55] lk-geimfari commented on #562
How it will work:

[code]

[2018-12-02 11:55] lk-geimfari commented on #562
@sobolevn Do you mind?

[2018-12-02 12:32] lk-geimfari opened #592 "Update styles for sphinx"
I suggest switching font-family to another one.

Example:
 - http://docs.celeryproject.org/en/latest/index.html#

[2018-12-02 12:38] sobolevn commented on #562
Agree 👍

[2018-12-02 12:48] #562 closed

[2018-12-02 15:00] #592 closed

[2018-12-09 08:41] lk-geimfari opened #594 "Publish new release"
We must publish version 3.0.0 before New Year, so we have few weeks to do all conceived changes.

[2018-12-09 09:48] lk-geimfari opened #595 "stock_image failing sometimes"
I think that it's because of HTTP requests when passed parameter `writable`.

Details here: https://ci.appveyor.com/project/lk-geimfari/mimesis/builds/20876167/job/tt44q20fi30ko68e

[2018-12-15 15:23] lk-geimfari opened #598 "Use wemake-python-styleguide"
Can we use `wemake-python-styleguide` for mimesis?

@sobolevn What do you think?

[2018-12-15 15:53] lk-geimfari commented on #594
Version 3.0.0 has been released.

[2018-12-15 15:53] #594 closed

[2018-12-15 15:56] lk-geimfari commented on #585
@pimuzzo Hey! I am glad to inform you that we have published version 3.0.0. Please, carefully read the changelog before installing the new version because there are breaking changes in API. Thanks!

Changelog available [here](https://mimesis.readthedocs.io/changelog.html).

[2018-12-15 17:04] lk-geimfari opened #600 "Custom domain for docs."
I've bought the domain: `mimesis.name`, so i need help with configuring it on readthedocs.

@sobolevn I've added you as manager and hope to your help because I did not configure domain untils this moment.

So, I have granted access to you on readthedocs and namecheap.

[2018-12-15 17:42] lk-geimfari opened #601 "Enforce HTTPS for mimesis.name"
Recently I've bought domain [mimesis.name](http://mimesis.name/getting_started.html), but at this moment It works on HTTP,  not HTTPS. We need to fix it (ReadTheDocs allows SSL on custom domains)

Related:
* [Custom Domain SSL](https://docs.readthedocs.io/en/latest/custom_domains.html#custom-domain-ssl)
* [Certification Authority Authorization (CAA) FAQ](https://support.cloudflare.com/hc/en-us/art

[2018-12-15 19:10] sobolevn commented on #601
Sure, but a little bit latter. Nice domain! Grats!

[2018-12-15 19:12] sobolevn commented on #598
It will require the complete refactoring. But, it would be interesting experience for me.
Since, I have not tried to integrate this linter to some existing code bases.

Only new ones.

[2018-12-15 20:16] lk-geimfari commented on #601
Seems like I've fixed it. I just remove custom domain from read the docs admin and add it again, so now we have `https`: https://mimesis.name/. That's cool.

[2018-12-15 20:19] #601 closed

[2018-12-15 21:14] lk-geimfari opened #602 "Find old domain links in docs and update them"
I'll update the description later.

http://docs.sphinxdocs.com/en/latest/step-2.html

[2018-12-15 21:58] lk-geimfari commented on #602
Fixed

[2018-12-15 21:58] #602 closed

[2018-12-19 13:18] lk-geimfari opened #604 "Optional Django support"
# Feature request

## Thesis

In Mimesis we have such a thing that allows you to generate large sequences of data according to the described scheme: https://mimesis.name/getting_started.html#schema-and-fields

So I had an idea to add optional support for Django. This is approximately what it will look like:

[code]

## Reasoning

It can help easily bootstrap models in Django applications for testi

[2018-12-26 19:30] lk-geimfari opened #607 "Use pathlib for Path data provider"
It would be a good idea to use [pathlib](https://docs.python.org/3/library/pathlib.html) for [Path](https://mimesis.name/api.html#path) because current implementation is too inflexible (we're manually checking operation system on generating paths).

[2018-12-30 00:04] jackhenry commented on #561
Hi @lk-geimfari

I think this is a good idea and would be interested in implementing this.

One thing I want to mention is that during the life of the provider's instance there are a finite amount of unique values it could return. For example, when generating a ten digit phone number there are 10<sup>10</sup> unique possible phone numbers.

For ```.email()``` and ```.email()```, the amount of uniq

[2019-01-01 18:41] jackhenry opened #609 "Hardcoded parameters used for random.randint() in Person.username()"
Looking at the ```username()``` function in ```providers/person.py``` I found this line:

[code]

@lk-geimfari Do you know why these parameters are hardcoded? For #561, I need to calculate all the possible unique combinations the ```username()``` function can return and I want to avoid hardcoding any numbers in the formula I use. If this range of random integers gets changed in the future, it will

[2019-01-01 19:14] lk-geimfari commented on #609
You can change it if you want.

[2019-01-01 20:36] #609 closed

[2019-01-29 00:17] cryocaustik opened #619 "Choice returns UnsupportedField when used with Field"
# Bug report

## What's wrong

I was attempting to use `choice`  within Schema generation to pick from a list of options but ran into an `UnsupportedField` error.

It would appear that AbsrtractField returns UnsupportedField wen used with on `Choice` provider.

Example:
[code]

## System information

Python version: 3.6.5
Mimesis version: 3.0.0
OS: Windows 10

[2019-01-29 06:42] lk-geimfari commented on #619
Seems that is a bug. Field and Schema use Generic which has an attribute `choice`, so it must work.

[2019-01-29 06:52] lk-geimfari commented on #619
It happens because of implementation of `Choice` provider. We need to think about how to fix it.

[2019-01-29 13:57] lk-geimfari opened #620 "Add support of extra features for Sphinx"
For Example:

[code]

[2019-01-30 07:41] lk-geimfari commented on #619
@cryocaustik Here is a dirty workaround if you really need it:

[code]

[2019-01-30 17:25] lk-geimfari opened #621 "Each provider must contain metadata for internal usage"
Each provider must contain metadata for internal usage. We currently use such data on creating a custom provider, but we need to add `Meta` for all providers.

It will look like this:

[code]

To use it in the schema and generic like this:

[code]

Related issue: #619

[2019-01-31 19:17] #620 closed

[2019-02-01 09:22] lk-geimfari commented on #619
I would like to fix that bug and create a new release, but I'm really extremely busy, so I hope that I can fix it on weekends.

[2019-02-02 13:18] lk-geimfari commented on #619
It's done. 3.1.0 has been released. Thanks for the bug report!

[2019-02-15 21:32] lucaswiman commented on #475
I built a simple wrapper that seems to work:
[code]

Then you can do the following:
[code]

[2019-02-26 18:06] ceccoemi opened #637 "CONTRIBUTING.rst is outdated"
# Bug report

## What's wrong

In CONTRIBUTING.rst there is the section *Performance* where it is suggested to run `make benchmarks` but this command seems to be dropped:

    $ make benchmarks
    make: *** No rule to make target 'benchmarks'.  Stop.

In the next section *Type checking* the suggested command is wrong:

    $ make type-checking
    make: *** No rule to make target 'type-checking'.

[2019-02-26 18:45] #637 closed

[2019-03-01 09:30] #607 closed

[2019-03-01 09:31] sobolevn opened #642 "Make mimesis PEP561 compatible"
What is PEP561? https://www.python.org/dev/peps/pep-0561/

It is a way to ship types together with the code itself.
If the package is PEP561 compatible, then `mypy` will import types from it and use it together with user defined ones. Otherwise, everything will be `Any`.

So, our end-users might benefit from using our library with `mypy`.

What needs to be done?
- [x] Create `py.typed` file: https

[2019-03-01 09:34] sobolevn opened #644 "Refactor issue templates"
Create issue page is misleading:
<img width="784" alt="2019-03-01 12 28 16" src="https://user-images.githubusercontent.com/4660275/53629325-538dd400-3c1e-11e9-802c-8b809fc065fc.png">

What is this "Custom template"? I am not sure that this is a good DX.
And I propose to rename it.

[2019-03-01 09:44] lk-geimfari commented on #644
I agree it's better to remove it.

[2019-03-01 09:51] lk-geimfari commented on #642
I think that we need to include it in MANIFEST, need we?

[2019-03-01 09:55] sobolevn commented on #642
I guess so, I have never done it with `MANIFEST`s, `poetry` handles all these things for me: https://github.com/dry-python/returns/blob/master/pyproject.toml

[2019-03-01 10:17] lk-geimfari commented on #642
I have included it to package in `MANIFEST.in`

[2019-03-01 10:17] #644 closed

[2019-03-01 11:49] sobolevn commented on #642
@lk-geimfari can you verify that this file is included into the final tarball?

[2019-03-01 12:21] lk-geimfari commented on #642
@sobolevn Yeah, it is.

[2019-03-01 13:17] sobolevn commented on #642
Then we can close this issue. Thanks a lot!

[2019-03-01 13:17] #642 closed

[2019-03-02 22:26] sobolevn commented on #469
@lk-geimfari friendly ping. Do you have some time to work on this? https://github.com/pytest-dev/pytest-randomly/issues/135

[2019-03-03 07:41] lk-geimfari commented on #469
@sobolevn I'm sorry, but I really can't work on any issue at this weekends. I'll try to work on it in next weekends.

[2019-03-06 07:52] lk-geimfari opened #647 "Looking for collaborators"
We're looking for people who want to work on mimesis with us. At this moment this package is maintained only by @sobolevn and me (@lk-geimfari ).

The problem is that we are both busy а lot of time and we need third and fourth pilots.

What will you have to do?

1. Code review
2. Bug fix
3. Adding new cool features
4. Releasing new versions

We need new collaborators to always keep mimesis up-to-d

[2019-03-06 18:41] ceccoemi commented on #647
Hi,

I like this project and I will glad to be a collaborator if you need.

I have recently did a couples of pull requests (like [this](https://github.com/lk-geimfari/mimesis/pull/640)) so I have already get the logic behind this package.

Please, let me know.

[2019-03-07 10:02] lk-geimfari commented on #647
@ceccoemi I have invited you to our organization. I'll also add you to collaborators when we will see that you completely understand our standards and goals.

[2019-03-07 21:30] ceccoemi commented on #436
I'd like to implement this feature because I am a big fan of doctest.

I think that there are three different ways to resolve the problem of the randomness:

- Write doctest only in deterministic functions and leave the examples in the random functions. For instance, the function `home()` of the `path.py` module is deterministic so its docstring could be written as:
[code]
I don't think that this

[2019-03-07 22:02] sobolevn commented on #436
@ceccoemi I am a big fan of doctests too!

I imagine that this can be solved by combining different ways.
1. Concrete examples can be used as is
2. Random examples can be used together with [`pytest` fixture](https://docs.pytest.org/en/latest/doctest.html#the-doctest-namespace-fixture) and `random.seed` function

I guess that the way to go.

[2019-03-07 22:43] ceccoemi commented on #436
@sobolevn yes!

It seems that this [fixture](https://docs.pytest.org/en/latest/doctest.html#the-doctest-namespace-fixture) will produce deterministic doctests.

I have made a little test with

[code]

in `conftest.py` and it seems to work!
The doctests will look like this:
[code]

In the weekend I will start to convert all the examples to doctests if you agree.

[2019-03-08 07:07] lk-geimfari commented on #647
It's done. @ceccoemi will be with us.

[2019-03-08 07:07] #647 closed

[2019-03-08 07:10] lk-geimfari commented on #436
@ceccoemi We used to try to resolve this issue. I remember that this is problematic because of possible updates of files (JSON files where we store data for each provider).

[2019-03-08 09:01] sobolevn commented on #436
In this case we can patch `random` to alway return `1` for example.
And this will solve all issues.

[2019-03-08 13:27] ceccoemi commented on #436
Writing a fixture like this
[code]

will break other tests.

I think that the only way is to seed the random module and check its output. If you are worried about the updates of the JSON files never mind, we leave the examples as they are without doctest.

[2019-03-15 14:25] eljfe opened #653 "Datetime ranges using datetime.datetime"
# Feature request

datetime.datetime support in Datetime class objects (that sounds funny :-)

## Thesis

Dates are fussy.  More granular options makes for better test data:

take this:

`formatted_datetime(fmt='%Y-%m-%d %H:%M:%S.%f', start=2018, end=2019)`

and make it something like this:

`formatted_datetime(fmt='%Y-%m-%d %H:%M:%S.%f', start=datetime(2018, 10, 9, 8, 7, 6, 543210) , end=datetime

[2019-03-15 15:54] lk-geimfari commented on #653
@eljfe Hi! First of all thanks for your interest.

We have created a much detailed mechanism for generating datetime objects by range. Can you, please check out function `bulk_create_datetimes ()` of provider `Datetime`.

It generates a range of datetime objects and you can pass to it all the arguments you can pass to `timedelta ` from the standard library.

Is it suit for your case?

[2019-03-15 22:18] eljfe commented on #653
Hi Likio.
Appreciate your prompt response! I shall look into the bulk method you mentioned.

Best and thanks again,
Jeff

[2019-03-17 17:05] lk-geimfari commented on #560
There is no feedback, so I close this issue.

[2019-03-17 17:05] #560 closed

[2019-03-17 17:06] lk-geimfari commented on #598
There might be too many changes. I temporarily close it.

[2019-03-17 17:06] #598 closed

[2019-03-17 17:06] #578 closed

[2019-03-17 17:10] #595 closed

[2019-03-17 17:28] lk-geimfari commented on #621
Fixed in #621

[2019-03-17 17:29] #621 closed

[2019-03-18 19:53] Anphisa commented on #96
Hi @lk-geimfari!
I started checking the German (de) files and have some questions as to what the output should look like exactly.

- In most of the lists, words and phrases occur more than once and are often repeated 2 or 3 times below each other. Should each entry only appear once?
- In e.g. states and weekdays, there are abbreviations and long-form versions of words. (Mon / Monday). Should abbre

[2019-03-19 06:30] lk-geimfari commented on #96
@Anphisa First of all thanks for your interest. Let me answer your questions:

1. They should not repeat, such words must be deleted.
2. An order does not really matter, what is matter is correctness of abbreviations.
3. The bad words absolutely not acceptable in builtins.
4. It must be something that can be used in a context like this `Adam is a German`, `Vadim is a Russian` (of course in German)

[2019-03-19 15:36] Anphisa commented on #96
@lk-geimfari Thanks for your fast and helpful answer! I now made those changes.

1. I deleted the repeated words in de and noticed that there are some repeats in the Russian files as well (at least in the professions). I guess it doesn't matter because they each occur exactly twice, so the probabilities to get one of them won't be affected. But maybe all of the files should be checked for duplicat

[2019-03-19 16:38] lk-geimfari commented on #96
@ceccoemi Hey! As I can judge by your profile you are from Italy. Is it right? If you are,  what do you think about the correctness of data for locale `it`? It would be really awesome to hear your opinion about it. Maybe you can improve data for locale `it` somehow.

[2019-03-28 06:10] thesneakysneak opened #659 "Not supported for pyhon3.5"
# Bug report

## What's wrong
Syntax not supported in python3.5
  File "/usr/local/lib/python3.5/dist-packages/mimesis/__init__.py", line 10, in <module>
    from mimesis.providers import *
  File "/usr/local/lib/python3.5/dist-packages/mimesis/providers/__init__.py", line 5, in <module>
    from mimesis.providers.base import BaseProvider, BaseDataProvider
  File "/usr/local/lib/python3.5/dist-pac

[2019-03-28 07:24] lk-geimfari commented on #659
Officially we support only Python 3.6 and higher.

[2019-03-28 07:25] lk-geimfari commented on #659
I'll close this issue because we have not any plans related to adding support of older versions.

[2019-03-28 07:25] #659 closed

[2019-03-29 08:07] lk-geimfari commented on #96
@ceccoemi Friendly 🏓

[2019-03-29 09:21] ceccoemi commented on #96
@lk-geimfari I'm sorry I didn't see the first message. I will work on `it` locale as soon as I can.

[2019-04-01 11:06] slackline opened #663 "Locale not respected for business.currency_iso_code()"
# Bug report

## What's wrong

I'm trying to use mimesis to generate mock data for tests I'm going to develop and am writing [schema](https://mimesis.readthedocs.io/getting_started.html#schema-and-fields) to do so.

I set the locale when instantiating an object of class `Field()`, but on calling `business.currency_iso_code()` I get random ISO currency codes, whilst I was expecting (or hoping!) to

[2019-04-01 12:23] lk-geimfari commented on #663
@slackline Hi! Thanks for your interest. It [seems like](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/business.py#L61) at this moment we do not count locale on generating currency iso code.

[2019-04-01 12:23] lk-geimfari commented on #663
@ceccoemi Are you interesting? It's can be done easily, but I'm busy until this weekends.

[2019-04-01 12:25] lk-geimfari commented on #663
@slackline We will work on it ASAP. Thanks again for your report.

[2019-04-01 12:27] slackline commented on #663
Thanks for the rapid response @lk-geimfari. I've started looking at the code to see if I could come up with a solution, if I can work it out before then I'll submit a PR.

[2019-04-01 13:15] lk-geimfari commented on #663
What we need to do:

1. Add currency code for all locales to file `business.json`
2. Return code from json file, not from the list
3. Add parameter `allow_random=True` to have availability of support much more currency codes.

[2019-04-01 13:21] ceccoemi commented on #663
@lk-geimfari @slackline I'm working on this

[2019-04-01 13:24] lk-geimfari commented on #663
@ceccoemi Great! Thank you very much!

[2019-04-01 14:21] slackline commented on #663
Thanks @ceccoemi

[2019-04-02 16:08] #663 closed

[2019-04-19 13:06] lk-geimfari opened #674 "Auto add builtin provider to Generic based on passed locale"
# Feature request

An idea is very simple:

[code]

Instead of this:

[code]

Optionally we can make builtin's name customizable:

[code]

[2019-04-19 13:06] lk-geimfari commented on #674
@ceccoemi @sobolevn What do you, guys, think?

[2019-04-19 16:00] sobolevn commented on #674
I do not see any problems with this three lines of code.
What problem are you trying to solve?

[2019-04-19 16:26] lk-geimfari commented on #674
@sobolevn I'm trying to make it easier to add country-specific data to Generic. For example, in common cases when you need to generate Personal info for locale `ru`, you will exactly need some data from `RussiaSpecProvider`, such as `inn`, `patronymic` and etc.

[2019-04-20 09:59] ceccoemi commented on #674
@lk-geimfari I think that is a good idea.

What do you think about adding the builtin provider by default? The generic provider generates all the data from a locale so I think that is reasonable to add the builtin too:

    g = Generic('ru')
    g.russia_provider.inn()

It's ok to add the parameter `builtin_custom_name` if you think that it will not add unnecessary complexity.

I could work on thi

[2019-05-07 13:55] #674 closed

[2019-05-18 10:46] #653 closed

[2019-05-18 10:47] #436 closed

[2019-05-23 09:48] ivan98 opened #683 "How to link schemas?"
I need to generate sample data for a normalized data structure, and I'm not sure how to do it efficiently in Mimesis. Would appreciate pointers in the right direction for me. Thanks.

Let's say I have
- an entity called Person, with a primary key of id.
- an entity called Email Account, with a primary key of email-address.
- an entity called Email, with a primary key of message-id.

__Primary key/

[2019-05-24 09:46] lk-geimfari commented on #683
I'm afraid that this is not the task that `Schema` solves. You better to use common providers for your case. Problems you described must be solved on the ORM level if I understand you correctly.

[2019-05-24 09:47] lk-geimfari commented on #683
@sobolevn @ceccoemi Any additions?

[2019-05-24 10:15] sobolevn commented on #683
You can use https://github.com/mimesis-lab/mimesis-factory

[2019-06-18 07:04] lk-geimfari commented on #683
I'm closing this issue, but if you have more questions feel free to reopen it.

[2019-06-18 07:04] #683 closed

[2019-06-25 15:22] andkii opened #696 "Country generation does not respect chosen locale"
It appears that `Address('en').country()` does not respect the locale. Countries outside locale are still generated.

Looking at the code it appears there is no implementation for locale specific country, if so, please change issue to a feature request.

[2019-06-25 19:19] lk-geimfari commented on #696
Can you explain, please, what do you exactly expect? `.country()` returns name of the country for the current locale.

For example:

[code]

Do you expect something like this?
[code]

[2019-06-25 20:42] andkii commented on #696
Yes my understanding was that it would return a country who belongs to the locale. Now I can see that it is not the case and it is intended to be that way. Thanks.

Nevertheless locale specific data would be a great feature

[2019-06-26 04:51] lk-geimfari commented on #696
@andkii We will fix it ASAP. By default, it must return the name of the current country.

We can just add a parameter `allow_random` which will allow random values for it.

@ceccoemi If my memory doesn't let me down, you've already done something like this, haven't you?

[2019-06-26 08:42] ceccoemi commented on #696
Yes, we did the same thing in #664

I will work on it!

[2019-06-26 09:05] lk-geimfari commented on #696
Great! Thanks!

[2019-06-26 10:46] ceccoemi commented on #696
@lk-geimfari what do you think about doing the same thing with the `continent()` function?

[2019-06-26 11:29] lk-geimfari commented on #696
@ceccoemi I thinks it's can be useful.

[2019-06-26 12:48] ceccoemi commented on #696
@lk-geimfari no, maybe it's better to leave it as it is. Because some countries don't have a single specific continent, for example Russia and Turkey, they belong both to Europa and Asia. It could be ambiguous in some  situations.

[2019-06-26 13:12] lk-geimfari commented on #696
@ceccoemi Agree. Let's don't change it.

[2019-06-26 13:38] #696 closed

[2019-06-26 14:33] ceccoemi opened #699 "Using Black for code formatting"
# Feature request

## Thesis

I recently discovered [Black](https://github.com/python/black). It is an easy to use and fast code formatter built specific for Python. I think that could be great and very simple to introduce it in mimesis

## Reasoning

Since a main focus of this package is to have a good code quality, I think that should be a great thing to introduce a code formatter in order to ha

[2019-06-26 16:26] lk-geimfari commented on #699
@ceccoemi The only thing I do not like in `Black` is `"string"` instead of `'string'`. I'm totally sure that @sobolevn has interesting thoughts about it.

[2019-06-26 16:27] lk-geimfari commented on #699
So, if @sobolevn don't mind, I don't mind too.

[2019-06-26 16:28] sobolevn commented on #699
Not on my watch! https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/integrations.html#black

[2019-06-26 16:28] #699 closed

[2019-07-09 20:09] juanzapataadl opened #703 "Memory Error creating 1.000.000 records file"
# Bug report

## What's wrong

First traceback:

Traceback (most recent call last):
  File "multi1.py", line 43, in <module>
    mp_handler()
  File "multi1.py", line 37, in mp_handler
    line = generateCustomerData()
  File "multi1.py", line 15, in generateCustomerData
    personMimesisGenerator = Person('es')
  File "C:\ProgramData\Anaconda3\lib\site-packages\mimesis\providers\person.py", line

[2019-07-09 20:31] juanzapataadl commented on #703
The script has a function and inside it the mimesis generator object was created. It needs to be outside in order to avoid unneccesary calls to create many instances of this objects.

[2019-07-09 20:31] #703 closed

[2019-07-10 12:38] kishvanchee opened #704 "Where do I find the fill_fake() method?"
`User().fill_fake(count=2000, locale='de')`

I am trying to do this, but I am not able to find the source code for this.

[2019-07-10 13:51] lk-geimfari commented on #704
Actually it was just an example. You must implement it by yourself.

[2019-07-11 06:54] kishvanchee commented on #704
Ah okie. A couple more questions if you don't mind.

1. I feel it would be helpful if *Actually it was just an example. You must implement it by yourself.* this can be written in the docs itself.

2. Is it possible to create a `fill_fake()` method for the base class? To word it better, basically incorporate the method such that it can be called by any class. I can try implementing this and create

[2019-07-11 07:07] lk-geimfari commented on #704
1. I think that it's pretty clear that it was just an example, but you can create PR with explanations in docs, if you disagree with me.

2. I am not sure, that I understood you, but if you mean something like `BaseProvider.fill_fake()` then it have not sense.

[2019-07-11 07:15] kishvanchee commented on #704
1. I meant that even though it was an example shown, I did not expect that it would be an example which didn't have code implemented in the package. I'll give a PR for this when I get time then. Thanks. :)

2. Yes I meant like `BaseProvider.fill_fake()` thus this could be useful for any of the other providers. (again, Please forgive me I am yet to go through the source code properly to understand

[2019-07-11 07:34] lk-geimfari commented on #704
Oh, no. It's not good idea and we won't add such method to API, sorry.

If you need list of some kind of data, just use standard Python tools for it:
[code]

[2019-07-11 07:54] kishvanchee commented on #704
Can you please expand why this is not a good idea? I just want to understand it. :)

[2019-07-11 07:58] lk-geimfari commented on #704
Because there is not need to add such a simple thing to API and make it complex. Mimesis solve the problem it must solve: generating data.

If you need such feature, just create mixin for it.

[2019-07-11 08:08] kishvanchee commented on #704
Ohk cool. Thank you very much. I'll close the issue.

[2019-07-11 08:08] #704 closed

[2019-07-24 14:50] epicyclist opened #706 "Randomness lost in multiprocessing"
**Mimesis:** 3.2.0
**OS:** macOS Mojave, v10.14.3
**Python:** 3.6.8

## Situation
I'm creating a mass of fake data to test scaling &mdash; enough that I need to use multiprocessing for performance. However, doing so does not randomize the data among a set of workers.

The only solution I've found is to create a new mimesis object for each iteration, seeded with a count (see https://stackoverflow.c

[2019-07-24 16:11] lk-geimfari commented on #706
2. Technically - yes, I guess, but I'm busy and I can't work on it right now.
3. Absolutely. You need to use the method [`.reseed()`](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/base.py#L35), just like this:

[code]

@sobolevn Any comments or recommendations?

[2019-07-24 16:15] lk-geimfari commented on #706
1. I'm not sure why do you create a new object each time. Also, if you need only data from `Person` use it directly, i.e `person = Person('en', seed=SEED)`, because of `Generic` is slower than directly used providers.
2. Technically - yes, I guess, but I'm busy and I can't work on it right now.
3. Absolutely. You need to use the method [`.reseed()`](https://github.com/lk-geimfari/mimesis/blob/mast

[2019-07-24 16:21] epicyclist commented on #706
Thanks @lk-geimfari! I completely missed `reseed` in the docs and using it dropped my test from ~7s to ~2s. I'll let you know if I hit any other snags.

[2019-07-24 16:28] lk-geimfari commented on #706
@epicyclist Glad, it helped you. I'll try to work on multiprocessing as soon as I will less busy (hopefully on this weekends).

Also, it's strange that generating 1000 takes 2 sec because I've tested it [here](http://mimesis.name/foreword.html#advantages) and it worked much faster. Do you always need the same set of data?

[2019-07-24 16:31] epicyclist commented on #706
@lk-geimfari, my apologies for the confusion: the times are in reference to my actual, much more complex code &mdash; not the simplified example I posted.

[2019-07-24 16:33] lk-geimfari commented on #706
@epicyclist I understand. Anyway, I hope I helped you.

[2019-08-01 13:18] lk-geimfari opened #709 "Method .email() provides invalid email addresses on using custom domains"
# Bug report

## What's wrong

Method `Person.email(domains=CUSTOM_DOMAINS)` returns invalid email addresses when `CUSTOM_DOMAINS` contains domains without `@` as the first letter.

How bug looks like:
[code]

How it should look like:

[code]

[2019-08-01 13:25] lk-geimfari commented on #709
This bug has been fixed already (https://github.com/lk-geimfari/mimesis/commit/23c0d737b58c9c06c30370567842a47cee5fdba2). I have created this issue to know you all that we know about this bug.

[2019-08-03 18:52] #709 closed

[2019-08-08 18:22] lk-geimfari opened #712 "Update data for locale ru"
# Feature request

We need to update data for locale `ru`. We can update all JSON files.

- text.json
- person.json

[2019-08-15 00:10] LucianoAlzugaray opened #713 "Add maximum size parameter in text and names data"
I think that the data needs a maximun size to, probably, be used to a test with maximum size on the text or strings fields.

This can be a parameter in string fields, like

[code]
This can be achieved in every string random data.

I thought this feature using this module in a database. I had a factory to generate objects with random data in the fields. I used this factory in a test suite to test t

[2019-08-15 06:34] lk-geimfari commented on #713
Unfortunately, it's not that easy as it can look. This feature will generate data much slower.

I only can recommend to inherit provider you need and override function, like this:
[code]

or you can create PR with your implementation and we can look at the result and understand could we merge it.

@sobolevn @ceccoemi Do you have any comments or additions, guys?

[2019-08-15 18:10] lk-geimfari commented on #469
@sobolevn Can you, please, tell me what steps exactly should I do?

[2019-08-15 18:21] lk-geimfari commented on #579
@sobolevn So, should I close this issue? Is there anything else we can do?

[2019-08-15 18:22] #706 closed

[2019-08-15 18:28] sobolevn commented on #579
I am a little bit lost. I guess that it was never implemented. Wasn't it?

[2019-08-15 18:28] sobolevn commented on #469
It is better to ask `pytest-randomly` maintainers. I don't remember what is the status of this issue.

[2019-08-15 18:32] lk-geimfari commented on #579
Unfortunately wasn't. I can work on it, but I'm not sure what should I do.

[2019-08-15 18:33] lk-geimfari commented on #469
@sobolevn I hear ya. Already done! Thanks!

[2019-08-15 18:34] sobolevn commented on #579
Ok, let's close it. I don't remember what was my original intention.

[2019-08-15 18:35] sobolevn commented on #579
P.S. If you want to work on some open-source - we have a lot of opened tasks in `wemake-python-styleguide`: https://github.com/wemake-services/wemake-python-styleguide/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22 I would appreciate your help.

[2019-08-15 18:50] lk-geimfari commented on #579
I'll try to work on some issue. Thanks!

[2019-08-15 18:50] #579 closed

[2019-08-18 17:28] LucianoAlzugaray commented on #713
I think that considering this characteristic is important since two of the most frequent uses are probably the generation of random data for testing and database population.

I'm thinking of sending a PR, where when you instantiate the object that has string-like data with an argument like
`

`
generate an indexing like database style. I think that with a algorithm a little thought you can generat

[2019-08-26 06:51] lk-geimfari commented on #468
So, we can implement it now: https://github.com/pytest-dev/pytest-randomly/pull/187

[2019-08-26 16:21] lk-geimfari commented on #468
@sobolevn Do you know how to add entry point to mimesis? I'm not sure that I completely understand the idea of how `pytest-randomly` works with entry points.

[2019-08-26 16:45] sobolevn commented on #468
Nope, sorry, I haven't seen it yet.

[2019-08-31 13:56] #561 closed

[2019-09-15 13:55] lk-geimfari opened #722 "Publish package on Anaconda Repository Index."
Mimesis can be extremely useful when you use it with Jupyter Notebook.

[2019-09-26 08:41] lk-geimfari opened #725 "Tests fails on locale fa sometimes."
Sometimes tests fail on testing locale `fa`. We need to figure out why it happens and fix it.

[2019-09-26 13:03] armonge commented on #725
Any reproduction steps? i'm currently running `LANG=fa LOCALE=fa pipenv run pytest  --cov=mimesis` and i can't reproduce it

[2019-09-26 13:16] lk-geimfari commented on #725
@armonge Sure: https://travis-ci.org/lk-geimfari/mimesis/jobs/540850369

[2019-09-30 20:06] lk-geimfari opened #727 "The matrix generators for provider Numbers()"
# Feature request

## Thesis
The matrix can be useful in working in Jupyter Notebook. So, it would be awesome to support generators of matrix in provider `Numbers()`.

I sketched a rough implementation example:

[code]

Output:
[code]

[2019-09-30 21:05] anshulxyz commented on #727
hi @lk-geimfari I'd like to work on this?

[2019-10-01 06:42] lk-geimfari commented on #727
@anshulxyz Great! Don't forget to read `CONTRIBUTING.rst`.

Current implementation won't work when m or n is equal to 0. You need to check this out too.

Thanks and happy hacking!

[2019-10-01 07:54] anshulxyz commented on #727
Awesome! Can you assign this issue to me here:

![Screenshot from 2019-10-01 13-22-16](https://user-images.githubusercontent.com/6121530/65944079-916e0780-e44e-11e9-8e39-7c98e93d39ba.png)

That would help me in finding all the issues assigned to me.

Also anything else I should know before starting?

[2019-10-01 07:59] lk-geimfari commented on #727
@anshulxyz Done! That's it. Just read this: https://mimesis.readthedocs.io/contributing.html

[2019-10-01 08:01] lk-geimfari commented on #727
@anshulxyz Also, provider `Numbers()` is located here: https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/numbers.py

[2019-10-01 19:50] obulat commented on #712
What exactly needs to be updated in these files? I'd like to try to tackle this issue for Hacktoberfest.

[2019-10-02 06:33] lk-geimfari commented on #712
@obulat Thanks for the interest, but I'll resolve this issue by myself, it's too long to explain. You can take another issue. Thanks!

[2019-10-02 06:39] lk-geimfari commented on #712
But If you really really want to do this: We need to check all datafiles for locale `ru` to find and delete incorrect data or to extend existing data if there are too little data.

Data for locale `ru` located here: `mimesis/data/ru/`

[2019-10-03 17:22] tadashigaki commented on #725
Needed two `|` in each line, but  here is only one `|`. Fixing now.

https://github.com/lk-geimfari/mimesis/blob/043d8d8fb6f49daf7afeeeafe4caa87d4420f266/mimesis/data/fa/science.json#L19

[2019-10-03 18:51] Shanmugapriya03 commented on #722
Python packages can be installed in Jupyter notebook by adding a prefix `!` to pip install command
`! pip install mimesis`

[2019-10-04 06:42] #725 closed

[2019-10-04 06:43] lk-geimfari commented on #725
@tadashigaki Great work! Thank you!

[2019-10-04 06:45] lk-geimfari commented on #722
@Shanmugapriya03 Oh, great! I didn't know it. It would be great to add this information to docs.

[2019-10-04 07:57] Shanmugapriya03 commented on #722
Will add it in docs 😄

[2019-10-04 20:26] hvijaycse commented on #466
Hi, can I go for it if nobody else is working on it?

One thing I should only update the top_level_domain function, not the function which generates homepage right ??

[2019-10-05 06:36] #722 closed

[2019-10-05 06:37] lk-geimfari commented on #466
@hvijaycse Feel free to work on it.

[2019-10-10 10:27] lk-geimfari commented on #727
I have unassigned this issue because of a lack of any activity in 10 days. So, anyone can take this issue for Hacktoberfest.

[2019-10-12 09:31] LilJohny commented on #712
@lk-geimfari Can I do this?

[2019-10-12 09:35] LilJohny commented on #727
@lk-geimfari  Can I take this?

[2019-10-12 12:02] lk-geimfari commented on #712
@LilJohny Sure.

[2019-10-12 12:03] lk-geimfari commented on #727
@LilJohny Sure you can. Feel free to create PR. You can also create a method for generating tensors.

[2019-10-13 09:41] LilJohny commented on #712
@lk-geimfari  Please check my pull request #740

[2019-10-18 06:40] gupta-kartik20 commented on #727
@lk-geimfari Hi! I'd like to work on it. Kindly allow me an issue here.

[2019-10-18 07:30] lk-geimfari commented on #727
@gupta-kartik20 Sure! I'll wait for PR.

[2019-10-28 13:21] #712 closed

[2019-10-28 13:21] #580 closed

[2019-11-21 01:39] jwilges opened #759 "CI pip dependency cache may be stale"
# CI build error

## What's wrong

It looks like all [recent](https://travis-ci.org/lk-geimfari/mimesis/builds/614763358) Travis CI builds are failing in part due to the `mypy-extensions` package (0.4.2) failing a hash check. I noticed this in the [build results for my recent patch request](https://travis-ci.org/lk-geimfari/mimesis/jobs/614828210#L493):

[code]

(output trimmed for brevity and to

[2019-11-21 08:36] lk-geimfari commented on #759
@jwilges First of all, thank you! It would be really great if you can create PR. I'm too busy unfortunately and I can't work on it right now, but I can merge PR — it not takes much time.

[2019-11-21 20:30] #759 closed

[2019-11-21 21:15] lk-geimfari opened #761 "Improve IPv4/IPv6 generators for Internet()"
We can improve how `.ip_v4()` and `.ip_v6()` works.

I suggest using `ipaddress` module from the standard library, just like this:

[code]

The idea is to support IP addresses as objects to make them more useful than just strings.

[2019-11-21 23:56] jwilges commented on #759
Thanks, @lk-geimfari and @ceccoemi.

I'll take a look at the remaining build issue for Windows 10 as it's also likely a fairly quick fix.

[2019-11-23 15:53] lk-geimfari opened #763 "PyPi auto deployment fails"
I've tried to publish v3.4.0, but it seems something is wrong.

More details here: https://travis-ci.org/lk-geimfari/mimesis/jobs/615995403

[2019-11-23 15:55] lk-geimfari commented on #763
@jwilges @ceccoemi Any ideas of how we can fix it?

[2019-11-23 18:51] jwilges commented on #763
Hey @lk-geimfari, I can try to take a look. I am not at a computer at the moment but after looking at the log and a quick glance through the Travis documentation I think it might be worth trying this first since it’s easy to check:

Edit the `deploy` section of the Travis config file to have this: `skip_existing: true`.

I haven’t used Travis CI prior to looking at this project (I have been using

[2019-11-23 22:33] lk-geimfari commented on #763
@jwilges Unfortunately, it [did not help](https://travis-ci.org/lk-geimfari/mimesis/jobs/616106977).

[2019-11-23 22:37] jwilges commented on #763
Thanks for checking - that was my only quick guess without looking into it deeply. The log output was not incredibly enlightening, for some reason. I'll see if I can set aside some time to reproduce the deploy issue in my fork of the project so we can get new releases going again.

[2019-11-23 22:45] lk-geimfari commented on #763
UPD: I think that in this version has no enough to be 3.4.0, so I guess it will be 3.3.1, when we solve the problem with deployment.

[2019-11-30 08:33] lk-geimfari commented on #763
@ceccoemi If you have free time to contribute, please look at this issue too. Thank you!

[2019-11-30 09:06] ceccoemi opened #769 "Restructure Numbers provider"
# Feature request

## Thesis

While I was implementing the ``matrix()`` function in the ``Numbers`` provider and I was thinking about some changes that we could make in this provider:

- Add a function ``complex(start, end, length)`` that return a random array of complex numbers
- Make the API uniform, so that every function in the ``Numbers`` provider has the arguments ``start, end, length`` (whe

[2019-11-30 10:47] ceccoemi commented on #763
@lk-geimfari  it's a bit difficult to reproduce for me.

Have you seen [this](https://travis-ci.community/t/unable-to-upload-package-to-pypi/5260)? They resolved it by escaping special characters in the password.

[2019-12-01 10:16] lk-geimfari commented on #769
@ceccoemi I like this idea. You can implement it. Please, try to do changes without broking API.

[2019-12-01 10:19] lk-geimfari commented on #769
@ceccoemi And yeah you're right — `rating` is not really useful function. Just do not forget about changelogs and inform there what users must use instead of it. Thank you!

[2019-12-01 10:23] lk-geimfari commented on #763
@ceccoemi I remembered now that a month ago I have changed the password of my PyPi account and absolutely forget about changing it in Travis CI environment variables. I think that this issue is not actual anymore and I'll close it as soon as I release 3.3.1.

[2019-12-01 10:24] lk-geimfari commented on #763
@ceccoemi I'll wait for your changes related to `Number` providers and then — I'll create a release.

[2019-12-01 10:53] lk-geimfari opened #771 "Tests failing on Python 3.8"
Seems like tests are failed on Python 3.8 like we can see here: #770. We need to fix it.

As I can judge it happens because of the enum object. Not sure why exactly, but it seems it's related to it: https://travis-ci.org/lk-geimfari/mimesis/jobs/619191162?utm_medium=notification&utm_source=github_status

[2019-12-01 10:56] #763 closed

[2019-12-01 10:57] lk-geimfari commented on #763
I think there is no need to keep it opened.

[2019-12-01 14:13] ceccoemi commented on #771
Found the issue!
If you run in a Python 3.7 prompt

you get the warning

    DeprecationWarning: using non-Enums in containment checks will raise TypeError in Python 3.8

I will fix the issue

[2019-12-01 18:49] lk-geimfari commented on #771
@ceccoemi Well, now tests fails only on Windows. Much better, but we also need to fix the issue with Windows too (but the problem with Windows is unrelated to this issue).

[2019-12-04 09:06] #769 closed

[2019-12-04 10:03] lk-geimfari commented on #771
Fixed in #774

[2019-12-04 10:06] #771 closed

[2019-12-06 04:01] TacoBel42 commented on #761
I can make class with methods like:
• .get_mask()
• .set_public()
• .set_local()
• .add_DN() - Domain name
• .set_route()
• .add_to_route_list()

Give me response about my idea

[2019-12-06 11:12] sobolevn opened #775 "Add future and past providers to datetime"
I would love to see the same feature from `Datetime` ported to both `FutureDatetime` and `PastDatetime` providers.

I hope that you will get the idea from the class names 🙂

[2019-12-06 11:12] sobolevn commented on #775
Related: https://faker.readthedocs.io/en/master/providers/faker.providers.date_time.html

[2019-12-10 09:44] #727 closed

[2019-12-11 15:42] lk-geimfari commented on #775
@ceccoemi Any chance you can work on it? I'm about to publish a new version and this feature will be a great addition in the changelog.

[2019-12-11 15:46] ceccoemi commented on #775
@lk-geimfari yes, I should be able to work on it. Give me 2/3 days

[2019-12-11 15:49] lk-geimfari commented on #775
@ceccoemi Great! Thank you very much! Feel free to ask your questions about the feature to @sobolevn.

[2019-12-11 16:36] ceccoemi commented on #775
@sobolevn @lk-geimfari a couple of questions.

What do you think about adding the `FutureDatetime` and `PastDatetime` providers as subclass of the `Datetime` provider? In that case, is it ok if I include them in the same module `date.py`?

My idea is to override the methods that accepts the argument `start` and to set it to a moment in the future/past.

[2019-12-11 20:42] sobolevn commented on #775
Sounds like a plan!

[2019-12-13 23:24] lk-geimfari opened #781 "Migrate to poetry for dependency management."
Pipenv just sucks. We should use poetry.

Files to update:
- [x] Update `CONTRIBUTING.rst`
- [x] Update `.travis.yml`

[2019-12-14 09:15] #761 closed

[2019-12-14 09:16] lk-geimfari commented on #761
Done! #780

[2019-12-14 09:17] #713 closed

[2019-12-14 10:03] sobolevn commented on #269
@lk-geimfari ?

[2019-12-14 10:09] lk-geimfari commented on #269
@sobolevn Oh, sorry. Accidentally closed this one.

[2019-12-15 09:32] lk-geimfari commented on #781
I'm still working on this here: #784

[2019-12-24 21:31] terciero commented on #466
I'd love to give this a shot if no one else is currently working on it.

[2019-12-25 11:00] lk-geimfari commented on #466
@terciero It would be great! Thank you!

[2019-12-26 18:24] terciero commented on #466
Perfect! I'll pick up from the branch that @sadielbartholomew started.

[2019-12-27 08:24] lk-geimfari commented on #466
Great! Thank you!

[2019-12-30 19:42] terciero commented on #466
Slightly delayed by holidays, but still working on this!

[2020-01-02 12:09] harshabugg opened #794 "How to restrict the length of string generated"
If I am generating username in the following way
generic.person.username('UU_d')
How can I restrict the length of string generated to say only 8 characters or 10 characters?

[2020-01-02 12:18] lk-geimfari commented on #794
I'm afraid that you need to cut them using slice because at this moment there is no such feature.

Like this:
[code]

The problem here that it can generate usernames with length of of less than 8 characters.

[2020-01-02 12:20] lk-geimfari opened #795 "Unique usernames and email addresses support"
We need to support the generating of unique usernames and emails.

We can use UUID object for this one.

[2020-01-02 12:31] lk-geimfari commented on #795
Quick example:

[code]

[2020-01-02 12:50] lk-geimfari commented on #795
It would be a good idea to add a method which will flush the temporary store when you do not need  it to store anymore (after unique values were generated):

[code]

[2020-01-02 13:20] lk-geimfari opened #796 "Add support of separator for mnemonic_phrase"
[code]

[2020-01-02 13:29] lk-geimfari commented on #795
Here are performance tests for this code:

[code]

[code]

[2020-01-02 13:32] lk-geimfari commented on #795
I think that it's better to set maximum values of allowed unique values for generating to avoid error related to recursion max depth.

[2020-01-02 13:34] lk-geimfari commented on #795
@ceccoemi Hi! What do you think? What is the optimal value for it?

[2020-01-02 13:48] lk-geimfari commented on #795
Quick implementation:

[code]

[2020-01-02 19:24] #796 closed

[2020-01-02 19:41] lk-geimfari opened #797 "Add an easy way to get raw data of the provider"
Sometimes we need to access the `data` attribute.

So I suggest this:
[code]
Instead of this:
[code]

[2020-01-02 19:45] lk-geimfari commented on #797
We just need to add something like this to the base provider:

[code]

[2020-01-02 21:30] ceccoemi commented on #795
@lk-geimfari I think that the maximum number depends on the template. If I choose the simplest template `'l'` or `'U'` there can be generated only 6794 unique usernames, but if I choose for example `Ud` then I can generate `6794*100_00 = 679400000` usernames. Clearly, The maximum number should be much less of the maximum number of unique usernames, but I think that it should depend on the template

[2020-01-02 23:15] lk-geimfari commented on #795
@ceccoemi Yeah, I know it we can extend possible unique values with just changing`min_date` and `max_date` to the range of random number from 1 to n.

I was talking about hardcoded limitations to avoid problems with long-running and too deep recursions.

So `max_unique_values` in code above does not mean that there are only `max_unique_values` unique values it only means that we allow storing only

[2020-01-02 23:16] lk-geimfari commented on #795
I think that it's better than the complex dynamic processing of possible combinations of unique usernames.

[2020-01-03 04:01] harshabugg commented on #794
Thank you.

Is it possible to add this feature and make a release as I feel this feature would be really helpful?

[2020-01-03 11:14] lk-geimfari commented on #794
I think we can add something like this:

[code]

So, my answer is yes we will add such a feature. The release of 4.0.0 will be not really soon but we will add such a feature to it.

Thank you for your interest and suggestion we appreciate it.

[2020-01-03 12:24] harshabugg commented on #794
Thanks for your support.

[2020-01-03 14:59] ceccoemi commented on #795
@lk-geimfari yes, I agree that we should set a harcoded maximum. But if I choose the template `'l'` or `'U'` and if I generate more then 6794 usernames then I will get a `RecursionError`.

[2020-01-03 15:36] ceccoemi commented on #794
@lk-geimfari with the current implementation, I think that is a bit complicated to generate usernames of a given length or of a certain maximum length. There are too much variables such as the chosen template and the number of digits. To implement this feature, I think that this method needs to be changed

[2020-01-03 22:07] lk-geimfari commented on #794
@ceccoemi I have tried today and yes, you're totally right. It's too complicated. I don't think the effort is worth it.

[2020-01-03 22:36] lk-geimfari commented on #466
@terciero 🏓

[2020-01-03 22:44] terciero commented on #466
Have been away from an internet connection, but will be back on this
starting Monday.

If that is too much of a delay someone else can snag the issue.

On Fri, Jan 3, 2020, 2:36 PM Líkið Geimfari <notifications@github.com>
wrote:

[2020-01-16 14:00] lk-geimfari opened #800 "Add decimal generator to Numbers"
It's pretty clear what to do from the title of this issue — we need to add a new method which will generate decimal numbers.

[2020-01-21 10:29] lk-geimfari opened #803 "Add support of IPNetworks"
It would be useful to support generation of `IPv4Network` and `IPv6Network` objects.

[2020-01-21 20:54] ceccoemi commented on #803
Hi @lk-geimfari, I'm sorry but at the moment I don't have time to work on it.

I will let you know when I'm available.

[2020-01-21 22:32] lk-geimfari commented on #803
@ceccoemi It's okay, don't worry.

[2020-01-23 13:47] Klepner opened #804 "Locale not respected for Datetime.formatted_datetime()"
# Bug report
I'm trying to generate dates with the name of the month in words in Russian.
I create the "RU" locale and use it to create an object Datetime, but I get the name of the month in English.

## What's wrong
`from mimesis import Datetime`
`from mimesis import locales`
`dt = Datetime(locales.RU)`
`dt.datetime()`
`t = dt.formatted_datetime("%d %b %Y")`
'24 Oct 2032'
`import locale`
`locale.

[2020-01-23 21:17] lk-geimfari commented on #804
@Klepner Thank you for the report! Unfortunately, this feature was not implemented at all. So I'll work on it as soon as I can.

[2020-01-24 06:01] Klepner commented on #804
Thanks for the quick response!

[2020-01-25 12:52] #800 closed

[2020-01-25 13:32] lk-geimfari commented on #804
Well, at this time there only one problem with implementing these issues: `locale.setlocale` fails when you trying to set `fa-IR` (Persian):

[code]

[2020-01-28 13:29] tangram commented on #96
Hi there. I've had a look at the Norwegian (`no`) locale, and noticed lots of things that are outright wrong or could be improved. I'd be happy to work on it.

[2020-01-28 15:17] lk-geimfari commented on #96
@tangram It would be awesome! Thank you very much! I'll wait for your PR.

[2020-02-12 10:45] #269 closed

[2020-02-22 12:25] lk-geimfari opened #813 "State-specific phone numbers for USA"
I know this is a few months old but would be nice if `address.state()` and `address.city()` worked like `address.country()`, I mean, if your locale is EN you should be getting addresses for the United States only but also if the state is Arizona you should get only cities from Arizona and not from other states, also the change to Address that allow you to use a locale only works when you use direc

[2020-02-23 20:46] lk-geimfari commented on #813
I have implemented it in branch [usa_telephone_by_state](https://github.com/lk-geimfari/mimesis/tree/usa_telephone_by_state) but I have not written tests yet.

[2020-02-25 18:58] lk-geimfari opened #817 "CI fails on testing matrix method sometimes"
Travis CI report: [here](https://travis-ci.org/lk-geimfari/mimesis/jobs/654638429?utm_medium=notification&utm_source=github_status)

[2020-02-27 07:03] #781 closed

[2020-03-03 23:20] #794 closed

[2020-04-09 20:24] jrast opened #835 "Update swiss person dataset"
The swiss (de-ch) person dataset seems to have quite untypical names (first names) in it. Also the list of last names is quite short.

The Federal Statistical Office has a large list with firstnames and how common they are (where in 2018): [Source](https://www.bfs.admin.ch/bfs/de/home/statistiken/bevoelkerung/geburten-todesfaelle/vornamen-schweiz.html)

The swiss post provides a large collection a

[2020-04-10 09:04] lk-geimfari commented on #835
Great idea! I think 8k names (or less) and 8k  (or less) surnames will be enough. The main condition is that names must be valid and that's it.

I'll be waiting for your PR.

[2020-04-13 13:41] #835 closed

[2020-04-22 18:51] #797 closed

[2020-04-24 15:36] #813 closed

[2020-04-25 20:38] #817 closed

[2020-05-12 18:45] tabassco commented on #468
If no one is working on this at the moment, I'd like to give it a shot.

[2020-05-12 20:28] tabassco commented on #468
Checking this issue vs #469 I see it that this issue is already fulfilled. As described in the opening post, the intent was to run pytest in random order to check for possible dependencies of the tests.

To make use of the seed functionality in pytest-randomly I modified the makefile so that it now takes an optional parameter SEED.

[code]

[code]

SEED can be:
 "last" -> rerunning the tests with

[2020-05-14 08:55] #468 closed

[2020-05-14 08:56] lk-geimfari commented on #469
Fixed in #849

[2020-06-01 11:28] #803 closed

[2020-06-05 19:36] lk-geimfari opened #868 "Remove download_image function."
# Bug report

This is not a kind of problem mimesis solves. So it's pretty annoying when tests fail because of it all the time. It's better just remove it.

[2020-06-05 21:55] lk-geimfari opened #869 "Add support of ISO 6346"
# Feature request

Add support of [ISO 6346](https://en.wikipedia.org/wiki/ISO_6346)data.

[2020-06-06 09:07] eumiro opened #870 "Outdated “current” year"
# Bug report

## What's wrong

Some providers return “current” dates from a few years ago, because they are hardwired to the “current” year from those times, such as:

- `mimesis.Datetime().week_date()`
- `mimesis.Datetime().date()`
- `mimesis.Development().version(calver=True)`
- `PolandSpecProvider().pesel()`

## How is that should be

Having a global `now` would break a lot of things, because w

[2020-06-06 09:23] eumiro opened #871 "Add pricetag support"
# Feature request
## Thesis

Create a localized pricetag:

[code]
with defaults minimum=0.01 and maximum=1000.00 as a proposal for the default provider. Localized providers would define their own values, because of huge differences between the used values, such as USD/EUR/GBP going down to 0.01, and some minor currencies using millions as base.

## Reasoning

This is very locale dependent. Currenc

[2020-06-06 09:45] lk-geimfari commented on #870
@eumiro I think that we need to make `end` parameter equal to `None` and use `datetime.now` when `end` was not passed.

[2020-06-06 09:49] eumiro commented on #870
This would break the logic. Every time you initialize `mimesis` with the same seed and call the method with `None`, it will deliver different results.

[2020-06-06 09:52] lk-geimfari commented on #870
Right, but it will break thing if we will to it like this too:

[code]

[2020-06-06 09:54] lk-geimfari commented on #870
@sobolevn @ceccoemi Any suggestions?

[2020-06-06 09:55] lk-geimfari commented on #870
@eumiro What if you pass parameters `start` and `end` explicitly?

[2020-06-06 09:57] lk-geimfari commented on #871
@eumiro I think this is a good idea. Any change you can work on it?

[2020-06-06 10:00] lk-geimfari commented on #871
@eumiro We already have something similar there: `.price()`

[2020-06-06 10:01] lk-geimfari commented on #871
It was a bad idea to return str from `.price()` of course.

[2020-06-06 10:02] lk-geimfari commented on #871
<img width="439" alt="Screenshot 2020-06-06 at 13 02 18" src="https://user-images.githubusercontent.com/15812620/83941690-fbb52400-a7f5-11ea-933d-a00690727034.png">

[2020-06-06 10:02] eumiro commented on #870
In that case it works as imagined, of course. The question is, how much code you want to let the user write.

There could be some global switch between deterministic (hardwired minimal and maximal year) and more realistic behavior (`datetime.utcnow`). Now the only realistic external factor is the clock, but mimesis could read and use the current locale (possible) or get the current location to gen

[2020-06-06 10:11] lk-geimfari commented on #870
@eumiro Seems like the only way is changing `end` to current every year.

[2020-06-06 10:11] lk-geimfari commented on #870
I mean the only way without breaking things.

[2020-06-06 10:13] lk-geimfari commented on #870
And we don't have to migrate to `calver`. We'll just mention such changes in CHANGELOG.

[2020-06-06 10:23] lk-geimfari commented on #870
@eumiro Can you, please, check #872?

[2020-06-06 10:23] eumiro commented on #871
Yes, but it does not format numbers nor position the currency symbol according to the locale and the values go down to 0.01.

[2020-06-06 10:24] lk-geimfari commented on #870
I think it will work with seed as well because date().year will always return the same value.

[2020-06-06 10:27] lk-geimfari commented on #871
@eumiro We can just add such features to it. There is not necessary to duplicate almost the same features.

[2020-06-06 10:28] lk-geimfari commented on #871
@eumiro If you're interested then you can create PR with changes.

[2020-06-06 10:30] eumiro commented on #870
It looks good. And it will return the same value within one year, which is probably okay for your users.

[2020-06-06 11:29] #868 closed

[2020-06-06 12:07] #870 closed

[2020-06-06 12:16] lk-geimfari commented on #795
Well, I think that this one is better to delegate to users without implementing it in mimesis.

[2020-06-06 12:20] eumiro commented on #871
@lk-geimfari do you have any plans to include general locale formatting support for numbers etc.? I mean if `de` price format is one of `#,## €`, `##,## €`, `###,## €`,  `#.###,## €`, … and the `cs` one `#,#0 Kč`, `##,#0 Kč`, `###,#0 Kč`, `# ###,#0 Kč`, …  then I could put all of them into `mimesis/data/…/business.json` and then pick up one randomly, but if we want a random number between `minimum

[2020-06-06 12:31] lk-geimfari commented on #871
@eumiro Sure! Sounds good. You can define number formation for each locale in their `business.json`.

[2020-06-08 07:32] #871 closed

[2020-06-08 18:01] lk-geimfari opened #878 "The matrix method fails sometimes"
# Bug report

Details: https://travis-ci.org/github/lk-geimfari/mimesis/jobs/696138838

[2020-06-09 06:49] eumiro commented on #878
This happens for numbers like `(0.4889+6e-06j)`, i.e. when the real or imag part are too small and are converted to scientific notation.

[2020-06-09 07:22] lk-geimfari commented on #878
@eumiro Any chance you can work on this?

[2020-06-11 07:16] eumiro commented on #878
Fix provided, although I'd prefer to avoid `round` on floats altogether. I'd leave `float` as is (without precision), or use precise `decimal.Decimal`, or formatted `str` instead.

[2020-06-11 07:49] eumiro opened #882 "Add full localized formatted date provider"
# Feature request
## Thesis

Add full localized formatted date provider, such as:

[code]

## Reasoning

Now only numerical formats are possible (`Y-M-D`, `D.M.Y`, `D/M/Y`, `M/D/Y`) and the names of months (and of weekdays too) are available only as a random text unrelated to any date. Especially in the longer format, such as `Thursday, June 11, 2020` some consistency should be guaranteed, e.g. to

[2020-06-11 10:30] #878 closed

[2020-06-11 10:31] lk-geimfari commented on #882
You can see related issues here: https://github.com/lk-geimfari/mimesis/issues/804

[2020-06-11 10:32] lk-geimfari commented on #882
Have a look at this comment: https://github.com/lk-geimfari/mimesis/issues/804#issuecomment-578406680

[2020-06-11 11:25] eumiro commented on #804
The problem with using `locale.setlocale` is, that it modifies the locale of the process that imports `mimesis`. Example:

[code]

Output:

[code]

And as a user of `mimesis` I wouldn't want it to modify my `locale` even if I use it to generate data in other languages. That's why I'd prefer to avoid using `locale` for localized providers.

[2020-06-11 12:03] lk-geimfari commented on #804
@eumiro You're totally right.

[2020-06-11 12:03] lk-geimfari commented on #804
I'm closing this one then.

[2020-06-11 12:03] #804 closed

[2020-06-14 13:36] #96 closed

[2020-06-23 16:36] lk-geimfari opened #891 "Add PR labeler"
https://github.com/actions/labeler

We can use it to mark PRs related to each part of mimesis.

When changes related to the `docs` it will be `docs-change`, when it's `mimesis/data` it will be `data-change` etc.

[2020-06-27 15:37] lk-geimfari opened #893 "Fix naming issue in decorators"
We need to fix it

[2020-07-13 10:51] lk-geimfari opened #901 "Travis CI broken"
Builds in Travis CI [never](https://github.com/lk-geimfari/mimesis/pull/900) completes.

[2020-07-13 19:10] lk-geimfari opened #902 "Add poetry.toml file to make PyCharm automatically recognize the virtualenv"
We need to add `poetry.toml` file with the following content:

[code]

[2020-07-13 19:21] #902 closed

[2020-07-13 19:26] lk-geimfari commented on #901
@sobolevn Any idea how to fix it? I don't understand what happened to Travis. Seems like we use deprecated API or something.

[2020-07-13 19:27] #893 closed

[2020-07-13 19:30] lk-geimfari commented on #795
Well, I've implemented unique emails already.

[2020-07-17 11:40] lk-geimfari commented on #901
Fixed

[2020-07-17 11:40] #901 closed

[2020-08-10 10:09] lk-geimfari opened #918 "Add UUID objects support for uuid()"
- [x] Add parameter `as_object`

[2020-08-16 10:44] #918 closed

[2020-08-28 07:17] michael0liver opened #928 "PyCharm indicates wrong type for lambda"
# Bug report

## What's wrong

While using PyCharm,  `lambda` type in `Schema` results in *Expected type 'FunctionType', got '() -> Dict[str, Union[str, Any]]' instead*
![Screenshot 2020-08-28 at 07 59 37](https://user-images.githubusercontent.com/55017335/91531501-ca378a80-e904-11ea-9558-5b44bcff7040.png)

## How is that should be
Is this warning correct? The code runs perfectly fine but maybe th

[2020-08-28 07:22] lk-geimfari commented on #928
I've noticed this behavior too. I think this happens since one of the last releases of `mypy`. I think that we can use `Callable`.

[2020-08-28 07:23] lk-geimfari commented on #928
If you have free time then you can create a PR, of course.

[2020-08-28 10:59] michael0liver commented on #928
Sorry I didn't get time, I see you have started now :)
Maybe next time !

[2020-08-29 10:59] #928 closed

[2020-09-15 15:08] galipremsagar opened #936 "Providing same seed is resulting in different results for `randstr`"
# Bug report

Using random.seed doesn't seem to have an effect when `random.randstr` is called.

## What's wrong

[code]

If we see the above example, `randints` provide deterministic results with same seed values. But `randstr` is providing non-deterministic strings with same seed values too.

## How is that should be

The `randstr` api should be deterministic when same seed is passed everytime.

[2020-09-24 17:21] dependabot-preview[bot] opened #939 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/lk-geimfari) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/lk-geimfari/update-logs/48508625).

[2020-09-25 16:05] #939 closed

[2020-09-27 12:03] lk-geimfari commented on #936
@galipremsagar Can you tell me please how exactly you encountered this bug? Actually, this method must be private and we made a mistake making it public. Did you try to use this method in your custom data provider or something? Or did bug happens when you using some of the existing providers?

[2020-09-28 19:10] galipremsagar commented on #936
@lk-geimfari This bug surfaces when I try to use the above code give in the code-sample as is. I found this API to be matching my requirement. Is there any alternate API which works deterministically when the seed is same?

[2020-10-01 16:20] CilgaIscan opened #941 "Translation of science.json to Turkish."
I noticed that science.json in TR directory wasn't translated appropriately. I would like to translate it for Hacktoberfest 2020. (Actually, I have already completed the translation. And ready to open a PR.)

[2020-10-01 18:36] lk-geimfari commented on #941
@CilgaIscan That's a great idea! I'll wait for your PR.

[2020-10-02 05:15] #941 closed

[2020-10-04 16:27] aekt commented on #891
Hi @lk-geimfari, can I help on this?

And for changes on `mimesis/*.py` files, what label is expected?

[2020-10-04 19:19] lk-geimfari commented on #891
@aekt Sure you can!

mimesis/data/ — `data-change`
mimesis/providers/*.py — `provider-changes`
docs/ — `documentation`
tests/ — `tests`
mimesis/*.py — no labels

[2020-10-05 09:05] #891 closed

[2020-10-06 12:34] dinhanhx opened #950 "Add vn (vietnamese) language"
# Feature request

Add vn folder to data folder

## Thesis

I will use ~/mimeis/data/en as base to make a version for vn language

## Reasoning

- I am Vietnamese

- I want to do something for hackotber2020 and for my people

[2020-10-06 15:57] lk-geimfari commented on #950
I don't mind, but only if you can guarantee the completeness and the volume of data. Collecting enough data is a time-consuming task, so if you are not sure that you will complete this task, then it is better not to waste your time and mine.

[2020-10-06 16:01] lk-geimfari commented on #950
If you are serious about the contribution to this project and ready to spend time on this, then have a look: [CONTRIBUTING](https://github.com/lk-geimfari/mimesis/blob/master/CONTRIBUTING.rst)

[2020-10-07 01:32] dinhanhx commented on #950
Sorry for bothering you. I find out that if I do this under 23 days, I will be overwhelmed with other school works. I will close this issue.

[2020-10-07 01:32] #950 closed

[2020-10-07 05:46] lk-geimfari commented on #950
@dinhanhx It's okay!

[2020-10-08 14:18] Toffl commented on #795
I might like to help. Where can I start?

[2020-10-28 18:49] jjgriff93 opened #960 "Import schema from a JSON template"
# Feature request

Hello :) In the current implementation of Schemas and Fields, there seems to be no way to import a JSON file to read into the schema constructor. I believe this used to be possible in an old version of Mimesis by using the following:

[code]

With a schema json that looked like this:

[code]

It would be great in the current implementation if it were still possible to do this al

[2020-10-29 06:45] lk-geimfari commented on #960
@jjgriff93 Hi! Thanks for a great idea! I'll work on it this weekend.

[2020-10-29 15:26] jjgriff93 commented on #960
Amazing, thanks @lk-geimfari - excited to use it!

[2020-11-02 10:39] lk-geimfari opened #963 "Migrate to Github Actions"
Well, seems like Travis CI is not really free anymore, so we need to migrate to Github Actions.

[2020-11-03 14:16] amitwalke opened #966 "Data distribution for dimension columns"
# Bug report

## What's wrong

Does mimesis support following -

1. Data Distribution of of  DIMENSION  columns – I didn’t see any easy way to specific % rows per value.
2. Unique Key – There is randstr(unique=False, length=None). It allows unique values but only for strings, but not integers
3. Foreign Key – I couldn’t find anything for that.

[2020-11-12 20:16] neumond opened #968 "Providers occupy too much memory"
# Bug report

## What's wrong

Open a REPL, create not-so-huge amount of providers:

[code]

Not examine memory footprint of the process: in my case it's 1,1g.

## How is that should be

Why would I need so many providers? I never knew they're such heavy objects, I was using them naively in tests:

[code]

Seems like pytest keeps references to each fixture value, even if the test has finished. In

[2020-11-13 07:17] lk-geimfari commented on #968
I agree. I'll add much more information about memory usage.

[2020-11-14 14:32] #968 closed

[2020-11-15 09:36] alexanderfefelov opened #971 "Russian locale is unreasonably big"
[person.json](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/data/ru/person.json) for russian locale is oversized. Compare his 158 klines with 6 klines in [english version](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/data/en/person.json). The dictionaries contains a ton of crap like"Абдулгаллямов",   "Некрут", "Прибыток", "Хач", "Шт" etc, impacts performance/memory.

Rap

[2020-11-15 09:42] lk-geimfari commented on #971
Yeah, the names and surnames should be updated for sure. This data was collected from the open resources and they weren't checked.

[2020-11-18 08:05] #963 closed

[2020-11-18 08:07] lk-geimfari opened #975 "Configure CODECOV and PYPI tokens for Github Actions"
The secrets should be added

[2020-11-18 08:08] lk-geimfari opened #976 "Remove Travis CI completely."
After checking Github Actions, Travis CI should be removed completely.

[2020-11-18 23:14] sbdchd opened #977 "Mypy can't find types"
# Bug report

## What's wrong

[code]

running Mypy I get:

[code]

## How is that should be

Instead mypy should be able to find the type stubs.

I believe this is because the `package_data` is missing in the `setup.py`

https://www.python.org/dev/peps/pep-0561/#packaging-type-information

Maybe something like:

[code]

I download the repo and built the wheel manually and when I install that
mypy

[2020-11-19 11:14] MrGreenTea commented on #977
I assume this is because [py.typed](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/py.typed) is not included in the release.

[2020-11-20 22:41] lk-geimfari opened #979 "Dependencies installation fails on Windows with Python 3.6.x"
The details: https://github.com/lk-geimfari/mimesis/runs/1433810251?check_suite_focus=true

[2020-11-20 22:41] #975 closed

[2020-11-20 22:43] #977 closed

[2020-11-20 22:49] lk-geimfari commented on #960
Well, this is not as easy as it looks. Most of the fields accept parameters (like `Gender` etc.), so I'm not sure about this feature. I'll not close this issue, but this feature is not in priority right now.

[2020-11-22 12:30] jjgriff93 commented on #960
Okay understood - yes think the parameter passing will need a re-think for this

[2020-11-26 08:01] lk-geimfari opened #980 "Opt-out setup.py since we are using Poetry."
At this moment this is not possible, since there is a JSON minifier in `setup.py`

[2020-12-06 09:57] eumiro commented on #976
Is this finished? In a new PR, such as #981, following line appears: `continuous-integration/travis-ci Expected — Waiting for status to be reported` and there's even a report email coming from travis.

[2020-12-06 16:32] lk-geimfari commented on #976
@eumiro Actually it should be, but I see that it's not. I'm gonna fix this one.

[2020-12-06 16:35] lk-geimfari commented on #976
@eumiro It's pretty strange because I've removed all applications and integrations from this repository.

[2020-12-06 16:46] lk-geimfari commented on #976
It's done now.

[2020-12-06 16:47] lk-geimfari opened #982 "Show result of test action for all pull requests."
Right now we can see the result of changes only after merging PR to the master branch. It's good to see the result of the test right on PR's page.

[2020-12-06 16:49] lk-geimfari commented on #982
@michael0liver Since initially Github Actions was added by you, maybe this one will be interesting for you too? Thank you!

[2020-12-06 16:51] #982 closed

[2020-12-07 08:01] michael0liver commented on #982
Hey @lk-geimfari I got a notification that you tagged me but I can't see the message?

[2020-12-14 13:12] MrGreenTea commented on #977
@lk-geimfari Will you release this fix in the near future?

[2020-12-14 14:00] lk-geimfari commented on #977
Sure. I'll release it today or tomorrow that's for sure.

[2020-12-14 14:01] lk-geimfari opened #986 "Release latest version with fixed types"

[2020-12-15 08:01] lk-geimfari commented on #976
I'm closing this. Thank you very much for your help, @michael0liver!

[2020-12-15 08:01] #976 closed

[2020-12-21 11:13] lk-geimfari commented on #986
Done!

[2020-12-21 11:13] #986 closed

[2020-12-21 11:14] lk-geimfari commented on #977
@MrGreenTea I've released 4.1.3.

[2020-12-24 09:40] #795 closed

[2021-01-17 19:12] #966 closed

[2021-01-30 03:12] #971 closed

[2021-02-05 20:38] #960 closed

[2021-02-05 20:38] #979 closed

[2021-02-05 20:38] #980 closed

[2021-03-27 10:46] lk-geimfari opened #1029 "Support writable objects"
What we need is to add samples of the following types:

[code]

We can add method `.writable_object()` for provider `File`.

[2021-04-07 10:52] lk-geimfari commented on #882
Tst

[2021-04-07 17:44] xioren opened #1031 "Available Data"
Just wanted to say that there is a project I worked on a while back that is dead that has localization data of names and cities for countries that are not in the mimesis project. Feel free to use localization data from that repository if it's useful to you. https://github.com/xioren/JohnDoe/tree/master/john_doe

[2021-04-07 19:58] lk-geimfari commented on #1031
Sure. Thank you!

[2021-04-07 19:58] #1031 closed

[2021-04-10 21:06] lk-geimfari opened #1032 "Use ord/char for generating strings in rna_sequence/dna_sequence"
Generating numbers is more efficient than generating strings.

[2021-04-17 19:49] lk-geimfari opened #1040 "Add generator for stock market data"

[2021-04-25 10:51] lk-geimfari opened #1041 "Remove invalid Russian surnames"

[2021-05-07 10:38] lk-geimfari opened #1049 "Add incremental value generator"

[2021-05-07 15:04] Skeen opened #1050 "The DenmarkSpecProvider generates invalid CPR-numbers"
# Bug report
The DenmarkSpecProvider generates invalid CPR-numbers

## What's wrong
The `DenmarkSpecProvider` generates CPR numbers using this code:
[code]
This is will yield incorrect CPR numbers, for instance the CPR number: `3102509000` which is invalid for several reasons:
1. The date part should be valid; 31th of Feburary 1950/2050 is not a valid date.
2. The `serial_number` is not just a ran

[2021-05-08 09:35] lk-geimfari commented on #1050
@Skeen Can you please, create PR?

[2021-05-11 12:38] azachar opened #1056 "IBAN numbers"
Hello,
do you support IBAN bank account numbers like in Faker?

Thank you!

Andrej

[2021-05-11 14:27] lk-geimfari commented on #1056
@azachar Alas, but not yet.

[2021-05-18 19:21] #1041 closed

[2021-05-18 19:21] #1049 closed

[2021-05-18 19:21] #1040 closed

[2021-05-18 19:21] #1029 closed

[2021-06-12 17:42] #1050 closed

[2021-06-20 18:01] #1032 closed

[2021-08-10 02:17] #1056 closed

[2021-08-13 19:11] lk-geimfari commented on #936
This one is already fixed in v5.0.0 which is not released yet.

[2021-08-13 19:11] #936 closed

[2021-08-17 07:52] #475 closed

[2021-08-19 21:06] lk-geimfari opened #1080 "Make locales.Locale enum"
Allow creating localized providers only by enum:

[code]

will be:

[code]

Motivation:

This will allow us to make the API more predictable, as well as avoid locale-related errors.

[2021-08-20 16:51] lk-geimfari opened #1082 "Missing return statement"
For more info: `http://mimesis/providers/cryptographic.py:55`

[2021-08-20 21:40] lk-geimfari opened #1083 "Make add_provider support args and kwargs"
Users cannot pass arguments for the custom data providers.

[2021-09-08 22:46] cryocaustik opened #1087 "ImportError: cannot import name 'Locale' from 'mimesis.locales'"
# Bug report

## What's wrong

Attempting to import `from mimesis.locales import Locale` results in error

[code]

## How is that should be

Locale should import without error

## System information

OS: Win10 Pro v21H1
Python: 3.9.1 64bit
Mimesis: 4.1.3

[2021-09-08 22:48] cryocaustik commented on #1087
Sorry, just realized that docs default to mimesis v5.0.0 while pypi installs v4.1.3.

Closing as this is a result of using a v5 feature in v4

[2021-09-08 22:48] #1087 closed

[2021-09-09 11:00] lk-geimfari commented on #1087
It's my bad that I did not release 5.0.0 yet. I'm going to release it this weekend, I hope. Thank you!

[2021-09-09 11:03] lk-geimfari commented on #1087
It's my bad that I did not release 5.0.0 yet. I'm going to release it this weekend, I hope. Thank you!

[2021-09-25 21:12] #1082 closed

[2021-09-26 09:00] SeanGol opened #1096 "Publish v5.0.0 version to pypi"
# Release request

## Version Info

- version: 5.0.0

## Expected

- Version 5.0.0 appears in [mimesis release history](https://pypi.org/project/mimesis/#history) of pypi

[2021-09-26 09:40] lk-geimfari commented on #1096
I'm still working on it and it contains truly a lot of changes (including major changes).

Mimesis 5.0.0 will require Python 3.8^.

I'll release It in a month, I think.

[2021-09-26 11:35] jodiekurnia commented on #1096
hi, if releasing v5.0.0 on pypi will delayed by a month, can we just access documentation for v4.1.3?
since docs are for v5.0.0 and installation guide make us install older version (v4.1.3) and as you said it has a lot of changes, so v5.0.0 documentation while we can only install v4.1.3 via pip install mimesis is doesn’t makes any sense.

[2021-09-26 18:16] #882 closed

[2021-09-26 18:20] lk-geimfari commented on #1096
@jodiekurnia The documentations of 5.0.0 is mostly applicable to 4.1.3 too.

[2021-09-26 20:38] #1080 closed

[2021-09-26 20:38] #1083 closed

[2021-09-27 06:04] zerocewl opened #1098 "Missing API docs"
# Bug report

The [API](https://mimesis.readthedocs.io/api.html#enums) docs seem to miss most of the content e.g. our sphinx job throws now an error

Warning, treated as error:
[code]

## What's wrong

## How is that should be

## System information

[2021-09-27 11:17] lk-geimfari commented on #1096
I'm closing this issue since I've published 4.1.3 docs on https://mimesis.name.

[2021-09-27 11:17] #1096 closed

[2021-09-27 11:17] lk-geimfari commented on #1098
I've fixed this issue.

[2021-09-27 11:17] #1098 closed

[2021-09-27 12:01] zerocewl commented on #1098
thx, for the quick response.

[2021-11-01 09:15] kvrameshreddy opened #1111 "Include Payment Method in Documents"
Mimesis has Payment method which is not updated in docs.

can you take a look into this and add the method to docs.

Thankyou

[2021-11-01 17:14] lk-geimfari commented on #1111
@kvrameshreddy Извините, я не уверен, что понимаю, о чем вы говорите. Не могли бы вы рассказать поподробнее?

[2021-11-01 17:14] lk-geimfari commented on #1111
@kvrameshreddy Sorry, I'm not sure that I understand what are you talking about. Can you, please, give me more details?

[2021-11-01 17:24] lk-geimfari commented on #1111
Oh, now I see what are you talking about. I've added [`Payment`](https://mimesis.name/api.html#payment) to [`API Reference`](https://mimesis.name/api.html). Thank you very much!

[2021-11-01 17:24] #1111 closed

[2021-11-01 23:30] spalmieri-shippo opened #1113 "Implement "allow_random" on Address Provider's country method"
## What's wrong

The param "allow_random" is not used or implemented for country(). Currently, the method will return a random country, whereas the docs seem to imply it should return the current locale's country.

## How is that should be

The "allow_random" parameter should be used to turn off random selection and it should probably default to `False`

## System information

Will occur regardles

[2021-11-02 20:04] ronniehicks opened #1115 "Generic.reseed doesn't seem to work on internal providers"
# Bug report

## What's wrong

When using the generic provider it seems the reseed function doesn't work correctly.

[code]

Notice that the address value printed isn't the same after reseed.

## How is that should be

Address printed after reseed should match address printed before.

## System information

MacOS 10.15.7
Python 3.7.10
Mimesis 4.1.3 (I know this isn't latest, but my current use cas

[2021-11-02 20:23] lk-geimfari commented on #1115
Well, seems like a bug. I can offer temporary workaround:

[code]

[2021-11-02 20:33] lk-geimfari commented on #1115
Or, something like this:

[code]

[2021-11-02 21:11] #1115 closed

[2021-11-02 21:12] lk-geimfari commented on #1115
I've fixed it in #94eee4e, so I've closed this issue.

[2021-11-05 15:46] TomBerton opened #1118 "Remove inappropriate words from email addresses"
# Inappropriate words are used to generate email addresses.

## What's wrong

I generated random names and emails and the first email is not suitable.

<img width="352" alt="Screen Shot 2021-11-05 at 10 27 10 AM" src="https://user-images.githubusercontent.com/9907572/140538557-5d74104f-a9a1-46eb-91be-cd51fc061d5b.png">

## System information

Using version 4.1.3 and the following locales:

[code]

[2021-11-05 16:24] lk-geimfari commented on #1118
I apologize for this. Such words are completely unacceptable in emails and honestly, I don't have an idea, how we did not notice it in `normal` words. I will remove it immediately.

[2021-11-05 16:26] lk-geimfari commented on #1118
We have one method which can return inappropriate/swear words and it is ``Text().swear word()`` and it was designed for cases when you need to check swear-word filters or something like that, but this... This is extremely bad.

[2021-11-05 16:55] lk-geimfari commented on #1118
Fixed in #1117

[2021-11-05 16:55] #1118 closed

[2021-11-05 18:04] TomBerton commented on #1118
Thank you

[2021-11-10 19:46] lk-geimfari commented on #466
This can be done, like this:
[code]

[2021-11-10 19:46] #466 closed

[2021-12-16 14:44] JonasMedu opened #1139 "Datetime.datetime throws TypeError: 'Datetime' object is not callable"
# Bug report
As far as i can tell, the function "datetime" is not callable via the Schema creation.

According to the Api reference https://mimesis.name/api.html#mimesis.Datetime.datetime and the example in the getting started section i hoped i can create a schema as shown in Whats Wrong.

## What's wrong

[code]

Traceback:
`TypeError: 'Datetime' object is not callable`

## How is that should be

[2021-12-16 16:30] lk-geimfari commented on #1139
@JonasMedu Can you try this, please: `_("datetime.datetime")`?

[2021-12-17 11:17] JonasMedu commented on #1139
@lk-geimfari `_("datetime.datetime")` works nicely.
ref:
[code]

[2021-12-17 12:58] lk-geimfari commented on #1139
It is better to leave this issue open, because I did not fix the bug yet (since it is a bug). I'll close this issue on my own.

[2022-01-06 20:22] ngnpope opened #1150 "Generic provider does not have a per instance random generator."
# Bug report

## What's wrong

- `BaseProvider` calls `.reseed()` from `.__init__()` but only when `seed is not None`.

  https://github.com/lk-geimfari/mimesis/blob/01a29e73eb4f4d9c80bea22f782d42754f8647e1/mimesis/providers/base.py#L24-L53

- `Generic` overrides `.reseed()` and reseeds its sub-providers. However, it doesn't call `super().reseed(seed)` which means that it never creates its own per

[2022-01-06 20:33] lk-geimfari commented on #1150
@ngnpope Can you please create PR? I would happy to merge it and create a new release.

[2022-01-07 19:29] #1150 closed

[2022-01-07 22:14] lk-geimfari commented on #1139
@ngnpope I see that you've contributed a lot to mimesis lately, so maybe you'll find this bug interesting. I've fixed this issue in #1139, but my solution is too ugly (and too dumb) to merge it to master. Maybe you can solve this problem gracefully than I did.

[2022-01-14 21:51] lk-geimfari opened #1172 "Make it possible to use custom seed in custom provider"
At this moment, custom providers do not support different seeds per provider and they just inherit `seed` from `Generic`.

See: [generic.py#L147](https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/generic.py#L147)

[2022-01-14 21:54] lk-geimfari commented on #1172
I'm not sure if this feature or a bug, although I'm the author of that code.

[2022-01-20 09:00] lk-geimfari opened #1177 "Fail of query_string"
[code]

[2022-01-25 20:31] #1177 closed

[2022-02-09 12:59] MKaras93 commented on #469
Hello, I have a question - is randomly supported on 4.1.3? I'm working on Python 3.6, so I can't install a newer version. I'm using `mimesis==4.1.3` and `pytest-randomly==3.10.3`, however even with argument `--randomly-seed=1` I'm getting different results from mimesis when I rerun test. Other random tools repeat their output as expected, I only have problem with mimesis.

It's possible that the p

[2022-03-02 09:05] pedromb opened #1190 "Potential memory leak in Field"
# Bug report

## What's wrong

When creating a `Field` inside a loop the memory doesn't seem to be released after the loop completes. Not sure if this is expected behaviour, but I would assume not.

Here is a reproducible example to highlight, using `memory_profiler` to check for memory usage and `matplotlib` for plotting the memory usage graph..

[code]

Memory keeps piling up when `Field` is cre

[2022-04-28 08:38] #1113 closed

[2022-05-21 23:46] #1139 closed

[2022-07-02 14:31] lk-geimfari opened #1234 "Make providers flyweight"
At this moment providers are too heavy. We have to make them flyweight.

[2022-07-20 09:15] vbuaraujo commented on #1190
From looking at the code, it seems that the problem is the usage of `functools.lru_cache` in https://github.com/lk-geimfari/mimesis/blob/master/mimesis/providers/base.py#L126. If I understand correctly, this is meant to load the JSON data only once, but the problem is that the cache is keyed on all function arguments, including `self`, which will be different for every instance. So this cache does

[2022-08-08 19:13] lk-geimfari commented on #1190
Well, I've fixed this issue. I've removed lru_cache since it works even faster without it. I'll release `6.0.0` soon.

[2022-08-08 19:41] #1190 closed, assigned to nobody

[2022-08-11 23:47] willsthompson opened #1247 "US locale-based addresses include non-US street suffixes"
# Bug report

## What's wrong

When creating addresses using a provider based on the US locale, e.g.
[code]
addresses are returned including street suffixes that are not valid in the US, such as
[code]

## How is that should be

Output should only include only valid street suffixes as defined by USPS: https://pe.usps.com/text/pub28/28apc_002.htm

[2022-08-11 23:52] willsthompson commented on #1247
This looks like a straightforward fix by removing the invalid values and/or replacing them with valid ones in the US locale's `address.json` file. If you have any suggestions on how you'd like it handle, I'd be happy to submit a PR.

[2022-08-12 00:26] willsthompson opened #1248 "Address provider function country() does not apply locale or support allow_random param"
# Bug report

## What's wrong

The [API documentation](https://mimesis.name/en/master/api.html#mimesis.Address.country) for `Address.country()` indicates that it will "Get the country of the current locale", but the current local is not applied, and it instead always returns a random country:

[code]

Additionally, the function docs include the parameter `allow_random`. However, this has not been

[2022-08-12 09:51] lk-geimfari commented on #1247
Hi! Thank you for your interest. I'll wait for your PR. Thank you!

[2022-08-12 09:53] lk-geimfari commented on #1248
Absolutely. Can you, please, create a PR?

[2022-08-12 15:44] willsthompson commented on #1248
@lk-geimfari Sure, I'm happy to do it, but it would essentially be duplicating #1114. Would you rather reopen that one?

[2022-08-12 20:56] #1247 closed

[2022-08-13 04:20] #1172 closed

[2022-09-15 07:47] rgoubet opened #1263 "Reset increment"
# Feature request

Unless I missed it, there doesn't seem to be a way to reset increments: if you generate data several times with the same schema, increments will pick up from the previous creation:

[code]

This returns:

[code]

## Thesis

There should be an option to reset the increment each time data is generated.

## Reasoning

When creating large amounts of data to export several times, you

[2022-09-15 10:38] lk-geimfari commented on #1263
Hi! Actually, there is an `accumulator` argument for such cases: https://mimesis.name/en/master/api.html#mimesis.Numeric.increment

Here is a usage example:

[code]

[2022-09-15 10:44] lk-geimfari commented on #1263
In your case, you are using schemas wrong way. You don't need this:

[code]

Instead use it like this:

[code]

[2022-09-24 10:54] lk-geimfari commented on #1263
@rgoubet Sorry, I don't get the idea. Can you, please, illustrate it on example?

[2022-09-24 10:54] #1248 closed

[2022-09-26 06:58] rgoubet commented on #1263
My use case is that I want to create multiple, large random data sets in Excel files (generated with openpxl) for stress test purposes. So, let's say I want to create 5 files with 1 million rows each (I use 4 columns for readability, while in practice I get 30):

[code]

Now, I'll run a loop for each file, and use the `iterator` to preserve memory:

[code]

Now, it's all good, except that the `id`

[2022-10-16 06:12] #1234 closed

[2022-11-14 11:40] RomanMerkushin opened #1295 "Mistype in person name"
https://github.com/lk-geimfari/mimesis/blob/7cbde1699e4478840b51263a06f145c7cc996c45/mimesis/data/ru/person.json#L4305

"Магдалена" has an ASCII symbol in last "е" character.

In master:
[code]
Correct name:
[code]

[2022-11-14 18:52] lk-geimfari commented on #1295
Wow, that's pretty strange. Can you please, create a PR?

[2022-11-15 19:05] RomanMerkushin commented on #1295
Done

[2022-11-30 11:36] Iain-S opened #1301 "Use of underscore in examples"
# Bug report

## What's wrong?

In the examples [here](https://mimesis.name/en/master/getting_started.html?highlight=_%20%3D%20field#exporting-data) and [here](https://mimesis.name/en/master/getting_started.html?highlight=_%20%3D%20field#exporting-data), you use `_` as a variable name.
For example,

[code]

but sometimes you use

[code]

## How should it be?

I think that `_` should be reserved fo